n8n-workflows/ev-weekly-report.json
{
  "updatedAt": "2026-04-05T19:47:28.923Z",
  "createdAt": "2026-04-05T19:47:28.923Z",
  "id": "sFV6aCeC6AZt4hE2",
  "name": "【正EV週報】每週一自動勝率報告",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "sched-weekly",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 2 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "sheet-read-weekly",
      "name": "Read All Signals",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        200,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R7T5tZ42DGFAymM7",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4",
          "mode": "list",
          "cachedResultName": "Options Dashboard Data"
        },
        "sheetName": {
          "__rl": true,
          "value": "signal_tracking",
          "mode": "name"
        },
        "options": {}
      }
    },
    {
      "id": "code-weekly",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// 每週勝率報告 — 讀取 signal_tracking，計算統計，推播\n// ═══════════════════════════════════════════════════════\n\nconst allSignals = $('Read All Signals').all().map(i => i.json);\nconst now = new Date();\nconst oneWeekAgo = new Date(now - 7 * 86400000).toISOString().slice(0, 10);\nconst today = now.toISOString().slice(0, 10);\n\n// 全部信號\nconst total = allSignals.length;\nconst settled = allSignals.filter(s => s.outcome && s.outcome !== '');\nconst pending = allSignals.filter(s => !s.outcome || s.outcome === '');\n\n// 本週信號（過去 7 天推播的）\nconst thisWeek = allSignals.filter(s => (s.push_time || '').slice(0, 10) >= oneWeekAgo);\nconst thisWeekSettled = thisWeek.filter(s => s.outcome && s.outcome !== '');\n\n// 統計函數\nfunction calcStats(signals) {\n  const s = signals.filter(x => x.outcome);\n  const wins = s.filter(x => x.outcome === 'WIN').length;\n  const losses = s.filter(x => x.outcome === 'LOSS' || x.outcome === 'STOPPED').length;\n  const t = wins + losses;\n  const pnl = s.reduce((sum, x) => sum + (parseFloat(x.actual_pnl) || 0), 0);\n  return { total: t, wins, losses, winRate: t > 0 ? (wins/t*100).toFixed(1) : 'N/A', pnl: pnl.toFixed(2) };\n}\n\n// 按策略\nconst strategies = {};\nfor (const s of settled) {\n  const key = s.strategy || 'unknown';\n  if (!strategies[key]) strategies[key] = [];\n  strategies[key].push(s);\n}\n\n// 按方向\nconst directions = {};\nfor (const s of settled) {\n  const key = s.direction || 'unknown';\n  if (!directions[key]) directions[key] = [];\n  directions[key].push(s);\n}\n\n// 按盤勢\nconst regimes = {};\nfor (const s of settled) {\n  const key = s.market_regime || 'unknown';\n  if (!regimes[key]) regimes[key] = [];\n  regimes[key].push(s);\n}\n\n// 各篩選條件的正確率\nfunction filterWinRate(signals, field, trueVal) {\n  const withFlag = signals.filter(s => {\n    const v = s[field];\n    return v === true || v === 'true' || v === trueVal;\n  });\n  const withoutFlag = signals.filter(s => {\n    const v = s[field];\n    return v !== true && v !== 'true' && v !== trueVal;\n  });\n  const wWith = calcStats(withFlag);\n  const wWithout = calcStats(withoutFlag);\n  return { with: wWith, without: wWithout };\n}\n\nconst allStats = calcStats(settled);\nconst weekStats = calcStats(thisWeekSettled);\n\n// ─── 組裝訊息 ───\nconst twDate = new Date(now.getTime() + 8*3600000);\nconst dateStr = `${twDate.getFullYear()}/${twDate.getMonth()+1}/${twDate.getDate()}`;\n\nlet msg = `📊 正EV週勝率報告 ${dateStr}\\n`;\nmsg += `━━━━━━━━━━━━━━\\n\\n`;\n\n// 總覽\nmsg += `📈 累計統計\\n`;\nmsg += `  總信號: ${total} 筆 | 已結算: ${settled.length} | 待結算: ${pending.length}\\n`;\nmsg += `  勝率: ${allStats.winRate}% (${allStats.wins}勝 ${allStats.losses}敗)\\n`;\nmsg += `  累計P&L: $${allStats.pnl}\\n\\n`;\n\n// 本週\nmsg += `📅 本週 (${oneWeekAgo} ~ ${today})\\n`;\nmsg += `  新信號: ${thisWeek.length} 筆 | 已結算: ${thisWeekSettled.length}\\n`;\nif (thisWeekSettled.length > 0) {\n  msg += `  本週勝率: ${weekStats.winRate}% (${weekStats.wins}勝 ${weekStats.losses}敗)\\n`;\n  msg += `  本週P&L: $${weekStats.pnl}\\n`;\n} else {\n  msg += `  本週尚無結算\\n`;\n}\nmsg += `\\n`;\n\n// 按策略\nmsg += `📋 策略勝率\\n`;\nfor (const [name, sigs] of Object.entries(strategies)) {\n  const st = calcStats(sigs);\n  if (st.total > 0) {\n    msg += `  ${name}: ${st.winRate}% (${st.wins}/${st.total}) P&L $${st.pnl}\\n`;\n  }\n}\nmsg += `\\n`;\n\n// 按方向\nmsg += `🧭 方向勝率\\n`;\nfor (const [name, sigs] of Object.entries(directions)) {\n  const st = calcStats(sigs);\n  if (st.total > 0) {\n    const emoji = name === 'bullish' ? '🟢' : name === 'bearish' ? '🔴' : '⚪';\n    msg += `  ${emoji} ${name}: ${st.winRate}% (${st.wins}/${st.total})\\n`;\n  }\n}\nmsg += `\\n`;\n\n// 按盤勢\nif (Object.keys(regimes).length > 1) {\n  msg += `🏛️ 盤勢勝率\\n`;\n  for (const [name, sigs] of Object.entries(regimes)) {\n    const st = calcStats(sigs);\n    if (st.total > 0) {\n      msg += `  ${name}: ${st.winRate}% (${st.wins}/${st.total})\\n`;\n    }\n  }\n  msg += `\\n`;\n}\n\n// 篩選條件效果\nif (settled.length >= 5) {\n  msg += `🔬 篩選條件效果\\n`;\n  const sa = filterWinRate(settled, 'support_aligned', true);\n  if (sa.with.total > 0 || sa.without.total > 0) {\n    msg += `  支撐對齊: 有=${sa.with.winRate}% vs 無=${sa.without.winRate}%\\n`;\n  }\n  const vs = filterWinRate(settled, 'volume_spike', true);\n  if (vs.with.total > 0 || vs.without.total > 0) {\n    msg += `  成交量爆量: 有=${vs.with.winRate}% vs 無=${vs.without.winRate}%\\n`;\n  }\n}\n\nmsg += `\\n━━━━━━━━━━━━━━\\n`;\nmsg += `v3.4 | 自動週報 | 下次: 下週一 10:00`;\n\n// ─── 推播 ───\nconst LINE_TOKEN = 'y7xe8HwlQP5M0WQ3a9jzALbSSZ6/HtOyf4yQs4Eve0QJKa/JKgLFMYZiR7u4ErA/mvHoe8qRJBwiD21VSL1rb7BsJUmxzx+7OtvRXMChRRkwU87nWDRaC1dhXaYSafma3k2+Pk/QcSRwm7oG2VmxawdB04t89/1O/w1cDnyilFU=';\nconst TG_TOKEN = '8680833770:AAHutju73oP6c5X90GErYXn3hTvqjZIb7po';\nconst TG_CHAT = '-1003799249092';\n\nlet lineResult = 'not sent';\nlet tgResult = 'not sent';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.line.me/v2/bot/message/broadcast',\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + LINE_TOKEN },\n    body: JSON.stringify({ messages: [{ type: 'text', text: msg }] }),\n    returnFullResponse: true, ignoreHttpStatusErrors: true\n  });\n  lineResult = 'ok';\n} catch(e) { lineResult = e.message; }\n\ntry {\n  const tg = await this.helpers.httpRequest({\n    method: 'POST', url: `https://api.telegram.org/bot${TG_TOKEN}/sendMessage`,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: TG_CHAT, text: msg })\n  });\n  tgResult = tg.ok ? 'ok' : JSON.stringify(tg);\n} catch(e) { tgResult = e.message; }\n\n// 也更新到 Dashboard webhook\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://chilldove.app.n8n.cloud/webhook/ev-signals-update',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      timestamp: now.toISOString(),\n      weeklyReport: { allStats, weekStats, strategies: Object.fromEntries(Object.entries(strategies).map(([k,v]) => [k, calcStats(v)])), date: dateStr },\n      signals: [], summary: { type: 'weekly_report', version: 'v3.4' }, raw: []\n    })\n  });\n} catch(e) {}\n\nreturn [{ json: { message: msg, lineResult, tgResult, allStats, weekStats, date: dateStr } }];\n"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read All Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Signals": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "578c6166-b252-4dcc-933f-7073de6d8759",
  "activeVersionId": "578c6166-b252-4dcc-933f-7073de6d8759",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-05T19:47:28.925Z",
      "createdAt": "2026-04-05T19:47:28.925Z",
      "role": "workflow:owner",
      "workflowId": "sFV6aCeC6AZt4hE2",
      "projectId": "XDZLu6ZcPKkiq9Uq",
      "project": {
        "updatedAt": "2026-03-14T06:53:51.790Z",
        "createdAt": "2026-03-14T06:53:45.726Z",
        "id": "XDZLu6ZcPKkiq9Uq",
        "name": "CHILLDOVE   <joseph010409@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-05T19:47:28.952Z",
    "createdAt": "2026-04-05T19:47:28.952Z",
    "versionId": "578c6166-b252-4dcc-933f-7073de6d8759",
    "workflowId": "sFV6aCeC6AZt4hE2",
    "nodes": [
      {
        "id": "sched-weekly",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 2 * * 1"
              }
            ]
          }
        }
      },
      {
        "id": "sheet-read-weekly",
        "name": "Read All Signals",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          200,
          0
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "R7T5tZ42DGFAymM7",
            "name": "Google Sheets OAuth2 API"
          }
        },
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4",
            "mode": "list",
            "cachedResultName": "Options Dashboard Data"
          },
          "sheetName": {
            "__rl": true,
            "value": "signal_tracking",
            "mode": "name"
          },
          "options": {}
        }
      },
      {
        "id": "code-weekly",
        "name": "Build Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          0
        ],
        "parameters": {
          "jsCode": "// ═══════════════════════════════════════════════════════\n// 每週勝率報告 — 讀取 signal_tracking，計算統計，推播\n// ═══════════════════════════════════════════════════════\n\nconst allSignals = $('Read All Signals').all().map(i => i.json);\nconst now = new Date();\nconst oneWeekAgo = new Date(now - 7 * 86400000).toISOString().slice(0, 10);\nconst today = now.toISOString().slice(0, 10);\n\n// 全部信號\nconst total = allSignals.length;\nconst settled = allSignals.filter(s => s.outcome && s.outcome !== '');\nconst pending = allSignals.filter(s => !s.outcome || s.outcome === '');\n\n// 本週信號（過去 7 天推播的）\nconst thisWeek = allSignals.filter(s => (s.push_time || '').slice(0, 10) >= oneWeekAgo);\nconst thisWeekSettled = thisWeek.filter(s => s.outcome && s.outcome !== '');\n\n// 統計函數\nfunction calcStats(signals) {\n  const s = signals.filter(x => x.outcome);\n  const wins = s.filter(x => x.outcome === 'WIN').length;\n  const losses = s.filter(x => x.outcome === 'LOSS' || x.outcome === 'STOPPED').length;\n  const t = wins + losses;\n  const pnl = s.reduce((sum, x) => sum + (parseFloat(x.actual_pnl) || 0), 0);\n  return { total: t, wins, losses, winRate: t > 0 ? (wins/t*100).toFixed(1) : 'N/A', pnl: pnl.toFixed(2) };\n}\n\n// 按策略\nconst strategies = {};\nfor (const s of settled) {\n  const key = s.strategy || 'unknown';\n  if (!strategies[key]) strategies[key] = [];\n  strategies[key].push(s);\n}\n\n// 按方向\nconst directions = {};\nfor (const s of settled) {\n  const key = s.direction || 'unknown';\n  if (!directions[key]) directions[key] = [];\n  directions[key].push(s);\n}\n\n// 按盤勢\nconst regimes = {};\nfor (const s of settled) {\n  const key = s.market_regime || 'unknown';\n  if (!regimes[key]) regimes[key] = [];\n  regimes[key].push(s);\n}\n\n// 各篩選條件的正確率\nfunction filterWinRate(signals, field, trueVal) {\n  const withFlag = signals.filter(s => {\n    const v = s[field];\n    return v === true || v === 'true' || v === trueVal;\n  });\n  const withoutFlag = signals.filter(s => {\n    const v = s[field];\n    return v !== true && v !== 'true' && v !== trueVal;\n  });\n  const wWith = calcStats(withFlag);\n  const wWithout = calcStats(withoutFlag);\n  return { with: wWith, without: wWithout };\n}\n\nconst allStats = calcStats(settled);\nconst weekStats = calcStats(thisWeekSettled);\n\n// ─── 組裝訊息 ───\nconst twDate = new Date(now.getTime() + 8*3600000);\nconst dateStr = `${twDate.getFullYear()}/${twDate.getMonth()+1}/${twDate.getDate()}`;\n\nlet msg = `📊 正EV週勝率報告 ${dateStr}\\n`;\nmsg += `━━━━━━━━━━━━━━\\n\\n`;\n\n// 總覽\nmsg += `📈 累計統計\\n`;\nmsg += `  總信號: ${total} 筆 | 已結算: ${settled.length} | 待結算: ${pending.length}\\n`;\nmsg += `  勝率: ${allStats.winRate}% (${allStats.wins}勝 ${allStats.losses}敗)\\n`;\nmsg += `  累計P&L: $${allStats.pnl}\\n\\n`;\n\n// 本週\nmsg += `📅 本週 (${oneWeekAgo} ~ ${today})\\n`;\nmsg += `  新信號: ${thisWeek.length} 筆 | 已結算: ${thisWeekSettled.length}\\n`;\nif (thisWeekSettled.length > 0) {\n  msg += `  本週勝率: ${weekStats.winRate}% (${weekStats.wins}勝 ${weekStats.losses}敗)\\n`;\n  msg += `  本週P&L: $${weekStats.pnl}\\n`;\n} else {\n  msg += `  本週尚無結算\\n`;\n}\nmsg += `\\n`;\n\n// 按策略\nmsg += `📋 策略勝率\\n`;\nfor (const [name, sigs] of Object.entries(strategies)) {\n  const st = calcStats(sigs);\n  if (st.total > 0) {\n    msg += `  ${name}: ${st.winRate}% (${st.wins}/${st.total}) P&L $${st.pnl}\\n`;\n  }\n}\nmsg += `\\n`;\n\n// 按方向\nmsg += `🧭 方向勝率\\n`;\nfor (const [name, sigs] of Object.entries(directions)) {\n  const st = calcStats(sigs);\n  if (st.total > 0) {\n    const emoji = name === 'bullish' ? '🟢' : name === 'bearish' ? '🔴' : '⚪';\n    msg += `  ${emoji} ${name}: ${st.winRate}% (${st.wins}/${st.total})\\n`;\n  }\n}\nmsg += `\\n`;\n\n// 按盤勢\nif (Object.keys(regimes).length > 1) {\n  msg += `🏛️ 盤勢勝率\\n`;\n  for (const [name, sigs] of Object.entries(regimes)) {\n    const st = calcStats(sigs);\n    if (st.total > 0) {\n      msg += `  ${name}: ${st.winRate}% (${st.wins}/${st.total})\\n`;\n    }\n  }\n  msg += `\\n`;\n}\n\n// 篩選條件效果\nif (settled.length >= 5) {\n  msg += `🔬 篩選條件效果\\n`;\n  const sa = filterWinRate(settled, 'support_aligned', true);\n  if (sa.with.total > 0 || sa.without.total > 0) {\n    msg += `  支撐對齊: 有=${sa.with.winRate}% vs 無=${sa.without.winRate}%\\n`;\n  }\n  const vs = filterWinRate(settled, 'volume_spike', true);\n  if (vs.with.total > 0 || vs.without.total > 0) {\n    msg += `  成交量爆量: 有=${vs.with.winRate}% vs 無=${vs.without.winRate}%\\n`;\n  }\n}\n\nmsg += `\\n━━━━━━━━━━━━━━\\n`;\nmsg += `v3.4 | 自動週報 | 下次: 下週一 10:00`;\n\n// ─── 推播 ───\nconst LINE_TOKEN = 'y7xe8HwlQP5M0WQ3a9jzALbSSZ6/HtOyf4yQs4Eve0QJKa/JKgLFMYZiR7u4ErA/mvHoe8qRJBwiD21VSL1rb7BsJUmxzx+7OtvRXMChRRkwU87nWDRaC1dhXaYSafma3k2+Pk/QcSRwm7oG2VmxawdB04t89/1O/w1cDnyilFU=';\nconst TG_TOKEN = '8680833770:AAHutju73oP6c5X90GErYXn3hTvqjZIb7po';\nconst TG_CHAT = '-1003799249092';\n\nlet lineResult = 'not sent';\nlet tgResult = 'not sent';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.line.me/v2/bot/message/broadcast',\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + LINE_TOKEN },\n    body: JSON.stringify({ messages: [{ type: 'text', text: msg }] }),\n    returnFullResponse: true, ignoreHttpStatusErrors: true\n  });\n  lineResult = 'ok';\n} catch(e) { lineResult = e.message; }\n\ntry {\n  const tg = await this.helpers.httpRequest({\n    method: 'POST', url: `https://api.telegram.org/bot${TG_TOKEN}/sendMessage`,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: TG_CHAT, text: msg })\n  });\n  tgResult = tg.ok ? 'ok' : JSON.stringify(tg);\n} catch(e) { tgResult = e.message; }\n\n// 也更新到 Dashboard webhook\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://chilldove.app.n8n.cloud/webhook/ev-signals-update',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      timestamp: now.toISOString(),\n      weeklyReport: { allStats, weekStats, strategies: Object.fromEntries(Object.entries(strategies).map(([k,v]) => [k, calcStats(v)])), date: dateStr },\n      signals: [], summary: { type: 'weekly_report', version: 'v3.4' }, raw: []\n    })\n  });\n} catch(e) {}\n\nreturn [{ json: { message: msg, lineResult, tgResult, allStats, weekStats, date: dateStr } }];\n"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read All Signals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read All Signals": {
        "main": [
          [
            {
              "node": "Build Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "CHILLDOVE  ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-05T19:47:29.659Z",
        "id": 385,
        "workflowId": "sFV6aCeC6AZt4hE2",
        "versionId": "578c6166-b252-4dcc-933f-7073de6d8759",
        "event": "activated",
        "userId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      }
    ]
  }
}