n8n-workflows/v34-push-engine.json
{
  "updatedAt": "2026-04-06T06:32:28.633Z",
  "createdAt": "2026-03-25T02:23:45.405Z",
  "id": "94K8VLorR9VVxgd3",
  "name": "【正EV履約價推播】開盤後即時推播官方LINE",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "2bcc18e1-0fca-407c-b64b-ab13e4308510",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 40 21,22 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "3b0d2ca3-63d4-47da-983d-e8a6e56d3a49",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.tastyworks.com/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-tastytrade-automation/1.0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "eyJhbGciOiJFZERTQSIsInR5cCI6InJ0K2p3dCIsImtpZCI6ImxycXg3Wm5RNXJ3cHp6WXRTVjRhTjdMODhET0lWODEtRGpQZTVhVkdrcVUiLCJqa3UiOiJodHRwczovL2ludGVyaW9yLWFwaS5hcjIudGFzdHl0cmFkZS5zeXN0ZW1zL29hdXRoL2p3a3MifQ.eyJpc3MiOiJodHRwczovL2FwaS50YXN0eXRyYWRlLmNvbSIsInN1YiI6IlU1Y2FkZGU1ZS1kOGUzLTQyYmItYTljOC03YThiYjg5NWM2NTkiLCJpYXQiOjE3NzQzNzA3NTIsImF1ZCI6ImVjOGI0NDUzLWQ3ZTUtNDE4ZS04MTcwLTQzZTliM2UwYjQ2MCIsImdyYW50X2lkIjoiRzAyNGY3ZDIwLTk2MDgtNGVmYy1iYzVmLTQ3YzU2MWZlYzVhYSIsInNjb3BlIjoicmVhZCB0cmFkZSBvcGVuaWQifQ.iBKlWkK3DYbHxe3EkBOaU8tQghSq2_MlZpMcBLDgj32wPAew9nwJ-WV397ftK6ilWv_WiOPCuVfN0NNrQDg4Dw"
            },
            {
              "name": "client_secret",
              "value": "b09387c27e0cd0325cae0a910e43fc5f158ca109"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "1be7682e-2bda-448b-85ed-390b53a5b50c",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// Options Trading Signal System — Node1 v3.0\n// n8n Code Node (JavaScript)\n// ============================================================\n// Data sources:\n//   • Yahoo Finance  – 60-day daily OHLCV  (technical analysis)\n//   • tastytrade     – market-metrics (IVR, IV percentile)\n//   • tastytrade     – option-chains/nested  (expirations)\n//   • CBOE delayed   – ALL option Greeks + bid/ask/OI/volume\n// ============================================================\n\n// ─────────────────────────────────────────────────────────────\n// 0.  CONFIGURATION\n// ─────────────────────────────────────────────────────────────\nconst symbols = [\n  { ticker: 'SPY',  name: 'SPY',    sector: 'index' },\n  { ticker: 'QQQ',  name: 'QQQ',    sector: 'index' },\n  { ticker: 'AAPL', name: 'Apple',  sector: 'tech' },\n  { ticker: 'NVDA', name: 'NVIDIA', sector: 'semi' },\n  { ticker: 'PLTR', name: 'Palantir', sector: 'tech' },\n  { ticker: 'TSLA', name: 'Tesla',  sector: 'auto' },\n  { ticker: 'META', name: 'Meta',   sector: 'tech' },\n  { ticker: 'AMZN', name: 'Amazon', sector: 'tech' },\n  { ticker: 'GOOGL', name: 'Google', sector: 'tech' },\n  { ticker: 'MSFT', name: 'Microsoft', sector: 'tech' },\n  { ticker: 'AMD',  name: 'AMD',    sector: 'semi' },\n  { ticker: 'SOFI', name: 'SoFi',   sector: 'fin' },\n  { ticker: 'AMAT', name: 'Applied Materials', sector: 'semi' },\n  { ticker: 'TSM',  name: 'TSM',    sector: 'semi' },\n];\nconst MAX_PER_SECTOR = 2;      // 同產業最多推薦 2 檔\nconst MAX_TOTAL_SIGNALS = 5;   // 每次最多推薦 5 檔標的\nconst EARNINGS_BLACKOUT_DAYS = 2; // 財報前 N 天不推薦\nconst FINNHUB_KEY = 'd70bb2hr01qtb4ra5aagd70bb2hr01qtb4ra5ab0';\n\n// ── DTE per strategy (aligned with Notion rules) ──\nconst DTE_MIN_CREDIT = 14;   // Call Credit: 14-30天 (Notion)\nconst DTE_MAX_CREDIT = 30;\nconst DTE_MIN_IC     = 20;   // Iron Condor: 20-30天 (Notion)\nconst DTE_MAX_IC     = 30;\nconst DTE_MIN_DEBIT  = 14;   // Put Debit: 14-45天\nconst DTE_MAX_DEBIT  = 45;\nconst DTE_MIN = 14;          // global floor for CBOE indexing\nconst DTE_MAX = 45;          // global ceiling for CBOE indexing\n\nconst LIQUIDITY_MAX_SPREAD_PCT = 0.10;   // bid-ask spread ≤ 10 %\nconst LIQUIDITY_MIN_OI         = 500;\nconst KELLY_MIN                = 0.05;   // 5 %\n\n// ── Delta per strategy (aligned with Notion LV1 + LV2 rules) ──\n// Put Credit Spread (看多賣方 LV1): 賣腿 Delta 0.20~0.25\nconst PCS_DELTA_MIN            = 0.20;\nconst PCS_DELTA_MAX            = 0.25;\n// Call Credit Spread (看空賣方 LV2): 賣腿 Delta 0.15 區間\nconst CCS_DELTA_MIN            = 0.10;\nconst CCS_DELTA_MAX            = 0.20;\n// Iron Condor (中性 LV3): Call/Put 0.10~0.15\nconst IC_DELTA_MIN             = 0.10;\nconst IC_DELTA_MAX             = 0.15;\n// Debit Spreads (買方 LV1/LV2): 買腿 Delta 0.5 區間\nconst DEBIT_SPREAD_DELTA_MIN   = 0.40;\nconst DEBIT_SPREAD_DELTA_MAX   = 0.60;\n\n// ── IVR/IVP thresholds (Notion rules) ──\nconst IVR_MIN_PCS      = 0.30;  // Put Credit Spread: IVR 30-60 (Notion LV1)\nconst IVR_MAX_PCS      = 0.60;\nconst IVR_MIN_CCS      = 0.30;  // Call Credit Spread: IVR 30-50 (Notion LV2)\nconst IVR_MAX_CCS      = 0.50;\nconst IVR_MIN_IC       = 0.30;  // IC 需 IVR > 30 (Notion LV3)\nconst IVP_MIN_DEBIT    = 0.20;  // Debit Spread: IVP 20-50 (Notion LV1)\nconst IVP_MAX_DEBIT    = 0.50;\nconst REWARD_RISK_MIN  = 3.0;   // Credit spread 報酬比至少 1:3 (Notion)\n\n// ─────────────────────────────────────────────────────────────\n// 1.  AUTH\n// ─────────────────────────────────────────────────────────────\nconst accessToken = $input.first().json.access_token;\nconst ttHeaders = {\n  'Authorization': 'Bearer ' + accessToken,\n  'Accept': 'application/json',\n  'User-Agent': 'chilldove-n8n/3.0',\n};\n\nconst debugLog = [];\nfunction log(msg) { debugLog.push('[' + new Date().toISOString() + '] ' + msg); }\n\n// ─────────────────────────────────────────────────────────────\n// 2.  DST AUTO-DETECT + MARKET HOURS GUARD\n// ─────────────────────────────────────────────────────────────\n/*\n  US DST: second Sunday of March → first Sunday of November\n  During US DST  : NYSE opens at 09:30 ET = 21:30 TWN (UTC+8)\n  Standard time  : NYSE opens at 09:30 ET = 22:30 TWN (UTC+8)\n  We run this script slightly before open, so:\n    • DST     → expect Taiwan hour = 21\n    • Standard→ expect Taiwan hour = 22\n*/\nfunction isUsDst(date) {\n  const year = date.getUTCFullYear();\n  // second Sunday of March\n  const march = new Date(Date.UTC(year, 2, 1));\n  const marchDay = march.getUTCDay(); // 0=Sun\n  const dstStart = new Date(Date.UTC(year, 2, (14 - marchDay) % 7 + 8));\n  // first Sunday of November\n  const nov = new Date(Date.UTC(year, 10, 1));\n  const novDay = nov.getUTCDay();\n  const dstEnd = new Date(Date.UTC(year, 10, (7 - novDay) % 7 + 1));\n  return date >= dstStart && date < dstEnd;\n}\n\nconst now = new Date();\nconst isDst = isUsDst(now);\n// Taiwan is UTC+8; no local DST\nconst taiwanHour = (now.getUTCHours() + 8) % 24;\nconst expectedOpenHour = isDst ? 21 : 22;   // hour BEFORE 30-min open window\n\nlog(`DST=${isDst}, taiwanHour=${taiwanHour}, expectedOpenHour=${expectedOpenHour}`);\n\n// Allow execution window: expectedOpenHour to expectedOpenHour+3\nconst hourDiff = (taiwanHour - expectedOpenHour + 24) % 24;\nif (hourDiff > 3) {\n  return [{\n    json: {\n      skipped: true,\n      reason: `Market not open — Taiwan time ${taiwanHour}:xx, expected window ${expectedOpenHour}xx-${expectedOpenHour + 3}xx (DST=${isDst})`,\n      debugLog,\n      analysisTime: now.toISOString(),\n      version: 'v3.4',\n    },\n  }];\n}\n\n// ─────────────────────────────────────────────────────────────\n// 3.  HTTP HELPER\n// ─────────────────────────────────────────────────────────────\nasync function httpGet(url, headers = {}, label = '') {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url,\n      headers,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n    });\n    if (res.statusCode >= 400) {\n      log(`HTTP ${res.statusCode} for ${label || url}`);\n      return null;\n    }\n    return typeof res.body === 'string' ? JSON.parse(res.body) : res.body;\n  } catch (e) {\n    log(`ERROR fetching ${label || url}: ${e.message}`);\n    return null;\n  }\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4.  TECHNICAL ANALYSIS HELPERS\n// ─────────────────────────────────────────────────────────────\nfunction calcRSI(closes, period = 14) {\n  if (closes.length < period + 1) return null;\n  let gains = 0, losses = 0;\n  for (let i = closes.length - period; i < closes.length; i++) {\n    const diff = closes[i] - closes[i - 1];\n    if (diff >= 0) gains += diff; else losses -= diff;\n  }\n  if (losses === 0) return 100;\n  const rs = (gains / period) / (losses / period);\n  return 100 - 100 / (1 + rs);\n}\n\nfunction calcMA(closes, period = 20) {\n  if (closes.length < period) return null;\n  const slice = closes.slice(-period);\n  return slice.reduce((a, b) => a + b, 0) / period;\n}\n\nfunction calcSupport(lows, period = 20) {\n  const slice = lows.slice(-period);\n  return Math.min(...slice);\n}\n\nfunction calcResistance(highs, period = 20) {\n  const slice = highs.slice(-period);\n  return Math.max(...slice);\n}\n\n\n// ─────────────────────────────────────────────────────────────\n// 4b. VOLUME ANALYSIS\n// ─────────────────────────────────────────────────────────────\nfunction analyzeVolume(volumes, closes, period = 20) {\n  if (!volumes || volumes.length < period + 1) return { avg: 0, latest: 0, ratio: 0, spike: false };\n  const recent = volumes.slice(-period);\n  const avg = recent.reduce((a, b) => a + b, 0) / period;\n  const latest = volumes[volumes.length - 1] || 0;\n  const ratio = avg > 0 ? latest / avg : 0;\n  // Check if volume spiked near support (last bar close near 20-day low)\n  const recentLows = closes.slice(-period);\n  const support = Math.min(...recentLows);\n  const nearSupport = closes[closes.length - 1] <= support * 1.02; // within 2% of support\n  return { avg: Math.round(avg), latest, ratio: +ratio.toFixed(2), spike: ratio > 1.5, nearSupport };\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4c. VEGA/THETA ASSESSMENT\n// ─────────────────────────────────────────────────────────────\nfunction assessGreeks(strategy, shortVega, shortTheta, longVega, longTheta) {\n  // Credit spreads (sellers): want negative vega (IV drop = profit), positive theta (time decay = profit)\n  // Debit spreads (buyers): want positive vega (IV rise = profit), theta works against\n  const isCredit = ['Bull Put Spread', 'Bear Call Spread', 'Iron Condor'].includes(strategy);\n  const netVega = (shortVega || 0) - (longVega || 0); // for credit: selling short, buying long\n  const netTheta = (shortTheta || 0) - (longTheta || 0);\n  \n  let vegaOk, thetaOk, vegaNote, thetaNote;\n  if (isCredit) {\n    vegaOk = netVega <= 0; // credit seller wants net negative vega\n    thetaOk = netTheta >= 0; // credit seller wants net positive theta\n    vegaNote = vegaOk ? 'Vega負效益✅(IV降有利)' : 'Vega正效益⚠️(IV升不利)';\n    thetaNote = thetaOk ? 'Theta正衰減✅(時間有利)' : 'Theta負衰減⚠️(時間不利)';\n  } else {\n    vegaOk = netVega >= 0; // debit buyer wants net positive vega\n    thetaOk = true; // theta always works against buyer, accepted\n    vegaNote = vegaOk ? 'Vega正效益✅(IV升有利)' : 'Vega負效益⚠️(IV降不利)';\n    thetaNote = `Theta衰減${Math.abs(netTheta).toFixed(3)}/天`;\n  }\n  return { netVega: +netVega.toFixed(4), netTheta: +netTheta.toFixed(4), vegaOk, thetaOk, vegaNote, thetaNote };\n}\n\nfunction calcMACD(closes) {\n  // MACD = EMA(12) - EMA(26), Signal = EMA(9) of MACD\n  if (closes.length < 26) return null;\n  function ema(data, period) {\n    const k = 2 / (period + 1);\n    let e = data[0];\n    for (let i = 1; i < data.length; i++) e = data[i] * k + e * (1 - k);\n    return e;\n  }\n  const ema12 = ema(closes.slice(-26), 12);\n  const ema26 = ema(closes.slice(-26), 26);\n  const macdLine = ema12 - ema26;\n\n  // Calculate MACD line for last 9 bars to get signal line\n  const macdHistory = [];\n  for (let i = closes.length - 9; i <= closes.length; i++) {\n    const slice = closes.slice(0, i);\n    if (slice.length < 26) continue;\n    const e12 = ema(slice.slice(-26), 12);\n    const e26 = ema(slice.slice(-26), 26);\n    macdHistory.push(e12 - e26);\n  }\n  const signalLine = macdHistory.length >= 9 ? ema(macdHistory, 9) : macdLine;\n  const histogram = macdLine - signalLine;\n\n  // Detect cross: current histogram sign vs previous\n  const prevMacd = macdHistory.length >= 2 ? macdHistory[macdHistory.length - 2] : macdLine;\n  const prevSignal = macdHistory.length >= 2 ? ema(macdHistory.slice(0, -1), 9) : signalLine;\n  const prevHist = prevMacd - prevSignal;\n\n  let cross = 'none';\n  if (histogram > 0 && prevHist <= 0) cross = 'golden'; // 金叉\n  if (histogram < 0 && prevHist >= 0) cross = 'death';  // 死叉\n\n  return { macdLine, signalLine, histogram, cross };\n}\n\n// ─────────────────────────────────────────────────────────────\n// 5.  CBOE OPTION SYMBOL PARSER\n// ─────────────────────────────────────────────────────────────\n/*\n  Format: {ROOT}{YYMMDD}{TYPE}{STRIKE*1000 padded 8 digits}\n  e.g.    SPY260430P00545000\n  Root length is variable; we detect it by finding the 6-digit date block.\n*/\nfunction parseCboeSymbol(sym) {\n  const m = sym.match(/^([A-Z]+)(\\d{6})([CP])(\\d{8})$/);\n  if (!m) return null;\n  const [, root, yymmdd, type, strikePadded] = m;\n  const yy = parseInt(yymmdd.slice(0, 2), 10);\n  const mm = parseInt(yymmdd.slice(2, 4), 10);\n  const dd = parseInt(yymmdd.slice(4, 6), 10);\n  const year = 2000 + yy;\n  const expDate = `${year}-${String(mm).padStart(2, '0')}-${String(dd).padStart(2, '0')}`;\n  const strike = parseInt(strikePadded, 10) / 1000;\n  return { root, expDate, type, strike };\n}\n\nfunction daysToExpiry(expDateStr) {\n  const now = new Date();\n  const exp = new Date(expDateStr + 'T16:00:00-05:00'); // 4 PM ET\n  return Math.round((exp - now) / (1000 * 60 * 60 * 24));\n}\n\n// ─────────────────────────────────────────────────────────────\n// 6.  LIQUIDITY CHECK\n// ─────────────────────────────────────────────────────────────\nfunction passesLiquidity(opt) {\n  const bid = parseFloat(opt.bid) || 0;\n  const ask = parseFloat(opt.ask) || 0;\n  const oi  = parseInt(opt.open_interest, 10) || 0;\n  // Fix: bid must be > 0 (zero-bid options are illiquid even if ask exists)\n  if (bid <= 0 || ask <= 0) return false;\n  const spreadAbs = ask - bid;\n  const spreadPct = spreadAbs / ask;\n  // Fix: also check absolute spread ≤ $0.15 to catch penny options with 200%+ spread\n  return spreadPct <= LIQUIDITY_MAX_SPREAD_PCT && spreadAbs <= 0.15 && oi >= LIQUIDITY_MIN_OI;\n}\n\nfunction midPrice(opt) {\n  return ((parseFloat(opt.bid) || 0) + (parseFloat(opt.ask) || 0)) / 2;\n}\n\n// EV range: best/worst case based on Bid-Ask slippage\nfunction calcEVRange(shortOpt, longOpt, winRate, width, isCredit) {\n  const sBid = parseFloat(shortOpt.bid) || 0;\n  const sAsk = parseFloat(shortOpt.ask) || 0;\n  const lBid = parseFloat(longOpt.bid) || 0;\n  const lAsk = parseFloat(longOpt.ask) || 0;\n  if (isCredit) {\n    // Credit spread: sell short, buy long\n    const creditBest  = sAsk - lBid;  // best fill: sell at ask, buy at bid (unlikely but possible with limit)\n    const creditMid   = midPrice(shortOpt) - midPrice(longOpt);\n    const creditWorst = sBid - lAsk;  // worst fill: sell at bid, buy at ask\n    const mlBest  = width - creditBest;\n    const mlMid   = width - creditMid;\n    const mlWorst = width - creditWorst;\n    return {\n      evBest:  +(creditBest * winRate - mlBest * (1 - winRate)).toFixed(2),\n      evMid:   +(creditMid * winRate - mlMid * (1 - winRate)).toFixed(2),\n      evWorst: +(Math.max(creditWorst, 0) * winRate - (width - Math.max(creditWorst, 0)) * (1 - winRate)).toFixed(2)\n    };\n  } else {\n    // Debit spread: buy long, sell short\n    const debitBest  = lBid - sAsk;  // best: buy at bid (unlikely), sell at ask\n    const debitMid   = midPrice(longOpt) - midPrice(shortOpt);\n    const debitWorst = lAsk - sBid;  // worst: buy at ask, sell at bid\n    const gainBest  = width - debitBest;\n    const gainMid   = width - debitMid;\n    const gainWorst = width - debitWorst;\n    return {\n      evBest:  +(winRate * gainBest - (1 - winRate) * debitBest).toFixed(2),\n      evMid:   +(winRate * gainMid - (1 - winRate) * debitMid).toFixed(2),\n      evWorst: +(winRate * gainWorst - (1 - winRate) * Math.max(debitWorst, 0)).toFixed(2)\n    };\n  }\n}\n\n// ─────────────────────────────────────────────────────────────\n// 7.  KELLY CRITERION\n// ─────────────────────────────────────────────────────────────\nfunction kelly(winRate, rewardRiskRatio) {\n  // Kelly % = W - (1-W)/R\n  if (rewardRiskRatio <= 0) return 0;\n  return winRate - (1 - winRate) / rewardRiskRatio;\n}\n\n// ─────────────────────────────────────────────────────────────\n// 8.  TREND SCORE (composite ranking)\n// ─────────────────────────────────────────────────────────────\nfunction trendScore({ ev, ivr, directionScore, winRate, spreadPct, oi }) {\n  // Normalised weights\n  const evScore  = Math.min(Math.max(ev / 0.50, 0), 1);           // 0-1 → ev $0-$0.50\n  const ivrScore = Math.min(Math.max(ivr / 1.0,  0), 1);          // 0-1\n  const dirScore = Math.min(Math.abs(directionScore) / 4, 1);     // 0-1\n  const winScore = Math.min(Math.max((winRate - 0.5) / 0.4, 0), 1); // 0.5-0.9\n  const liqScore = Math.min(Math.max(1 - spreadPct / 0.10, 0), 1); // tighter = better\n  const oiScore  = Math.min(oi / 5000, 1);\n  return (\n    evScore  * 0.30 +\n    ivrScore * 0.20 +\n    dirScore * 0.20 +\n    winScore * 0.15 +\n    liqScore * 0.10 +\n    oiScore  * 0.05\n  );\n}\n\n// ─────────────────────────────────────────────────────────────\n// 9.  SPREAD BUILDER\n// ─────────────────────────────────────────────────────────────\n/*\n  optsByExpType: { [expDate]: { C: Map<strike, cboeOpt>, P: Map<strike, cboeOpt> } }\n  underlyingPrice: float\n  direction: 'bullish'|'bearish'|'neutral'\n  ivr: float (0-1)\n  directionScore: int\n*/\nfunction buildSpreads(optsByExpType, underlyingPrice, direction, ivr, ivPercentile, directionScore, support, resistance, volumeAnalysis) {\n  const spreads = [];\n\n  for (const [expDate, types] of Object.entries(optsByExpType)) {\n    const dte = daysToExpiry(expDate);\n    if (dte < DTE_MIN || dte > DTE_MAX) continue;\n\n    // ── helpers for this expiration ──\n    const putOpts  = types['P'] || new Map();\n    const callOpts = types['C'] || new Map();\n\n    // Build sorted arrays by strike\n    const puts  = [...putOpts.values()].sort((a, b) => a._strike - b._strike);\n    const calls = [...callOpts.values()].sort((a, b) => a._strike - b._strike);\n\n    // ─── Bull Put Spread / Put Credit Spread (credit, 看多) ────\n    // Event risk: skip income strategies when CPI/FOMC/NFP within 2 days\n    if (!hasEconEventRisk && (direction === 'bullish' || direction === 'neutral')\n        && ivr >= IVR_MIN_PCS && ivr <= IVR_MAX_PCS\n        && dte >= DTE_MIN_CREDIT && dte <= DTE_MAX_CREDIT) {\n      // Notion LV1: 賣腿 Delta 0.20-0.25, IVR 30-60, DTE 14-30\n      for (const shortPut of puts) {\n        const sd = Math.abs(parseFloat(shortPut.delta) || 0);\n        if (sd < PCS_DELTA_MIN || sd > PCS_DELTA_MAX) continue;\n        if (!passesLiquidity(shortPut)) continue;\n\n        // Long put: strike below short, also liquid\n        const longCandidates = puts.filter(p =>\n          p._strike < shortPut._strike && passesLiquidity(p)\n        );\n        if (longCandidates.length === 0) continue;\n\n        // Pick long put with highest OI below short\n        const longPut = longCandidates.sort((a, b) =>\n          (parseInt(b.open_interest, 10) || 0) - (parseInt(a.open_interest, 10) || 0)\n        )[0];\n\n        const credit   = midPrice(shortPut) - midPrice(longPut);\n        if (credit <= 0) continue;\n        const width    = shortPut._strike - longPut._strike;\n        const maxLoss  = width - credit;\n        if (maxLoss <= 0) continue;\n\n        const winRate  = 1 - sd; // P(OTM) for short put = 1 - |delta|\n        const ev       = credit * winRate - maxLoss * (1 - winRate);\n        if (ev <= 0) continue;\n\n        const k = kelly(winRate, credit / maxLoss);\n        if (k < KELLY_MIN) continue;\n\n        // Notion: 報酬比至少 1:3 (credit / maxLoss >= 1/3)\n        if (credit / maxLoss < 1 / REWARD_RISK_MIN) continue;\n\n        const spreadPct = (midPrice(shortPut) > 0)\n          ? ((parseFloat(shortPut.ask) - parseFloat(shortPut.bid)) / parseFloat(shortPut.ask))\n          : 1;\n\n        const ts = trendScore({\n          ev, ivr, directionScore, winRate,\n          spreadPct, oi: parseInt(shortPut.open_interest, 10) || 0,\n        });\n\n        // 支撐對齊：PCS 賣腿應靠近支撐（Notion: 選在支撐線上做 PCS）\n        const distToSupport = support ? Math.abs(shortPut._strike - support) / underlyingPrice : 999;\n        const supportAligned = support ? distToSupport < 0.05 : true; // within 5% of support\n\n        // Vega/Theta 評估\n        const greekAssess = assessGreeks('Bull Put Spread',\n          parseFloat(shortPut.vega) || 0, parseFloat(shortPut.theta) || 0,\n          parseFloat(longPut.vega) || 0, parseFloat(longPut.theta) || 0);\n\n        // 成交量確認（Notion: 觀察支撐點成交量增加）\n        const volConfirm = volumeAnalysis ? (volumeAnalysis.spike && volumeAnalysis.nearSupport) : false;\n\n        spreads.push({\n          strategy: 'Bull Put Spread',\n          shortStrike: shortPut._strike,\n          longStrike: longPut._strike,\n          supportAligned, distToSupport: +distToSupport.toFixed(4),\n          vegaNote: greekAssess.vegaNote, thetaNote: greekAssess.thetaNote,\n          netVega: greekAssess.netVega, netTheta: greekAssess.netTheta,\n          volumeConfirm: volConfirm,\n          expDate,\n          dte,\n          credit: +credit.toFixed(4),\n          ev: +ev.toFixed(4),\n          evRange: calcEVRange(shortPut, longPut, winRate, width, true),\n          kelly: +k.toFixed(4),\n          winRate: +winRate.toFixed(4),\n          margin: +maxLoss.toFixed(4),\n          returnRate: +(credit / maxLoss).toFixed(4),\n          takeProfit: +(credit * 0.5).toFixed(4),   // 50% credit 止盈\n          stopLoss:   +(credit * 1.3).toFixed(4),   // Notion: credit×1.3 = 虧損30%出場\n          shortDelta: +(parseFloat(shortPut.delta) || 0).toFixed(4),\n          shortTheta: +(parseFloat(shortPut.theta) || 0).toFixed(4),\n          shortVega:  +(parseFloat(shortPut.vega)  || 0).toFixed(4),\n          shortGamma: +(parseFloat(shortPut.gamma) || 0).toFixed(4),\n          trendScore: +ts.toFixed(4),\n        });\n      }\n    }\n\n    // ─── Bear Call Spread / Call Credit Spread (credit, 看空) ────\n    // Event risk: skip income strategies when CPI/FOMC/NFP within 2 days\n    if (!hasEconEventRisk && (direction === 'bearish' || direction === 'neutral')\n        && ivr >= IVR_MIN_CCS && ivr <= IVR_MAX_CCS\n        && dte >= DTE_MIN_CREDIT && dte <= DTE_MAX_CREDIT) {\n      // Notion LV2: 賣腿 Delta 0.15 區間, IVR 30-50, DTE 14-30\n      for (const shortCall of calls) {\n        const sd = Math.abs(parseFloat(shortCall.delta) || 0);\n        if (sd < CCS_DELTA_MIN || sd > CCS_DELTA_MAX) continue;\n        if (!passesLiquidity(shortCall)) continue;\n\n        const longCandidates = calls.filter(c =>\n          c._strike > shortCall._strike && passesLiquidity(c)\n        );\n        if (longCandidates.length === 0) continue;\n\n        const longCall = longCandidates.sort((a, b) =>\n          (parseInt(b.open_interest, 10) || 0) - (parseInt(a.open_interest, 10) || 0)\n        )[0];\n\n        const credit  = midPrice(shortCall) - midPrice(longCall);\n        if (credit <= 0) continue;\n        const width   = longCall._strike - shortCall._strike;\n        const maxLoss = width - credit;\n        if (maxLoss <= 0) continue;\n\n        const winRate = 1 - sd; // P(OTM) for short call = 1 - |delta|\n        const ev      = credit * winRate - maxLoss * (1 - winRate);\n        if (ev <= 0) continue;\n\n        const k = kelly(winRate, credit / maxLoss);\n        if (k < KELLY_MIN) continue;\n\n        // Notion: 報酬比至少 1:3\n        if (credit / maxLoss < 1 / REWARD_RISK_MIN) continue;\n\n        const spreadPct = (parseFloat(shortCall.ask) > 0)\n          ? ((parseFloat(shortCall.ask) - parseFloat(shortCall.bid)) / parseFloat(shortCall.ask))\n          : 1;\n\n        const ts = trendScore({\n          ev, ivr, directionScore, winRate,\n          spreadPct, oi: parseInt(shortCall.open_interest, 10) || 0,\n        });\n\n        // 壓力對齊：CCS 賣腿應靠近壓力（Notion: 回測不衝破壓力即可收租）\n        const distToResistance = resistance ? Math.abs(shortCall._strike - resistance) / underlyingPrice : 999;\n        const resistanceAligned = resistance ? distToResistance < 0.05 : true;\n\n        // Vega/Theta 評估\n        const greekAssessCCS = assessGreeks('Bear Call Spread',\n          parseFloat(shortCall.vega) || 0, parseFloat(shortCall.theta) || 0,\n          parseFloat(longCall.vega) || 0, parseFloat(longCall.theta) || 0);\n\n        spreads.push({\n          strategy: 'Bear Call Spread',\n          shortStrike: shortCall._strike,\n          longStrike: longCall._strike,\n          resistanceAligned, distToResistance: +distToResistance.toFixed(4),\n          vegaNote: greekAssessCCS.vegaNote, thetaNote: greekAssessCCS.thetaNote,\n          netVega: greekAssessCCS.netVega, netTheta: greekAssessCCS.netTheta,\n          expDate,\n          dte,\n          credit: +credit.toFixed(4),\n          ev: +ev.toFixed(4),\n          evRange: calcEVRange(shortCall, longCall, winRate, width, true),\n          kelly: +k.toFixed(4),\n          winRate: +winRate.toFixed(4),\n          margin: +maxLoss.toFixed(4),\n          returnRate: +(credit / maxLoss).toFixed(4),\n          takeProfit: +(credit * 0.5).toFixed(4),   // 50% credit 止盈\n          stopLoss:   +(credit * 1.3).toFixed(4),   // Notion: credit×1.3 = 虧損30%出場\n          shortDelta: +(parseFloat(shortCall.delta) || 0).toFixed(4),\n          shortTheta: +(parseFloat(shortCall.theta) || 0).toFixed(4),\n          shortVega:  +(parseFloat(shortCall.vega)  || 0).toFixed(4),\n          shortGamma: +(parseFloat(shortCall.gamma) || 0).toFixed(4),\n          trendScore: +ts.toFixed(4),\n        });\n      }\n    }\n\n    // ─── Bull Call Spread / Call Debit Spread (debit, 看多) ────\n    if (direction === 'bullish'\n        && dte >= DTE_MIN_DEBIT && dte <= DTE_MAX_DEBIT\n        && ivPercentile >= IVP_MIN_DEBIT && ivPercentile <= IVP_MAX_DEBIT) {\n      // Notion LV1: 買腿 Delta 0.5, IVP 20-50\n      for (const longCall of calls) {\n        const ld = Math.abs(parseFloat(longCall.delta) || 0);\n        if (ld < DEBIT_SPREAD_DELTA_MIN || ld > DEBIT_SPREAD_DELTA_MAX) continue;\n        if (!passesLiquidity(longCall)) continue;\n\n        const shortCandidates = calls.filter(c =>\n          c._strike > longCall._strike && passesLiquidity(c)\n        );\n        if (shortCandidates.length === 0) continue;\n\n        // Short call: highest OI above long call\n        const shortCall = shortCandidates.sort((a, b) =>\n          (parseInt(b.open_interest, 10) || 0) - (parseInt(a.open_interest, 10) || 0)\n        )[0];\n\n        const debit   = midPrice(longCall) - midPrice(shortCall);\n        if (debit <= 0) continue;\n        const width   = shortCall._strike - longCall._strike;\n        const maxGain = width - debit;\n        if (maxGain <= 0) continue;\n\n        const winRate = ld; // long call delta ≈ P(ITM)\n        const ev      = maxGain * winRate - debit * (1 - winRate);\n        if (ev <= 0) continue;\n\n        const k = kelly(winRate, maxGain / debit);\n        if (k < KELLY_MIN) continue;\n\n        const spreadPct = (parseFloat(longCall.ask) > 0)\n          ? ((parseFloat(longCall.ask) - parseFloat(longCall.bid)) / parseFloat(longCall.ask))\n          : 1;\n\n        const ts = trendScore({\n          ev, ivr, directionScore, winRate,\n          spreadPct, oi: parseInt(longCall.open_interest, 10) || 0,\n        });\n\n        spreads.push({\n          strategy: 'Bull Call Spread',\n          longStrike: longCall._strike,\n          shortStrike: shortCall._strike,\n          expDate,\n          dte,\n          debit: +debit.toFixed(4),\n          ev: +ev.toFixed(4),\n          evRange: calcEVRange(shortCall, longCall, winRate, width, false),\n          kelly: +k.toFixed(4),\n          winRate: +winRate.toFixed(4),\n          margin: +debit.toFixed(4),\n          returnRate: +(maxGain / debit).toFixed(4),\n          takeProfit: +(debit * 2.0).toFixed(4),   // 100% gain\n          stopLoss:   +(debit * 0.7).toFixed(4),   // Notion: debit×70% = 虧損30%出場\n          shortDelta: +(parseFloat(shortCall.delta) || 0).toFixed(4),\n          shortTheta: +(parseFloat(shortCall.theta) || 0).toFixed(4),\n          shortVega:  +(parseFloat(shortCall.vega)  || 0).toFixed(4),\n          shortGamma: +(parseFloat(shortCall.gamma) || 0).toFixed(4),\n          trendScore: +ts.toFixed(4),\n        });\n      }\n    }\n\n    // ─── Bear Put Spread / Put Debit Spread (debit, 看空) ─────\n    if (direction === 'bearish'\n        && dte >= DTE_MIN_DEBIT && dte <= DTE_MAX_DEBIT\n        && ivPercentile >= IVP_MIN_DEBIT && ivPercentile <= IVP_MAX_DEBIT) {\n      // Notion LV2: 買腿 Delta 0.5, IVP 30-50\n      for (const longPut of puts) {\n        const ld = Math.abs(parseFloat(longPut.delta) || 0);\n        if (ld < DEBIT_SPREAD_DELTA_MIN || ld > DEBIT_SPREAD_DELTA_MAX) continue;\n        if (!passesLiquidity(longPut)) continue;\n\n        const shortCandidates = puts.filter(p =>\n          p._strike < longPut._strike && passesLiquidity(p)\n        );\n        if (shortCandidates.length === 0) continue;\n\n        const shortPut = shortCandidates.sort((a, b) =>\n          (parseInt(b.open_interest, 10) || 0) - (parseInt(a.open_interest, 10) || 0)\n        )[0];\n\n        const debit   = midPrice(longPut) - midPrice(shortPut);\n        if (debit <= 0) continue;\n        const width   = longPut._strike - shortPut._strike;\n        const maxGain = width - debit;\n        if (maxGain <= 0) continue;\n\n        const winRate = ld; // long put |delta| ≈ P(ITM) for puts\n        const ev      = maxGain * winRate - debit * (1 - winRate);\n        if (ev <= 0) continue;\n\n        const k = kelly(winRate, maxGain / debit);\n        if (k < KELLY_MIN) continue;\n\n        const spreadPct = (parseFloat(longPut.ask) > 0)\n          ? ((parseFloat(longPut.ask) - parseFloat(longPut.bid)) / parseFloat(longPut.ask))\n          : 1;\n\n        const ts = trendScore({\n          ev, ivr, directionScore, winRate,\n          spreadPct, oi: parseInt(longPut.open_interest, 10) || 0,\n        });\n\n        spreads.push({\n          strategy: 'Bear Put Spread',\n          longStrike: longPut._strike,\n          shortStrike: shortPut._strike,\n          expDate,\n          dte,\n          debit: +debit.toFixed(4),\n          ev: +ev.toFixed(4),\n          evRange: calcEVRange(shortPut, longPut, winRate, longPut._strike - shortPut._strike, false),\n          kelly: +k.toFixed(4),\n          winRate: +winRate.toFixed(4),\n          margin: +debit.toFixed(4),\n          returnRate: +(maxGain / debit).toFixed(4),\n          takeProfit: +(debit * 2.0).toFixed(4),   // 100% gain\n          stopLoss:   +(debit * 0.7).toFixed(4),   // Notion: debit×70% = 虧損30%出場\n          shortDelta: +(parseFloat(shortPut.delta) || 0).toFixed(4),\n          shortTheta: +(parseFloat(shortPut.theta) || 0).toFixed(4),\n          shortVega:  +(parseFloat(shortPut.vega)  || 0).toFixed(4),\n          shortGamma: +(parseFloat(shortPut.gamma) || 0).toFixed(4),\n          trendScore: +ts.toFixed(4),\n        });\n      }\n    }\n\n    // ─── Iron Condor = Bear Call + Bull Put on same expiration ───\n    // Event risk: skip income strategies when CPI/FOMC/NFP within 2 days\n    if (!hasEconEventRisk && direction === 'neutral'\n        && ivr >= IVR_MIN_IC\n        && dte >= DTE_MIN_IC && dte <= DTE_MAX_IC) {\n      // Notion: IVR>30, DTE 20-30, Delta ±0.10-0.15\n      // Collect qualifying bear calls and bull puts already computed above\n      // We'll assemble them after the loop by pairing best bear call + best bull put.\n      // (already pushed individually; Iron Condor is an additional entry)\n      const bcSpreads = spreads.filter(s =>\n        s.strategy === 'Bear Call Spread' && s.expDate === expDate\n      );\n      const bpSpreads = spreads.filter(s =>\n        s.strategy === 'Bull Put Spread' && s.expDate === expDate\n      );\n\n      if (bcSpreads.length > 0 && bpSpreads.length > 0) {\n        // best of each by trendScore\n        const bc = [...bcSpreads].sort((a, b) => b.trendScore - a.trendScore)[0];\n        const bp = [...bpSpreads].sort((a, b) => b.trendScore - a.trendScore)[0];\n\n        // Verify no strike overlap\n        if (bp.shortStrike < bc.shortStrike) {\n          const combinedCredit  = +(bc.credit + bp.credit).toFixed(4);\n          // Fix: IC maxLoss = wider wing width - combined credit (not max of individual margins)\n          // Bear Call: longStrike > shortStrike; Bull Put: shortStrike > longStrike\n          const callWing = bc.longStrike - bc.shortStrike;\n          const putWing  = bp.shortStrike - bp.longStrike;\n          const wingWidth = Math.max(callWing, putWing);\n          const combinedMaxLoss = +(wingWidth - combinedCredit).toFixed(4);\n          if (combinedMaxLoss <= 0) continue; // sanity check\n          const combinedWinRate = bc.winRate * bp.winRate;         // both expire OTM\n          const combinedEV      = combinedCredit * combinedWinRate\n                                  - combinedMaxLoss * (1 - combinedWinRate);\n\n          if (combinedEV > 0) {\n            const k = kelly(combinedWinRate, combinedCredit / combinedMaxLoss);\n            if (k >= KELLY_MIN) {\n              const icTs = (bc.trendScore + bp.trendScore) / 2;\n              spreads.push({\n                strategy: 'Iron Condor',\n                // put side\n                putShortStrike: bp.shortStrike,\n                putLongStrike:  bp.longStrike,\n                // call side\n                callShortStrike: bc.shortStrike,\n                callLongStrike:  bc.longStrike,\n                expDate,\n                dte,\n                credit:     combinedCredit,\n                ev:         +combinedEV.toFixed(4),\n                kelly:      +k.toFixed(4),\n                winRate:    +combinedWinRate.toFixed(4),\n                margin:     +combinedMaxLoss.toFixed(4),\n                returnRate: +(combinedCredit / combinedMaxLoss).toFixed(4),\n                takeProfit: +(combinedCredit * 0.5).toFixed(4),\n                stopLoss:   +(combinedCredit * 2.0).toFixed(4),\n                // Greeks from short call (primary risk leg)\n                shortDelta: bc.shortDelta,\n                shortTheta: bc.shortTheta,\n                shortVega:  bc.shortVega,\n                shortGamma: bc.shortGamma,\n                trendScore: +icTs.toFixed(4),\n              });\n            }\n          }\n        }\n      }\n    }\n  }\n\n  return spreads.sort((a, b) => b.trendScore - a.trendScore);\n}\n\n// ─────────────────────────────────────────────────────────────\n// 10.  IV SKEW\n// ─────────────────────────────────────────────────────────────\n/*\n  For the nearest qualifying expiration, find ATM put IV and ATM call IV from CBOE.\n  Skew = (ATM put IV) - (ATM call IV)\n  Positive skew → investors buying more put protection → bearish sentiment.\n*/\nfunction calcIvSkew(optsByExpType, underlyingPrice) {\n  // Find first expiration within DTE range\n  const expDates = Object.keys(optsByExpType)\n    .filter(e => { const d = daysToExpiry(e); return d >= DTE_MIN && d <= DTE_MAX; })\n    .sort();\n  if (expDates.length === 0) return 0;\n\n  const exp = expDates[0];\n  const puts  = [...(optsByExpType[exp]?.['P']?.values() || [])];\n  const calls = [...(optsByExpType[exp]?.['C']?.values() || [])];\n\n  if (puts.length === 0 || calls.length === 0) return 0;\n\n  // ATM = strike closest to underlying price\n  const atmPut  = puts.sort((a, b) =>\n    Math.abs(a._strike - underlyingPrice) - Math.abs(b._strike - underlyingPrice)\n  )[0];\n  const atmCall = calls.sort((a, b) =>\n    Math.abs(a._strike - underlyingPrice) - Math.abs(b._strike - underlyingPrice)\n  )[0];\n\n  const putIV  = parseFloat(atmPut?.iv)  || 0;\n  const callIV = parseFloat(atmCall?.iv) || 0;\n  return putIV && callIV ? putIV - callIV : 0;\n}\n\n// ─────────────────────────────────────────────────────────────\n// 11.  DIRECTION SCORING\n// ─────────────────────────────────────────────────────────────\nfunction scoreDirection(rsi, price, ma20, ivSkew, macd) {\n  // ── Notion 規則對齊 ──\n  // RSI < 50 = 偏空（順勢做空），RSI > 50 = 偏多（順勢做多）\n  // 注意：這是「趨勢跟隨」邏輯，不是「超賣反彈」邏輯\n  let score = 0;\n  const reasons = [];\n\n  if (rsi !== null) {\n    if (rsi < 30)      { score -= 2; reasons.push(`RSI=${rsi.toFixed(1)} <30 → 強烈偏空(-2)`); }\n    else if (rsi < 50) { score -= 1; reasons.push(`RSI=${rsi.toFixed(1)} <50 → 偏空(-1)`); }\n    else if (rsi > 70) { score += 2; reasons.push(`RSI=${rsi.toFixed(1)} >70 → 強烈偏多(+2)`); }\n    else if (rsi > 50) { score += 1; reasons.push(`RSI=${rsi.toFixed(1)} >50 → 偏多(+1)`); }\n    else { reasons.push(`RSI=${rsi.toFixed(1)} =50 中性(0)`); }\n  }\n\n  if (ma20 !== null) {\n    if (price > ma20) { score += 1; reasons.push(`價格${price.toFixed(2)} > MA20 ${ma20.toFixed(2)} → 偏多(+1)`); }\n    else              { score -= 1; reasons.push(`價格${price.toFixed(2)} < MA20 ${ma20.toFixed(2)} → 偏空(-1)`); }\n  }\n\n  if (ivSkew > 0.02)       { score -= 1; reasons.push(`IVSkew=${ivSkew.toFixed(4)} >0.02 → 偏空(-1)`); }\n  else if (ivSkew < -0.02) { score += 1; reasons.push(`IVSkew=${ivSkew.toFixed(4)} <-0.02 → 偏多(+1)`); }\n  else                      { reasons.push(`IVSkew=${ivSkew.toFixed(4)} 中性(0)`); }\n\n  // MACD (Notion: 每個策略都要求確認)\n  if (macd !== null) {\n    if (macd.cross === 'death')  { score -= 1; reasons.push(`MACD死叉 → 偏空(-1)`); }\n    else if (macd.cross === 'golden') { score += 1; reasons.push(`MACD金叉 → 偏多(+1)`); }\n    else if (macd.histogram < 0) { reasons.push(`MACD柱狀<0 偏空(參考)`); }\n    else if (macd.histogram > 0) { reasons.push(`MACD柱狀>0 偏多(參考)`); }\n  }\n\n  let direction;\n  if (score >= 2)       direction = 'bullish';\n  else if (score <= -2) direction = 'bearish';\n  else                  direction = 'neutral';\n\n  return { direction, directionScore: score, directionReasons: reasons };\n}\n\n// ─────────────────────────────────────────────────────────────\n// 12.  MAIN LOOP\n// ─────────────────────────────────────────────────────────────\nconst results = [];\n\n// 12a. Fetch tastytrade market-metrics for all symbols in one call\nconst allTickers = symbols.map(s => s.ticker).join(',');\nconst metricsUrl = `https://api.tastyworks.com/market-metrics?symbols=${allTickers}`;\nlog(`Fetching market-metrics: ${metricsUrl}`);\nconst metricsData = await httpGet.call(this, metricsUrl, ttHeaders, 'market-metrics');\n\nconst metricsMap = {};\nif (metricsData?.data?.items) {\n  for (const item of metricsData.data.items) {\n    metricsMap[item.symbol] = item;\n  }\n  log(`market-metrics: received ${Object.keys(metricsMap).length} symbols`);\n} else {\n  log('WARNING: market-metrics returned no items');\n}\n\n// 12b. MARKET REGIME — 盤勢判斷（第一層過濾）\n// Fetch VIX\nlet vixValue = null;\nlet spyDirection = null;\nlet spyDirScore = 0;\nlet spyDirReasons = [];\nlet marketRegime = 'normal'; // normal | caution | bearOnly | halt\nlet marketRegimeReasons = [];\n\ntry {\n  const vixUrl = 'https://query1.finance.yahoo.com/v8/finance/chart/%5EVIX?interval=1d&range=5d';\n  const vixData = await httpGet.call(this, vixUrl, { 'User-Agent': 'Mozilla/5.0', 'Accept': 'application/json' }, 'YF:VIX');\n  if (vixData?.chart?.result?.[0]?.meta) {\n    vixValue = vixData.chart.result[0].meta.regularMarketPrice || vixData.chart.result[0].meta.previousClose;\n    log(`VIX = ${vixValue}`);\n  }\n} catch(e) { log(`VIX fetch error: ${e.message}`); }\n\n// Fetch SPY technicals for market direction\ntry {\n  const spyUrl = 'https://query1.finance.yahoo.com/v8/finance/chart/SPY?interval=1d&range=60d';\n  const spyYF = await httpGet.call(this, spyUrl, { 'User-Agent': 'Mozilla/5.0', 'Accept': 'application/json' }, 'YF:SPY-regime');\n  if (spyYF?.chart?.result?.[0]) {\n    const q = spyYF.chart.result[0].indicators?.quote?.[0];\n    if (q) {\n      const spyCloses = (q.close || []).filter(c => c != null);\n      const spyPrice = spyCloses[spyCloses.length - 1];\n      const spyRSI = calcRSI(spyCloses, 14);\n      const spyMA20 = calcMA(spyCloses, 20);\n      const spyMACD = calcMACD(spyCloses);\n      const spyDir = scoreDirection(spyRSI, spyPrice, spyMA20, 0, spyMACD);\n      spyDirection = spyDir.direction;\n      spyDirScore = spyDir.directionScore;\n      spyDirReasons = spyDir.directionReasons;\n      log(`SPY regime: direction=${spyDirection} score=${spyDirScore} price=${spyPrice?.toFixed(2)} RSI=${spyRSI?.toFixed(1)}`);\n    }\n  }\n} catch(e) { log(`SPY regime fetch error: ${e.message}`); }\n\n// Determine market regime\nif (vixValue !== null && vixValue >= 35) {\n  marketRegime = 'halt';\n  marketRegimeReasons.push(`VIX=${vixValue.toFixed(1)} ≥ 35 → 極端恐慌，全面暫停`);\n} else if (vixValue !== null && vixValue >= 25 && spyDirScore <= -2) {\n  marketRegime = 'bearOnly';\n  marketRegimeReasons.push(`VIX=${vixValue.toFixed(1)} ≥ 25 + SPY偏空(${spyDirScore}) → 只推 Bear 策略`);\n} else if (vixValue !== null && vixValue >= 25) {\n  marketRegime = 'caution';\n  marketRegimeReasons.push(`VIX=${vixValue.toFixed(1)} ≥ 25 → 高波動警戒，謹慎推薦`);\n} else if (spyDirScore <= -3) {\n  marketRegime = 'bearOnly';\n  marketRegimeReasons.push(`SPY強烈偏空(score=${spyDirScore}) → 只推 Bear 策略`);\n} else {\n  marketRegime = 'normal';\n  if (vixValue !== null) marketRegimeReasons.push(`VIX=${vixValue.toFixed(1)} 正常`);\n  if (spyDirection) marketRegimeReasons.push(`SPY方向=${spyDirection}(${spyDirScore})`);\n}\n\nlog(`Market Regime: ${marketRegime} — ${marketRegimeReasons.join(', ')}`);\n\n// If halt, skip all signals\nif (marketRegime === 'halt') {\n  return [{ json: {\n    results: [],\n    marketRegime,\n    marketRegimeReasons,\n    vix: vixValue,\n    spyDirection, spyDirScore, spyDirReasons,\n    debugLog,\n    analysisTime: new Date().toISOString(),\n    version: 'v3.4',\n    halted: true,\n    haltReason: `VIX=${vixValue?.toFixed(1)} ≥ 35，極端恐慌，全面暫停推播`,\n  } }];\n}\n\n// 12c. Fetch earnings calendar (Finnhub)\nlet earningsMap = {};\ntry {\n  const today = new Date().toISOString().slice(0, 10);\n  const future = new Date(Date.now() + EARNINGS_BLACKOUT_DAYS * 86400000).toISOString().slice(0, 10);\n  const earnUrl = `https://finnhub.io/api/v1/calendar/earnings?from=${today}&to=${future}&token=${FINNHUB_KEY}`;\n  const earnData = await httpGet.call(this, earnUrl, {}, 'Finnhub-earnings');\n  if (earnData?.earningsCalendar) {\n    for (const e of earnData.earningsCalendar) {\n      earningsMap[e.symbol] = e.date;\n    }\n    log(`Earnings blackout: ${Object.keys(earningsMap).length} symbols have earnings in next ${EARNINGS_BLACKOUT_DAYS} days`);\n  }\n} catch(e) { log(`Earnings fetch error: ${e.message}`); }\n\n// 12d-pre. Event Risk Calendar Check (2026 CPI/FOMC/NFP)\nconst EVENT_DATES_2026 = ['2026-01-09','2026-01-13','2026-01-28','2026-02-11','2026-02-13','2026-03-06','2026-03-11','2026-03-18','2026-04-03','2026-04-10','2026-04-29','2026-05-08','2026-05-12','2026-06-05','2026-06-10','2026-06-17','2026-07-02','2026-07-14','2026-07-29','2026-08-07','2026-08-12','2026-09-04','2026-09-11','2026-09-16','2026-10-02','2026-10-14','2026-10-28','2026-11-06','2026-11-10','2026-12-04','2026-12-09','2026-12-10'];\nconst EVENT_TYPE_MAP = {'01-09':'NFP','01-13':'CPI','01-28':'FOMC','02-11':'NFP','02-13':'CPI','03-06':'NFP','03-11':'CPI','03-18':'FOMC','04-03':'NFP','04-10':'CPI','04-29':'FOMC','05-08':'NFP','05-12':'CPI','06-05':'NFP','06-10':'CPI','06-17':'FOMC','07-02':'NFP','07-14':'CPI','07-29':'FOMC','08-07':'NFP','08-12':'CPI','09-04':'NFP','09-11':'CPI','09-16':'FOMC','10-02':'NFP','10-14':'CPI','10-28':'FOMC','11-06':'NFP','11-10':'CPI','12-04':'NFP','12-09':'FOMC','12-10':'CPI'};\nconst todayStr = new Date().toISOString().slice(0,10);\nconst in2daysStr = new Date(Date.now() + 2*86400000).toISOString().slice(0,10);\nconst upcomingEconEvents = EVENT_DATES_2026.filter(d => d >= todayStr && d <= in2daysStr);\nconst hasEconEventRisk = upcomingEconEvents.length > 0;\nconst econEventLabel = upcomingEconEvents.map(d => EVENT_TYPE_MAP[d.slice(5)] + ' ' + d.slice(5)).join(', ');\nif (hasEconEventRisk) {\n  log(`⚠️ Event Risk: ${econEventLabel} — income strategies will be blocked, debit strategies allowed`);\n}\n\n// 12d. Process each symbol\nconst sectorCount = {}; // track per-sector recommendations\nfor (const sym of symbols) {\n  const { ticker, name } = sym;\n  const sector = sym.sector || 'other';\n  log(`\\n=== Processing ${ticker} ===`);\n\n  // ── 12b-i. Yahoo Finance (technical analysis) ──────────────\n  const yfUrl = `https://query1.finance.yahoo.com/v8/finance/chart/${ticker}?interval=1d&range=60d`;\n  const yfData = await httpGet.call(this, yfUrl, {\n    'User-Agent': 'Mozilla/5.0',\n    'Accept': 'application/json',\n  }, `YF:${ticker}`);\n\n  let underlyingPrice = null, rsi = null, ma20 = null, support = null, resistance = null, macd = null;\n  const closes = [], highs = [], lows = [];\n\n  if (yfData?.chart?.result?.[0]) {\n    const res = yfData.chart.result[0];\n    const q   = res.indicators?.quote?.[0];\n    if (q) {\n      const rawCloses = q.close  || [];\n      const rawHighs  = q.high   || [];\n      const rawLows   = q.low    || [];\n      // Filter out null values\n      for (let i = 0; i < rawCloses.length; i++) {\n        if (rawCloses[i] != null && rawHighs[i] != null && rawLows[i] != null) {\n          closes.push(rawCloses[i]);\n          highs.push(rawHighs[i]);\n          lows.push(rawLows[i]);\n        }\n      }\n      underlyingPrice = closes[closes.length - 1] || null;\n      rsi        = calcRSI(closes, 14);\n      macd       = calcMACD(closes);\n      ma20       = calcMA(closes, 20);\n      support    = calcSupport(lows, 20);\n      resistance = calcResistance(highs, 20);\n      log(`${ticker}: price=${underlyingPrice?.toFixed(2)} RSI=${rsi?.toFixed(1)} MA20=${ma20?.toFixed(2)} MACD=${macd?.cross || 'none'}`);\n    }\n  } else {\n    log(`${ticker}: Yahoo Finance data unavailable`);\n  }\n\n  if (!underlyingPrice) {\n    log(`${ticker}: SKIP — no underlying price`);\n    continue;\n  }\n\n  // ── 財報日曆黑名單 ──\n  if (earningsMap[ticker]) {\n    log(`${ticker}: SKIP — 財報日 ${earningsMap[ticker]}（黑名單期間 ${EARNINGS_BLACKOUT_DAYS} 天）`);\n    results.push({ ticker, name, underlyingPrice: +underlyingPrice.toFixed(4), error: `財報日 ${earningsMap[ticker]} 在黑名單期間`, positiveEVSpreads: [] });\n    continue;\n  }\n\n  // ── 成交量分析 ──\n  const volumes = [];\n  if (yfData?.chart?.result?.[0]?.indicators?.quote?.[0]?.volume) {\n    const rawVols = yfData.chart.result[0].indicators.quote[0].volume;\n    for (const v of rawVols) { if (v != null) volumes.push(v); }\n  }\n  const volumeAnalysis = analyzeVolume(volumes, closes, 20);\n  log(`${ticker}: Vol ratio=${volumeAnalysis.ratio} spike=${volumeAnalysis.spike} nearSupport=${volumeAnalysis.nearSupport}`);\n\n  // ── 盤前/盤後資料標記 ──\n  const yfMeta = yfData?.chart?.result?.[0]?.meta || {};\n  const marketState = yfMeta.currentTradingPeriod?.regular ? 'regular' : (yfMeta.currentTradingPeriod?.pre ? 'pre' : 'post');\n\n  // ── 12b-ii. tastytrade market-metrics ──────────────────────\n  const metrics = metricsMap[ticker] || {};\n  // IVR is 0-1 decimal in tastytrade (tos-implied-volatility-index-rank)\n  const ivr          = parseFloat(metrics['tos-implied-volatility-index-rank']) || 0;\n  const ivPercentile = parseFloat(metrics['implied-volatility-percentile'])     || 0;\n  const iv           = parseFloat(metrics['implied-volatility-index'])           || 0;\n  log(`${ticker}: IVR=${ivr.toFixed(2)} IV%ile=${ivPercentile.toFixed(2)} IV=${iv.toFixed(4)}`);\n\n  // ── 12b-iii. CBOE delayed quotes ───────────────────────────\n  // CBOE uses uppercase root; for symbols with class suffix (e.g. BRK/B → BRKB) we just use the ticker\n  const cboeRoot   = ticker.replace(/[^A-Z]/g, '');\n  const cboeUrl    = `https://cdn.cboe.com/api/global/delayed_quotes/options/${cboeRoot}.json`;\n  log(`Fetching CBOE: ${cboeUrl}`);\n  const cboeData   = await httpGet.call(this, cboeUrl, {\n    'User-Agent': 'Mozilla/5.0',\n    'Accept': 'application/json',\n  }, `CBOE:${ticker}`);\n\n  if (!cboeData?.data?.options || cboeData.data.options.length === 0) {\n    log(`${ticker}: SKIP — CBOE data unavailable or empty`);\n    continue;\n  }\n\n  // Build index: { [expDate]: { C: Map<strike, opt>, P: Map<strike, opt> } }\n  const optsByExpType = {};\n  let cboeCount = 0;\n  for (const opt of cboeData.data.options) {\n    const parsed = parseCboeSymbol(opt.option || '');\n    if (!parsed) continue;\n    const { expDate, type, strike } = parsed;\n    const dte = daysToExpiry(expDate);\n    if (dte < DTE_MIN - 5 || dte > DTE_MAX + 5) continue; // ± 5 day buffer for indexing\n    if (!optsByExpType[expDate]) optsByExpType[expDate] = { C: new Map(), P: new Map() };\n    opt._strike = strike;  // attach parsed strike for convenience\n    optsByExpType[expDate][type].set(strike, opt);\n    cboeCount++;\n  }\n  log(`${ticker}: CBOE indexed ${cboeCount} options across ${Object.keys(optsByExpType).length} expirations`);\n\n  if (cboeCount === 0) {\n    log(`${ticker}: SKIP — no CBOE options in DTE range`);\n    continue;\n  }\n\n  // ── 12b-iv. IV Skew ────────────────────────────────────────\n  const ivSkew = calcIvSkew(optsByExpType, underlyingPrice);\n  log(`${ticker}: IV Skew=${ivSkew.toFixed(4)}`);\n\n  // ── 12b-v. Direction scoring ────────────────────────────────\n  let { direction, directionScore, directionReasons } =\n    scoreDirection(rsi, underlyingPrice, ma20, ivSkew, macd);\n  \n  // 盤勢過濾：根據 market regime 調整個股方向\n  if (marketRegime === 'bearOnly') {\n    if (direction === 'bullish') {\n      direction = 'neutral'; // 降級：不做純多\n      directionReasons.push(`⚠️ 盤勢bearOnly: bullish→neutral（不推Bull策略）`);\n    }\n  } else if (marketRegime === 'caution') {\n    directionReasons.push(`⚠️ 盤勢caution: VIX偏高，信號需謹慎`);\n  }\n  log(`${ticker}: direction=${direction} score=${directionScore} regime=${marketRegime}`);\n\n  // ── 12b-vi. Build spreads ───────────────────────────────────\n  let positiveEVSpreads = buildSpreads(\n    optsByExpType, underlyingPrice, direction, ivr, ivPercentile, directionScore, support, resistance, volumeAnalysis\n  );\n  log(`${ticker}: ${positiveEVSpreads.length} positive-EV spreads found`);\n\n  // Fix: Credit fallback — if no credit spreads found and direction allows it,\n  // log warning for teacher review (debit spreads may still be available)\n  const hasCreditSpread = positiveEVSpreads.some(s => ['Bull Put Spread', 'Bear Call Spread', 'Iron Condor'].includes(s.strategy));\n  const hasDebitSpread = positiveEVSpreads.some(s => ['Bull Call Spread', 'Bear Put Spread'].includes(s.strategy));\n  if (!hasCreditSpread && (direction === 'bullish' || direction === 'bearish') && ivr >= 0.25) {\n    log(`${ticker}: ⚠️ Credit fallback — no credit spreads passed filters (IVR=${(ivr*100).toFixed(0)}%, direction=${direction}). Only debit spreads available. Check if reward:risk threshold is too strict.`);\n  }\n\n  results.push({\n    ticker,\n    name,\n    sector,\n    underlyingPrice: +underlyingPrice.toFixed(4),\n    volumeRatio: volumeAnalysis?.ratio || 0,\n    volumeSpike: volumeAnalysis?.spike || false,\n    marketState: marketState || 'unknown',\n    iv:              +iv.toFixed(4),\n    ivr:             +ivr.toFixed(4),\n    ivPercentile:    +ivPercentile.toFixed(4),\n    direction,\n    directionScore,\n    directionReasons,\n    rsi:         rsi        !== null ? +rsi.toFixed(2)        : null,\n    ma20:        ma20       !== null ? +ma20.toFixed(4)       : null,\n    support:     support    !== null ? +support.toFixed(4)    : null,\n    resistance:  resistance !== null ? +resistance.toFixed(4) : null,\n    ivSkew:      +ivSkew.toFixed(4),\n    marketRegime,\n    macd:        macd ? { histogram: +macd.histogram.toFixed(4), cross: macd.cross } : null,\n    positiveEVSpreads,\n  });\n}\n\n// ─────────────────────────────────────────────────────────────\n// 13.  OUTPUT\n// ─────────────────────────────────────────────────────────────\n// Sort results by trend score\nresults.sort((a, b) => {\n  const aScore = a.positiveEVSpreads?.[0]?.trendScore || 0;\n  const bScore = b.positiveEVSpreads?.[0]?.trendScore || 0;\n  return bScore - aScore;\n});\n\n// 同產業限制 + 最大推薦數\nconst finalResults = [];\nconst sectorUsed = {};\nfor (const r of results) {\n  if (!r.positiveEVSpreads || r.positiveEVSpreads.length === 0) {\n    finalResults.push(r); // keep symbols with no spreads for debug\n    continue;\n  }\n  const sec = r.sector || 'other';\n  sectorUsed[sec] = (sectorUsed[sec] || 0) + 1;\n  if (sec !== 'index' && sectorUsed[sec] > MAX_PER_SECTOR) {\n    log(`${r.ticker}: SKIP — 同產業(${sec})已有 ${MAX_PER_SECTOR} 檔`);\n    r.skippedReason = `同產業(${sec})限制`;\n    r.positiveEVSpreads = []; // clear spreads\n  }\n  finalResults.push(r);\n}\n\n// 最大推薦數限制\nconst withSpreads = finalResults.filter(r => r.positiveEVSpreads?.length > 0);\nif (withSpreads.length > MAX_TOTAL_SIGNALS) {\n  log(`Capping from ${withSpreads.length} to ${MAX_TOTAL_SIGNALS} symbols`);\n  const topTickers = new Set(withSpreads.slice(0, MAX_TOTAL_SIGNALS).map(r => r.ticker));\n  for (const r of finalResults) {\n    if (r.positiveEVSpreads?.length > 0 && !topTickers.has(r.ticker)) {\n      r.skippedReason = `超過最大推薦數 ${MAX_TOTAL_SIGNALS}`;\n      r.positiveEVSpreads = [];\n    }\n  }\n}\n\nconst results_final = finalResults;\n\nreturn [{\n  json: {\n    results: results_final,\n    marketRegime,\n    marketRegimeReasons,\n    vix: vixValue,\n    spyDirection, spyDirScore, spyDirReasons,\n    debugLog,\n    analysisTime: new Date().toISOString(),\n    version: 'v3.4',\n  },\n}];\n"
      }
    },
    {
      "id": "c370c170-a138-4c18-84f5-86e464b2aded",
      "name": "Code in JavaScript1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "parameters": {
        "jsCode": "// === 正EV履約價推播 v3.0 — Node 2: 格式化 + 推播 ===\nif ($input.first().json.skipped) {\n  return [{ json: $input.first().json }];\n}\n\n// 盤勢全面暫停\nif ($input.first().json.halted) {\n  const d = $input.first().json;\n  const haltMsg = `🚨 正EV推播 — 全面暫停\\n━━━━━━━━━━━━━━\\n\\n${d.haltReason}\\n\\n盤勢狀態: ${d.marketRegime}\\nVIX: ${d.vix?.toFixed(1) || 'N/A'}\\nSPY方向: ${d.spyDirection || 'N/A'} (score=${d.spyDirScore || 0})\\n\\n⚠️ 極端恐慌環境，建議觀望不操作`;\n  // Push halt notification to LINE + TG\n  const LINE_TOKEN = 'y7xe8HwlQP5M0WQ3a9jzALbSSZ6/HtOyf4yQs4Eve0QJKa/JKgLFMYZiR7u4ErA/mvHoe8qRJBwiD21VSL1rb7BsJUmxzx+7OtvRXMChRRkwU87nWDRaC1dhXaYSafma3k2+Pk/QcSRwm7oG2VmxawdB04t89/1O/w1cDnyilFU=';\n  const TG_TOKEN = '8680833770:AAHutju73oP6c5X90GErYXn3hTvqjZIb7po';\n  const TG_CHAT = '-1003799249092';\n  try { await this.helpers.httpRequest({ method: 'POST', url: 'https://api.line.me/v2/bot/message/broadcast', headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + LINE_TOKEN }, body: JSON.stringify({ messages: [{ type: 'text', text: haltMsg }] }), returnFullResponse: true, ignoreHttpStatusErrors: true }); } catch(e) {}\n  try { await this.helpers.httpRequest({ method: 'POST', url: `https://api.telegram.org/bot${TG_TOKEN}/sendMessage`, headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ chat_id: TG_CHAT, text: haltMsg }) }); } catch(e) {}\n  // Also POST to webhook\n  try { await this.helpers.httpRequest({ method: 'POST', url: 'https://chilldove.app.n8n.cloud/webhook/ev-signals-update', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ timestamp: new Date().toISOString(), signals: [], summary: { halted: true, reason: d.haltReason, vix: d.vix, version: 'v3.4' }, raw: [] }) }); } catch(e) {}\n  // Even halt messages get Dashboard link\n  haltMsg += `\\n\\n📊 Dashboard:\\nhttps://chungchangting.github.io/student-signal-dashboard/`;\n  return [{ json: { message: haltMsg, halted: true, version: 'v3.4' } }];\n}\n\nconst LINE_TOKEN = 'y7xe8HwlQP5M0WQ3a9jzALbSSZ6/HtOyf4yQs4Eve0QJKa/JKgLFMYZiR7u4ErA/mvHoe8qRJBwiD21VSL1rb7BsJUmxzx+7OtvRXMChRRkwU87nWDRaC1dhXaYSafma3k2+Pk/QcSRwm7oG2VmxawdB04t89/1O/w1cDnyilFU=';\nconst TG_TOKEN = '8680833770:AAHutju73oP6c5X90GErYXn3hTvqjZIb7po';\nconst TG_CHAT = '-1003799249092';\n\nconst data = $input.first().json;\nconst results = data.results || [];\n\nconst now = new Date(data.analysisTime || new Date());\nconst twTime = new Date(now.getTime() + 8 * 60 * 60 * 1000);\nconst dateStr = `${twTime.getFullYear()}/${twTime.getMonth()+1}/${twTime.getDate()}`;\nconst timeStr = `${twTime.getHours()}:${String(twTime.getMinutes()).padStart(2,'0')}`;\n\n// Direction emoji\nconst dirEmoji = { bullish: '🟢', bearish: '🔴', neutral: '⚪' };\nconst dirLabel = { bullish: '看多', bearish: '看空', neutral: '中性' };\nconst stratLabel = {\n  'Bull Put Spread': '【偏多收租】Put Credit Spread',\n  'Bear Call Spread': '【偏空收租】Call Credit Spread',\n  'Bull Call Spread': '【偏多進攻】Call Debit Spread',\n  'Bear Put Spread': '【偏空進攻】Put Debit Spread',\n  'Iron Condor': '【盤整收租】Iron Condor'\n};\n\n// Score and rank symbols\nconst ranked = results\n  .filter(r => r.positiveEVSpreads && r.positiveEVSpreads.length > 0 && !r.error)\n  .map(r => {\n    const spreads = r.positiveEVSpreads;\n    const bestEV = Math.max(...spreads.map(s => parseFloat(s.ev) || 0));\n    const avgTrend = spreads.reduce((sum, s) => sum + (parseFloat(s.trendScore) || 0), 0) / spreads.length;\n    return { ...r, bestEV, avgTrend, spreads };\n  })\n  .sort((a, b) => b.avgTrend - a.avgTrend)\n  .slice(0, 5);\n\nif (ranked.length === 0) {\n  const noMsg = `📢 正EV履約價推播 v3.0 — ${dateStr} ${timeStr}\\n━━━━━━━━━━━━━━\\n\\n⚠️ 今日無符合正EV條件的履約價\\n篩選: Delta選價 + Greeks + IVR + 流動性\\n\\n少做多看，靜候佳機 🧘`;\n  // Push to LINE\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: 'https://api.line.me/v2/bot/message/broadcast',\n      headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + LINE_TOKEN },\n      body: JSON.stringify({ messages: [{ type: 'text', text: noMsg }] }),\n      returnFullResponse: true, ignoreHttpStatusErrors: true\n    });\n  } catch(e) {}\n  // Push to Telegram\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: `https://api.telegram.org/bot${TG_TOKEN}/sendMessage`,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ chat_id: TG_CHAT, text: noMsg })\n    });\n  } catch(e) {}\n  return [{ json: { message: 'No positive EV today', version: 'v3.0' } }];\n}\n\n// Build message\nconst medals = ['🥇', '🥈', '🥉', '4️⃣', '5️⃣'];\nconst regime = data.marketRegime || 'normal';\nconst vix = data.vix;\nconst spyDir = data.spyDirection;\nconst regimeMap = { normal: '🟢正常', caution: '🟡高波動警戒', bearOnly: '🔴只推Bear', halt: '🚨全面暫停' };\n\nlet msg = `🎯 正EV精選推薦 ${dateStr} ${timeStr}\\n`;\nmsg += `━━━━━━━━━━━━━━\\n`;\nmsg += `盤勢: ${regimeMap[regime] || regime}`;\nif (vix) msg += ` | VIX:${vix.toFixed(1)}`;\nif (spyDir) msg += ` | SPY:${spyDir}`;\nmsg += `\\n\\n`;\n\nranked.forEach((sym, idx) => {\n  const de = dirEmoji[sym.direction] || '⚪';\n  const dl = dirLabel[sym.direction] || '中性';\n\n  msg += `\\n${medals[idx]} #${idx+1} ${sym.ticker} ${sym.name}\\n`;\n  msg += `${de} ${dl} | 現價 $${sym.underlyingPrice}\\n`;\n  msg += `IV:${sym.iv} | IVR:${(parseFloat(sym.ivr)*100).toFixed(0)}%`;\n  if (sym.ivSkew !== undefined && sym.ivSkew !== null) {\n    msg += ` | Skew:${(parseFloat(sym.ivSkew)*100).toFixed(1)}%`;\n  }\n  msg += `\\n`;\n  msg += `RSI:${parseFloat(sym.rsi).toFixed(0)} | MA20:$${parseFloat(sym.ma20).toFixed(0)}`;\n  if (sym.macd) msg += ` | MACD:${sym.macd.cross === 'death' ? '死叉🔴' : sym.macd.cross === 'golden' ? '金叉🟢' : (sym.macd.histogram > 0 ? '正' : '負')}`;\n  if (sym.support) msg += ` | S:$${parseFloat(sym.support).toFixed(0)}`;\n  if (sym.resistance) msg += ` | R:$${parseFloat(sym.resistance).toFixed(0)}`;\n  msg += `\\n`;\n\n  // Best spread per strategy\n  const bestByStrategy = {};\n  sym.spreads.forEach(s => {\n    const key = s.strategy;\n    if (!bestByStrategy[key] || parseFloat(s.ev) > parseFloat(bestByStrategy[key].ev)) {\n      bestByStrategy[key] = s;\n    }\n  });\n\n  const sorted = Object.values(bestByStrategy).sort((a, b) =>\n    parseFloat(b.trendScore || b.ev) - parseFloat(a.trendScore || a.ev)\n  );\n\n  sorted.forEach(s => {\n    const isDebit = ['Bear Put', 'Bull Call'].includes(s.strategy);\n    const action = isDebit ? '付' : '收';\n    const amount = parseFloat(s.credit || s.debit || 0).toFixed(2);\n    const wr = s.winRate ? `勝率${s.winRate}` : '';\n\n    const sLabel = stratLabel[s.strategy] || s.strategy;\n    if (s.strategy === 'Iron Condor') {\n      msg += `➡️ ${sLabel} ${s.shortStrike}\\n`;\n    } else {\n      msg += `➡️ ${sLabel} ${s.shortStrike}/${s.longStrike}\\n`;\n    }\n    // EV range: show worst~best based on Bid/Ask slippage\n    const evStr = s.evRange\n      ? `EV $${s.evRange.evWorst}~$${s.evRange.evBest} (中$${parseFloat(s.ev).toFixed(2)})`\n      : `EV $${parseFloat(s.ev).toFixed(2)}`;\n    msg += `   ${action}$${amount} | ${evStr} | Kelly ${s.kelly}\\n`;\n    msg += `   ${s.dte}DTE | ${wr} | Δ${s.shortDelta || '?'}\\n`;\n\n    // Stop loss / take profit\n    if (s.takeProfit && s.stopLoss) {\n      msg += `   🎯止盈$${s.takeProfit} | 🛑止損$${s.stopLoss}\\n`;\n    }\n\n    // Margin\n    if (s.margin) {\n      msg += `   保證金 $${s.margin}\\n`;\n    }\n  });\n});\n\nmsg += `\\n━━━━━━━━━━━━━━\\n`;\nmsg += `v3.4 篩選:\\n`;\nmsg += `📊 Greeks + Delta選價 + IVR\\n`;\nmsg += `🧠 RSI/MA20/Skew方向判斷\\n`;\nmsg += `🛡️ BidAsk<10% + OI>500\\n`;\nmsg += `⚠️ CBOE即時數據，下單前請確認`;\n\n// Split if too long (LINE limit 5000 chars)\nconst msgParts = [];\nif (msg.length > 4500) {\n  const lines = msg.split('\\n');\n  let current = '';\n  for (const line of lines) {\n    if ((current + line + '\\n').length > 4400 && current.length > 0) {\n      msgParts.push(current);\n      current = '（續）\\n' + line + '\\n';\n    } else {\n      current += line + '\\n';\n    }\n  }\n  if (current) msgParts.push(current);\n} else {\n  // Append Dashboard link\n  msg += `\\n\\n📊 試算 Dashboard:\\nhttps://chungchangting.github.io/student-signal-dashboard/`;\n  msgParts.push(msg);\n}\n\n// LINE broadcast\nlet lineResponse = null;\nfor (const part of msgParts) {\n  try {\n    lineResponse = await this.helpers.httpRequest({\n      method: 'POST', url: 'https://api.line.me/v2/bot/message/broadcast',\n      headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + LINE_TOKEN },\n      body: JSON.stringify({ messages: [{ type: 'text', text: part.trim() }] }),\n      returnFullResponse: true, ignoreHttpStatusErrors: true\n    });\n  } catch (le) {\n    lineResponse = { error: le.message };\n  }\n}\n\n// Telegram\nlet tgResponse = 'not sent';\nfor (const part of msgParts) {\n  try {\n    const tgResp = await this.helpers.httpRequest({\n      method: 'POST', url: `https://api.telegram.org/bot${TG_TOKEN}/sendMessage`,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ chat_id: TG_CHAT, text: part.trim() })\n    });\n    tgResponse = tgResp.ok ? 'ok' : JSON.stringify(tgResp);\n  } catch (e) {\n    tgResponse = `TG Error: ${e.message}`;\n  }\n}\n\n// === Google Sheet 歷史記錄寫入 ===\n// Sheet: Options Dashboard Data (1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4)\n// Tab: signals (gid=637583169)\nconst SHEET_ID = '1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4';\nconst sheetRows = [];\n\nranked.forEach(sym => {\n  const bestByStrategy = {};\n  sym.spreads.forEach(s => {\n    const key = s.strategy;\n    if (!bestByStrategy[key] || parseFloat(s.ev) > parseFloat(bestByStrategy[key].ev)) {\n      bestByStrategy[key] = s;\n    }\n  });\n\n  Object.values(bestByStrategy).forEach(s => {\n    const isDebit = ['Bear Put Spread', 'Bull Call Spread'].includes(s.strategy);\n    const moduleMap = {\n      'Bull Put Spread': 'BPCS', 'Bear Call Spread': 'BCCS',\n      'Bull Call Spread': 'BCDS', 'Bear Put Spread': 'BPDS',\n      'Iron Condor': 'IC'\n    };\n    sheetRows.push({\n      symbol: sym.ticker,\n      strategy: s.strategy,\n      decision: parseFloat(s.ev) > 0 ? 'GO' : 'SKIP',\n      note: s.evRange\n        ? `EV=$${s.evRange.evWorst}~$${s.evRange.evBest}(中${parseFloat(s.ev).toFixed(2)}) Kelly=${s.kelly} Δ=${s.shortDelta || '?'} 止盈$${s.takeProfit} 止損$${s.stopLoss}`\n        : `EV=$${parseFloat(s.ev).toFixed(2)} Kelly=${s.kelly} Δ=${s.shortDelta || '?'} 止盈$${s.takeProfit} 止損$${s.stopLoss}`,\n      module: moduleMap[s.strategy] || s.strategy,\n      bias: sym.direction || 'neutral',\n      iv_environment: `IVR=${(parseFloat(sym.ivr)*100).toFixed(0)}%`,\n      created_at: new Date().toISOString(),\n      event_risk: (function() {\n        const KEY_EV = ['2026-01-09','2026-01-13','2026-01-28','2026-02-11','2026-02-13','2026-03-06','2026-03-11','2026-03-18','2026-04-03','2026-04-10','2026-04-29','2026-05-08','2026-05-12','2026-06-05','2026-06-10','2026-06-17','2026-07-02','2026-07-14','2026-07-29','2026-08-07','2026-08-12','2026-09-04','2026-09-11','2026-09-16','2026-10-02','2026-10-14','2026-10-28','2026-11-06','2026-11-10','2026-12-04','2026-12-09','2026-12-10'];\n        const today = new Date().toISOString().slice(0,10);\n        const in2d = new Date(Date.now()+2*86400000).toISOString().slice(0,10);\n        return KEY_EV.some(d => d >= today && d <= in2d);\n      })(),\n      pop: parseFloat(s.winRate) * 100 || 0,\n      credit_received: parseFloat(s.credit || 0),\n      debit_paid: parseFloat(s.debit || 0),\n      max_loss: parseFloat(s.margin || 0),\n    });\n  });\n});\n\n// Write to Google Sheet via Sheets API (using service account from n8n)\nlet sheetWriteResult = 'not attempted';\nif (sheetRows.length > 0) {\n  try {\n    // Use n8n's built-in Google Sheets API via httpRequest\n    // Append rows to the signals sheet\n    const values = sheetRows.map(r => [\n      r.symbol, r.strategy, r.decision, r.note, r.module,\n      r.bias, r.iv_environment, r.created_at, r.event_risk,\n      r.pop, r.credit_received\n    ]);\n\n    // We'll use the Google Sheets API v4 append endpoint\n    // But we need OAuth — instead, store for the webhook to pick up\n    sheetWriteResult = `${sheetRows.length} rows prepared (stored in static data)`;\n  } catch (e) {\n    sheetWriteResult = `Sheet write error: ${e.message}`;\n  }\n}\n\n// === Static Data 存儲（給 webhook 即時讀取）===\nconst staticData = $getWorkflowStaticData('global');\nstaticData.latestSignals = {\n  timestamp: new Date().toISOString(),\n  signals: sheetRows,\n  summary: {\n    symbolCount: ranked.length,\n    totalSignals: sheetRows.length,\n    version: 'v3.4'\n  },\n  raw: ranked.map(sym => ({\n    ticker: sym.ticker,\n    name: sym.name,\n    underlyingPrice: sym.underlyingPrice,\n    iv: sym.iv,\n    ivr: sym.ivr,\n    direction: sym.direction,\n    directionScore: sym.directionScore,\n    directionReasons: sym.directionReasons,\n    rsi: sym.rsi,\n    ma20: sym.ma20,\n    support: sym.support,\n    resistance: sym.resistance,\n    macd: sym.macd,\n    ivSkew: sym.ivSkew,\n    spreads: sym.spreads,\n  }))\n};\n\n// === POST 信號到勝率追蹤系統 ===\nlet trackingResult = 'not sent';\ntry {\n  const trackPayload = {\n    signals: sheetRows,\n    tracking: {\n      id: `sig-${Date.now()}`,\n      pushTime: new Date().toISOString(),\n      marketRegime: data.marketRegime || 'normal',\n      vix: data.vix,\n      symbolCount: ranked.length,\n    },\n    raw: ranked.map(sym => ({\n      ticker: sym.ticker, name: sym.name,\n      sector: sym.sector,\n      underlyingPrice: sym.underlyingPrice, iv: sym.iv, ivr: sym.ivr,\n      direction: sym.direction, directionScore: sym.directionScore,\n      directionReasons: sym.directionReasons,\n      rsi: sym.rsi, ma20: sym.ma20, support: sym.support, resistance: sym.resistance,\n      macd: sym.macd, ivSkew: sym.ivSkew,\n      volumeRatio: sym.volumeRatio, volumeSpike: sym.volumeSpike,\n      spreads: sym.spreads,\n    }))\n  };\n  const trackResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://chilldove.app.n8n.cloud/webhook/ev-signal-track',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(trackPayload)\n  });\n  trackingResult = trackResp?.status || 'ok';\n} catch (e) {\n  trackingResult = `Tracking error: ${e.message}`;\n}\n\n// === POST 信號到 ev-signals webhook（供 Dashboard 即時讀取）===\nlet webhookResult = 'not sent';\ntry {\n  const payload = {\n    timestamp: new Date().toISOString(),\n    signals: sheetRows,\n    summary: { symbolCount: ranked.length, totalSignals: sheetRows.length, version: 'v3.4' },\n    raw: ranked.map(sym => ({\n      ticker: sym.ticker, name: sym.name,\n      sector: sym.sector,\n      underlyingPrice: sym.underlyingPrice, iv: sym.iv, ivr: sym.ivr,\n      direction: sym.direction, directionScore: sym.directionScore,\n      directionReasons: sym.directionReasons,\n      rsi: sym.rsi, ma20: sym.ma20, support: sym.support, resistance: sym.resistance,\n      macd: sym.macd, ivSkew: sym.ivSkew,\n      volumeRatio: sym.volumeRatio, volumeSpike: sym.volumeSpike,\n      marketState: sym.marketState,\n      spreads: sym.spreads,\n    })),\n    tracking: {\n      id: `sig-${Date.now()}`,\n      pushTime: new Date().toISOString(),\n      marketRegime: data.marketRegime,\n      vix: data.vix,\n      symbolCount: ranked.length,\n    }\n  };\n  const webhookResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://chilldove.app.n8n.cloud/webhook/ev-signals-update',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(payload)\n  });\n  webhookResult = webhookResp?.status || 'ok';\n} catch (e) {\n  webhookResult = `Webhook error: ${e.message}`;\n}\n\n// === Google Sheet 寫入（透過 Apps Script Web App）===\nlet sheetResult = 'skipped';\nif (sheetRows.length > 0) {\n  try {\n    // Use Google Sheets API v4 append via public Apps Script\n    // Alternative: direct Sheets API with service account\n    // For now, store in webhook static data (Dashboard reads from webhook)\n    sheetResult = `${sheetRows.length} signals stored in webhook`;\n  } catch(e) {\n    sheetResult = e.message;\n  }\n}\n\nreturn [{ json: {\n  message: msg, lineResponse, tgResponse,\n  messageCount: msgParts.length, symbolCount: ranked.length,\n  webhookResult, sheetResult, trackingResult,\n  signalsStored: sheetRows.length,\n  version: 'v3.4'\n} }];\n"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "global": {
      "pushHistory": {
        "TSLA": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "NVDA": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "META": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "SPY": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "QQQ": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "AAPL": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "BRK-B": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "AMZN": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "GOOGL": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "TSM": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "MSFT": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "AMD": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "PLTR": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "MCD": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "CBOE": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "SNDK": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "AMAT": {
          "count": 1,
          "lastDate": "2026-04-02"
        },
        "SOFI": {
          "count": 1,
          "lastDate": "2026-04-02"
        }
      }
    }
  },
  "meta": null,
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-25T21:40:00.014+08:00",
          "Readable date": "March 25th 2026, 9:40:00 pm",
          "Readable time": "9:40:00 pm",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "25",
          "Hour": "21",
          "Minute": "40",
          "Second": "00",
          "Timezone": "Asia/Taipei (UTC+08:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "89586583-e1ae-4692-b1f5-7cbf36527e99",
  "activeVersionId": "89586583-e1ae-4692-b1f5-7cbf36527e99",
  "versionCounter": 238,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-25T02:23:45.407Z",
      "createdAt": "2026-03-25T02:23:45.407Z",
      "role": "workflow:owner",
      "workflowId": "94K8VLorR9VVxgd3",
      "projectId": "XDZLu6ZcPKkiq9Uq",
      "project": {
        "updatedAt": "2026-03-14T06:53:51.790Z",
        "createdAt": "2026-03-14T06:53:45.726Z",
        "id": "XDZLu6ZcPKkiq9Uq",
        "name": "CHILLDOVE   <joseph010409@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-06T06:32:28.635Z",
    "createdAt": "2026-04-06T06:32:28.635Z",
    "versionId": "89586583-e1ae-4692-b1f5-7cbf36527e99",
    "workflowId": "94K8VLorR9VVxgd3",
    "nodes": [
      {
        "id": "2bcc18e1-0fca-407c-b64b-ab13e4308510",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 40 21,22 * * 1-5"
              }
            ]
          }
        }
      },
      {
        "id": "3b0d2ca3-63d4-47da-983d-e8a6e56d3a49",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.tastyworks.com/oauth/token",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "n8n-tastytrade-automation/1.0"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "refresh_token"
              },
              {
                "name": "refresh_token",
                "value": "eyJhbGciOiJFZERTQSIsInR5cCI6InJ0K2p3dCIsImtpZCI6ImxycXg3Wm5RNXJ3cHp6WXRTVjRhTjdMODhET0lWODEtRGpQZTVhVkdrcVUiLCJqa3UiOiJodHRwczovL2ludGVyaW9yLWFwaS5hcjIudGFzdHl0cmFkZS5zeXN0ZW1zL29hdXRoL2p3a3MifQ.eyJpc3MiOiJodHRwczovL2FwaS50YXN0eXRyYWRlLmNvbSIsInN1YiI6IlU1Y2FkZGU1ZS1kOGUzLTQyYmItYTljOC03YThiYjg5NWM2NTkiLCJpYXQiOjE3NzQzNzA3NTIsImF1ZCI6ImVjOGI0NDUzLWQ3ZTUtNDE4ZS04MTcwLTQzZTliM2UwYjQ2MCIsImdyYW50X2lkIjoiRzAyNGY3ZDIwLTk2MDgtNGVmYy1iYzVmLTQ3YzU2MWZlYzVhYSIsInNjb3BlIjoicmVhZCB0cmFkZSBvcGVuaWQifQ.iBKlWkK3DYbHxe3EkBOaU8tQghSq2_MlZpMcBLDgj32wPAew9nwJ-WV397ftK6ilWv_WiOPCuVfN0NNrQDg4Dw"
              },
              {
                "name": "client_secret",
                "value": "b09387c27e0cd0325cae0a910e43fc5f158ca109"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "1be7682e-2bda-448b-85ed-390b53a5b50c",
        "name": "Code in JavaScript",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          0
        ],
        "parameters": {
          "jsCode": "// ============================================================\n// Options Trading Signal System — Node1 v3.0\n// n8n Code Node (JavaScript)\n// ============================================================\n// Data sources:\n//   • Yahoo Finance  – 60-day daily OHLCV  (technical analysis)\n//   • tastytrade     – market-metrics (IVR, IV percentile)\n//   • tastytrade     – option-chains/nested  (expirations)\n//   • CBOE delayed   – ALL option Greeks + bid/ask/OI/volume\n// ============================================================\n\n// ─────────────────────────────────────────────────────────────\n// 0.  CONFIGURATION\n// ─────────────────────────────────────────────────────────────\nconst symbols = [\n  { ticker: 'SPY',  name: 'SPY',    sector: 'index' },\n  { ticker: 'QQQ',  name: 'QQQ',    sector: 'index' },\n  { ticker: 'AAPL', name: 'Apple',  sector: 'tech' },\n  { ticker: 'NVDA', name: 'NVIDIA', sector: 'semi' },\n  { ticker: 'PLTR', name: 'Palantir', sector: 'tech' },\n  { ticker: 'TSLA', name: 'Tesla',  sector: 'auto' },\n  { ticker: 'META', name: 'Meta',   sector: 'tech' },\n  { ticker: 'AMZN', name: 'Amazon', sector: 'tech' },\n  { ticker: 'GOOGL', name: 'Google', sector: 'tech' },\n  { ticker: 'MSFT', name: 'Microsoft', sector: 'tech' },\n  { ticker: 'AMD',  name: 'AMD',    sector: 'semi' },\n  { ticker: 'SOFI', name: 'SoFi',   sector: 'fin' },\n  { ticker: 'AMAT', name: 'Applied Materials', sector: 'semi' },\n  { ticker: 'TSM',  name: 'TSM',    sector: 'semi' },\n];\nconst MAX_PER_SECTOR = 2;      // 同產業最多推薦 2 檔\nconst MAX_TOTAL_SIGNALS = 5;   // 每次最多推薦 5 檔標的\nconst EARNINGS_BLACKOUT_DAYS = 2; // 財報前 N 天不推薦\nconst FINNHUB_KEY = 'd70bb2hr01qtb4ra5aagd70bb2hr01qtb4ra5ab0';\n\n// ── DTE per strategy (aligned with Notion rules) ──\nconst DTE_MIN_CREDIT = 14;   // Call Credit: 14-30天 (Notion)\nconst DTE_MAX_CREDIT = 30;\nconst DTE_MIN_IC     = 20;   // Iron Condor: 20-30天 (Notion)\nconst DTE_MAX_IC     = 30;\nconst DTE_MIN_DEBIT  = 14;   // Put Debit: 14-45天\nconst DTE_MAX_DEBIT  = 45;\nconst DTE_MIN = 14;          // global floor for CBOE indexing\nconst DTE_MAX = 45;          // global ceiling for CBOE indexing\n\nconst LIQUIDITY_MAX_SPREAD_PCT = 0.10;   // bid-ask spread ≤ 10 %\nconst LIQUIDITY_MIN_OI         = 500;\nconst KELLY_MIN                = 0.05;   // 5 %\n\n// ── Delta per strategy (aligned with Notion LV1 + LV2 rules) ──\n// Put Credit Spread (看多賣方 LV1): 賣腿 Delta 0.20~0.25\nconst PCS_DELTA_MIN            = 0.20;\nconst PCS_DELTA_MAX            = 0.25;\n// Call Credit Spread (看空賣方 LV2): 賣腿 Delta 0.15 區間\nconst CCS_DELTA_MIN            = 0.10;\nconst CCS_DELTA_MAX            = 0.20;\n// Iron Condor (中性 LV3): Call/Put 0.10~0.15\nconst IC_DELTA_MIN             = 0.10;\nconst IC_DELTA_MAX             = 0.15;\n// Debit Spreads (買方 LV1/LV2): 買腿 Delta 0.5 區間\nconst DEBIT_SPREAD_DELTA_MIN   = 0.40;\nconst DEBIT_SPREAD_DELTA_MAX   = 0.60;\n\n// ── IVR/IVP thresholds (Notion rules) ──\nconst IVR_MIN_PCS      = 0.30;  // Put Credit Spread: IVR 30-60 (Notion LV1)\nconst IVR_MAX_PCS      = 0.60;\nconst IVR_MIN_CCS      = 0.30;  // Call Credit Spread: IVR 30-50 (Notion LV2)\nconst IVR_MAX_CCS      = 0.50;\nconst IVR_MIN_IC       = 0.30;  // IC 需 IVR > 30 (Notion LV3)\nconst IVP_MIN_DEBIT    = 0.20;  // Debit Spread: IVP 20-50 (Notion LV1)\nconst IVP_MAX_DEBIT    = 0.50;\nconst REWARD_RISK_MIN  = 3.0;   // Credit spread 報酬比至少 1:3 (Notion)\n\n// ─────────────────────────────────────────────────────────────\n// 1.  AUTH\n// ─────────────────────────────────────────────────────────────\nconst accessToken = $input.first().json.access_token;\nconst ttHeaders = {\n  'Authorization': 'Bearer ' + accessToken,\n  'Accept': 'application/json',\n  'User-Agent': 'chilldove-n8n/3.0',\n};\n\nconst debugLog = [];\nfunction log(msg) { debugLog.push('[' + new Date().toISOString() + '] ' + msg); }\n\n// ─────────────────────────────────────────────────────────────\n// 2.  DST AUTO-DETECT + MARKET HOURS GUARD\n// ─────────────────────────────────────────────────────────────\n/*\n  US DST: second Sunday of March → first Sunday of November\n  During US DST  : NYSE opens at 09:30 ET = 21:30 TWN (UTC+8)\n  Standard time  : NYSE opens at 09:30 ET = 22:30 TWN (UTC+8)\n  We run this script slightly before open, so:\n    • DST     → expect Taiwan hour = 21\n    • Standard→ expect Taiwan hour = 22\n*/\nfunction isUsDst(date) {\n  const year = date.getUTCFullYear();\n  // second Sunday of March\n  const march = new Date(Date.UTC(year, 2, 1));\n  const marchDay = march.getUTCDay(); // 0=Sun\n  const dstStart = new Date(Date.UTC(year, 2, (14 - marchDay) % 7 + 8));\n  // first Sunday of November\n  const nov = new Date(Date.UTC(year, 10, 1));\n  const novDay = nov.getUTCDay();\n  const dstEnd = new Date(Date.UTC(year, 10, (7 - novDay) % 7 + 1));\n  return date >= dstStart && date < dstEnd;\n}\n\nconst now = new Date();\nconst isDst = isUsDst(now);\n// Taiwan is UTC+8; no local DST\nconst taiwanHour = (now.getUTCHours() + 8) % 24;\nconst expectedOpenHour = isDst ? 21 : 22;   // hour BEFORE 30-min open window\n\nlog(`DST=${isDst}, taiwanHour=${taiwanHour}, expectedOpenHour=${expectedOpenHour}`);\n\n// Allow execution window: expectedOpenHour to expectedOpenHour+3\nconst hourDiff = (taiwanHour - expectedOpenHour + 24) % 24;\nif (hourDiff > 3) {\n  return [{\n    json: {\n      skipped: true,\n      reason: `Market not open — Taiwan time ${taiwanHour}:xx, expected window ${expectedOpenHour}xx-${expectedOpenHour + 3}xx (DST=${isDst})`,\n      debugLog,\n      analysisTime: now.toISOString(),\n      version: 'v3.4',\n    },\n  }];\n}\n\n// ─────────────────────────────────────────────────────────────\n// 3.  HTTP HELPER\n// ─────────────────────────────────────────────────────────────\nasync function httpGet(url, headers = {}, label = '') {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url,\n      headers,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n    });\n    if (res.statusCode >= 400) {\n      log(`HTTP ${res.statusCode} for ${label || url}`);\n      return null;\n    }\n    return typeof res.body === 'string' ? JSON.parse(res.body) : res.body;\n  } catch (e) {\n    log(`ERROR fetching ${label || url}: ${e.message}`);\n    return null;\n  }\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4.  TECHNICAL ANALYSIS HELPERS\n// ─────────────────────────────────────────────────────────────\nfunction calcRSI(closes, period = 14) {\n  if (closes.length < period + 1) return null;\n  let gains = 0, losses = 0;\n  for (let i = closes.length - period; i < closes.length; i++) {\n    const diff = closes[i] - closes[i - 1];\n    if (diff >= 0) gains += diff; else losses -= diff;\n  }\n  if (losses === 0) return 100;\n  const rs = (gains / period) / (losses / period);\n  return 100 - 100 / (1 + rs);\n}\n\nfunction calcMA(closes, period = 20) {\n  if (closes.length < period) return null;\n  const slice = closes.slice(-period);\n  return slice.reduce((a, b) => a + b, 0) / period;\n}\n\nfunction calcSupport(lows, period = 20) {\n  const slice = lows.slice(-period);\n  return Math.min(...slice);\n}\n\nfunction calcResistance(highs, period = 20) {\n  const slice = highs.slice(-period);\n  return Math.max(...slice);\n}\n\n\n// ─────────────────────────────────────────────────────────────\n// 4b. VOLUME ANALYSIS\n// ─────────────────────────────────────────────────────────────\nfunction analyzeVolume(volumes, closes, period = 20) {\n  if (!volumes || volumes.length < period + 1) return { avg: 0, latest: 0, ratio: 0, spike: false };\n  const recent = volumes.slice(-period);\n  const avg = recent.reduce((a, b) => a + b, 0) / period;\n  const latest = volumes[volumes.length - 1] || 0;\n  const ratio = avg > 0 ? latest / avg : 0;\n  // Check if volume spiked near support (last bar close near 20-day low)\n  const recentLows = closes.slice(-period);\n  const support = Math.min(...recentLows);\n  const nearSupport = closes[closes.length - 1] <= support * 1.02; // within 2% of support\n  return { avg: Math.round(avg), latest, ratio: +ratio.toFixed(2), spike: ratio > 1.5, nearSupport };\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4c. VEGA/THETA ASSESSMENT\n// ─────────────────────────────────────────────────────────────\nfunction assessGreeks(strategy, shortVega, shortTheta, longVega, longTheta) {\n  // Credit spreads (sellers): want negative vega (IV drop = profit), positive theta (time decay = profit)\n  // Debit spreads (buyers): want positive vega (IV rise = profit), theta works against\n  const isCredit = ['Bull Put Spread', 'Bear Call Spread', 'Iron Condor'].includes(strategy);\n  const netVega = (shortVega || 0) - (longVega || 0); // for credit: selling short, buying long\n  const netTheta = (shortTheta || 0) - (longTheta || 0);\n  \n  let vegaOk, thetaOk, vegaNote, thetaNote;\n  if (isCredit) {\n    vegaOk = netVega <= 0; // credit seller wants net negative vega\n    thetaOk = netTheta >= 0; // credit seller wants net positive theta\n    vegaNote = vegaOk ? 'Vega負效益✅(IV降有利)' : 'Vega正效益⚠️(IV升不利)';\n    thetaNote = thetaOk ? 'Theta正衰減✅(時間有利)' : 'Theta負衰減⚠️(時間不利)';\n  } else {\n    vegaOk = netVega >= 0; // debit buyer wants net positive vega\n    thetaOk = true; // theta always works against buyer, accepted\n    vegaNote = vegaOk ? 'Vega正效益✅(IV升有利)' : 'Vega負效益⚠️(IV降不利)';\n    thetaNote = `Theta衰減${Math.abs(netTheta).toFixed(3)}/天`;\n  }\n  return { netVega: +netVega.toFixed(4), netTheta: +netTheta.toFixed(4), vegaOk, thetaOk, vegaNote, thetaNote };\n}\n\nfunction calcMACD(closes) {\n  // MACD = EMA(12) - EMA(26), Signal = EMA(9) of MACD\n  if (closes.length < 26) return null;\n  function ema(data, period) {\n    const k = 2 / (period + 1);\n    let e = data[0];\n    for (let i = 1; i < data.length; i++) e = data[i] * k + e * (1 - k);\n    return e;\n  }\n  const ema12 = ema(closes.slice(-26), 12);\n  const ema26 = ema(closes.slice(-26), 26);\n  const macdLine = ema12 - ema26;\n\n  // Calculate MACD line for last 9 bars to get signal line\n  const macdHistory = [];\n  for (let i = closes.length - 9; i <= closes.length; i++) {\n    const slice = closes.slice(0, i);\n    if (slice.length < 26) continue;\n    const e12 = ema(slice.slice(-26), 12);\n    const e26 = ema(slice.slice(-26), 26);\n    macdHistory.push(e12 - e26);\n  }\n  const signalLine = macdHistory.length >= 9 ? ema(macdHistory, 9) : macdLine;\n  const histogram = macdLine - signalLine;\n\n  // Detect cross: current histogram sign vs previous\n  const prevMacd = macdHistory.length >= 2 ? macdHistory[macdHistory.length - 2] : macdLine;\n  const prevSignal = macdHistory.length >= 2 ? ema(macdHistory.slice(0, -1), 9) : signalLine;\n  const prevHist = prevMacd - prevSignal;\n\n  let cross = 'none';\n  if (histogram > 0 && prevHist <= 0) cross = 'golden'; // 金叉\n  if (histogram < 0 && prevHist >= 0) cross = 'death';  // 死叉\n\n  return { macdLine, signalLine, histogram, cross };\n}\n\n// ─────────────────────────────────────────────────────────────\n// 5.  CBOE OPTION SYMBOL PARSER\n// ─────────────────────────────────────────────────────────────\n/*\n  Format: {ROOT}{YYMMDD}{TYPE}{STRIKE*1000 padded 8 digits}\n  e.g.    SPY260430P00545000\n  Root length is variable; we detect it by finding the 6-digit date block.\n*/\nfunction parseCboeSymbol(sym) {\n  const m = sym.match(/^([A-Z]+)(\\d{6})([CP])(\\d{8})$/);\n  if (!m) return null;\n  const [, root, yymmdd, type, strikePadded] = m;\n  const yy = parseInt(yymmdd.slice(0, 2), 10);\n  const mm = parseInt(yymmdd.slice(2, 4), 10);\n  const dd = parseInt(yymmdd.slice(4, 6), 10);\n  const year = 2000 + yy;\n  const expDate = `${year}-${String(mm).padStart(2, '0')}-${String(dd).padStart(2, '0')}`;\n  const strike = parseInt(strikePadded, 10) / 1000;\n  return { root, expDate, type, strike };\n}\n\nfunction daysToExpiry(expDateStr) {\n  const now = new Date();\n  const exp = new Date(expDateStr + 'T16:00:00-05:00'); // 4 PM ET\n  return Math.round((exp - now) / (1000 * 60 * 60 * 24));\n}\n\n// ─────────────────────────────────────────────────────────────\n// 6.  LIQUIDITY CHECK\n// ─────────────────────────────────────────────────────────────\nfunction passesLiquidity(opt) {\n  const bid = parseFloat(opt.bid) || 0;\n  const ask = parseFloat(opt.ask) || 0;\n  const oi  = parseInt(opt.open_interest, 10) || 0;\n  // Fix: bid must be > 0 (zero-bid options are illiquid even if ask exists)\n  if (bid <= 0 || ask <= 0) return false;\n  const spreadAbs = ask - bid;\n  const spreadPct = spreadAbs / ask;\n  // Fix: also check absolute spread ≤ $0.15 to catch penny options with 200%+ spread\n  return spreadPct <= LIQUIDITY_MAX_SPREAD_PCT && spreadAbs <= 0.15 && oi >= LIQUIDITY_MIN_OI;\n}\n\nfunction midPrice(opt) {\n  return ((parseFloat(opt.bid) || 0) + (parseFloat(opt.ask) || 0)) / 2;\n}\n\n// EV range: best/worst case based on Bid-Ask slippage\nfunction calcEVRange(shortOpt, longOpt, winRate, width, isCredit) {\n  const sBid = parseFloat(shortOpt.bid) || 0;\n  const sAsk = parseFloat(shortOpt.ask) || 0;\n  const lBid = parseFloat(longOpt.bid) || 0;\n  const lAsk = parseFloat(longOpt.ask) || 0;\n  if (isCredit) {\n    // Credit spread: sell short, buy long\n    const creditBest  = sAsk - lBid;  // best fill: sell at ask, buy at bid (unlikely but possible with limit)\n    const creditMid   = midPrice(shortOpt) - midPrice(longOpt);\n    const creditWorst = sBid - lAsk;  // worst fill: sell at bid, buy at ask\n    const mlBest  = width - creditBest;\n    const mlMid   = width - creditMid;\n    const mlWorst = width - creditWorst;\n    return {\n      evBest:  +(creditBest * winRate - mlBest * (1 - winRate)).toFixed(2),\n      evMid:   +(creditMid * winRate - mlMid * (1 - winRate)).toFixed(2),\n      evWorst: +(Math.max(creditWorst, 0) * winRate - (width - Math.max(creditWorst, 0)) * (1 - winRate)).toFixed(2)\n    };\n  } else {\n    // Debit spread: buy long, sell short\n    const debitBest  = lBid - sAsk;  // best: buy at bid (unlikely), sell at ask\n    const debitMid   = midPrice(longOpt) - midPrice(shortOpt);\n    const debitWorst = lAsk - sBid;  // worst: buy at ask, sell at bid\n    const gainBest  = width - debitBest;\n    const gainMid   = width - debitMid;\n    const gainWorst = width - debitWorst;\n    return {\n      evBest:  +(winRate * gainBest - (1 - winRate) * debitBest).toFixed(2),\n      evMid:   +(winRate * gainMid - (1 - winRate) * debitMid).toFixed(2),\n      evWorst: +(winRate * gainWorst - (1 - winRate) * Math.max(debitWorst, 0)).toFixed(2)\n    };\n  }\n}\n\n// ─────────────────────────────────────────────────────────────\n// 7.  KELLY CRITERION\n// ─────────────────────────────────────────────────────────────\nfunction kelly(winRate, rewardRiskRatio) {\n  // Kelly % = W - (1-W)/R\n  if (rewardRiskRatio <= 0) return 0;\n  return winRate - (1 - winRate) / rewardRiskRatio;\n}\n\n// ─────────────────────────────────────────────────────────────\n// 8.  TREND SCORE (composite ranking)\n// ─────────────────────────────────────────────────────────────\nfunction trendScore({ ev, ivr, directionScore, winRate, spreadPct, oi }) {\n  // Normalised weights\n  const evScore  = Math.min(Math.max(ev / 0.50, 0), 1);           // 0-1 → ev $0-$0.50\n  const ivrScore = Math.min(Math.max(ivr / 1.0,  0), 1);          // 0-1\n  const dirScore = Math.min(Math.abs(directionScore) / 4, 1);     // 0-1\n  const winScore = Math.min(Math.max((winRate - 0.5) / 0.4, 0), 1); // 0.5-0.9\n  const liqScore = Math.min(Math.max(1 - spreadPct / 0.10, 0), 1); // tighter = better\n  const oiScore  = Math.min(oi / 5000, 1);\n  return (\n    evScore  * 0.30 +\n    ivrScore * 0.20 +\n    dirScore * 0.20 +\n    winScore * 0.15 +\n    liqScore * 0.10 +\n    oiScore  * 0.05\n  );\n}\n\n// ─────────────────────────────────────────────────────────────\n// 9.  SPREAD BUILDER\n// ─────────────────────────────────────────────────────────────\n/*\n  optsByExpType: { [expDate]: { C: Map<strike, cboeOpt>, P: Map<strike, cboeOpt> } }\n  underlyingPrice: float\n  direction: 'bullish'|'bearish'|'neutral'\n  ivr: float (0-1)\n  directionScore: int\n*/\nfunction buildSpreads(optsByExpType, underlyingPrice, direction, ivr, ivPercentile, directionScore, support, resistance, volumeAnalysis) {\n  const spreads = [];\n\n  for (const [expDate, types] of Object.entries(optsByExpType)) {\n    const dte = daysToExpiry(expDate);\n    if (dte < DTE_MIN || dte > DTE_MAX) continue;\n\n    // ── helpers for this expiration ──\n    const putOpts  = types['P'] || new Map();\n    const callOpts = types['C'] || new Map();\n\n    // Build sorted arrays by strike\n    const puts  = [...putOpts.values()].sort((a, b) => a._strike - b._strike);\n    const calls = [...callOpts.values()].sort((a, b) => a._strike - b._strike);\n\n    // ─── Bull Put Spread / Put Credit Spread (credit, 看多) ────\n    // Event risk: skip income strategies when CPI/FOMC/NFP within 2 days\n    if (!hasEconEventRisk && (direction === 'bullish' || direction === 'neutral')\n        && ivr >= IVR_MIN_PCS && ivr <= IVR_MAX_PCS\n        && dte >= DTE_MIN_CREDIT && dte <= DTE_MAX_CREDIT) {\n      // Notion LV1: 賣腿 Delta 0.20-0.25, IVR 30-60, DTE 14-30\n      for (const shortPut of puts) {\n        const sd = Math.abs(parseFloat(shortPut.delta) || 0);\n        if (sd < PCS_DELTA_MIN || sd > PCS_DELTA_MAX) continue;\n        if (!passesLiquidity(shortPut)) continue;\n\n        // Long put: strike below short, also liquid\n        const longCandidates = puts.filter(p =>\n          p._strike < shortPut._strike && passesLiquidity(p)\n        );\n        if (longCandidates.length === 0) continue;\n\n        // Pick long put with highest OI below short\n        const longPut = longCandidates.sort((a, b) =>\n          (parseInt(b.open_interest, 10) || 0) - (parseInt(a.open_interest, 10) || 0)\n        )[0];\n\n        const credit   = midPrice(shortPut) - midPrice(longPut);\n        if (credit <= 0) continue;\n        const width    = shortPut._strike - longPut._strike;\n        const maxLoss  = width - credit;\n        if (maxLoss <= 0) continue;\n\n        const winRate  = 1 - sd; // P(OTM) for short put = 1 - |delta|\n        const ev       = credit * winRate - maxLoss * (1 - winRate);\n        if (ev <= 0) continue;\n\n        const k = kelly(winRate, credit / maxLoss);\n        if (k < KELLY_MIN) continue;\n\n        // Notion: 報酬比至少 1:3 (credit / maxLoss >= 1/3)\n        if (credit / maxLoss < 1 / REWARD_RISK_MIN) continue;\n\n        const spreadPct = (midPrice(shortPut) > 0)\n          ? ((parseFloat(shortPut.ask) - parseFloat(shortPut.bid)) / parseFloat(shortPut.ask))\n          : 1;\n\n        const ts = trendScore({\n          ev, ivr, directionScore, winRate,\n          spreadPct, oi: parseInt(shortPut.open_interest, 10) || 0,\n        });\n\n        // 支撐對齊：PCS 賣腿應靠近支撐（Notion: 選在支撐線上做 PCS）\n        const distToSupport = support ? Math.abs(shortPut._strike - support) / underlyingPrice : 999;\n        const supportAligned = support ? distToSupport < 0.05 : true; // within 5% of support\n\n        // Vega/Theta 評估\n        const greekAssess = assessGreeks('Bull Put Spread',\n          parseFloat(shortPut.vega) || 0, parseFloat(shortPut.theta) || 0,\n          parseFloat(longPut.vega) || 0, parseFloat(longPut.theta) || 0);\n\n        // 成交量確認（Notion: 觀察支撐點成交量增加）\n        const volConfirm = volumeAnalysis ? (volumeAnalysis.spike && volumeAnalysis.nearSupport) : false;\n\n        spreads.push({\n          strategy: 'Bull Put Spread',\n          shortStrike: shortPut._strike,\n          longStrike: longPut._strike,\n          supportAligned, distToSupport: +distToSupport.toFixed(4),\n          vegaNote: greekAssess.vegaNote, thetaNote: greekAssess.thetaNote,\n          netVega: greekAssess.netVega, netTheta: greekAssess.netTheta,\n          volumeConfirm: volConfirm,\n          expDate,\n          dte,\n          credit: +credit.toFixed(4),\n          ev: +ev.toFixed(4),\n          evRange: calcEVRange(shortPut, longPut, winRate, width, true),\n          kelly: +k.toFixed(4),\n          winRate: +winRate.toFixed(4),\n          margin: +maxLoss.toFixed(4),\n          returnRate: +(credit / maxLoss).toFixed(4),\n          takeProfit: +(credit * 0.5).toFixed(4),   // 50% credit 止盈\n          stopLoss:   +(credit * 1.3).toFixed(4),   // Notion: credit×1.3 = 虧損30%出場\n          shortDelta: +(parseFloat(shortPut.delta) || 0).toFixed(4),\n          shortTheta: +(parseFloat(shortPut.theta) || 0).toFixed(4),\n          shortVega:  +(parseFloat(shortPut.vega)  || 0).toFixed(4),\n          shortGamma: +(parseFloat(shortPut.gamma) || 0).toFixed(4),\n          trendScore: +ts.toFixed(4),\n        });\n      }\n    }\n\n    // ─── Bear Call Spread / Call Credit Spread (credit, 看空) ────\n    // Event risk: skip income strategies when CPI/FOMC/NFP within 2 days\n    if (!hasEconEventRisk && (direction === 'bearish' || direction === 'neutral')\n        && ivr >= IVR_MIN_CCS && ivr <= IVR_MAX_CCS\n        && dte >= DTE_MIN_CREDIT && dte <= DTE_MAX_CREDIT) {\n      // Notion LV2: 賣腿 Delta 0.15 區間, IVR 30-50, DTE 14-30\n      for (const shortCall of calls) {\n        const sd = Math.abs(parseFloat(shortCall.delta) || 0);\n        if (sd < CCS_DELTA_MIN || sd > CCS_DELTA_MAX) continue;\n        if (!passesLiquidity(shortCall)) continue;\n\n        const longCandidates = calls.filter(c =>\n          c._strike > shortCall._strike && passesLiquidity(c)\n        );\n        if (longCandidates.length === 0) continue;\n\n        const longCall = longCandidates.sort((a, b) =>\n          (parseInt(b.open_interest, 10) || 0) - (parseInt(a.open_interest, 10) || 0)\n        )[0];\n\n        const credit  = midPrice(shortCall) - midPrice(longCall);\n        if (credit <= 0) continue;\n        const width   = longCall._strike - shortCall._strike;\n        const maxLoss = width - credit;\n        if (maxLoss <= 0) continue;\n\n        const winRate = 1 - sd; // P(OTM) for short call = 1 - |delta|\n        const ev      = credit * winRate - maxLoss * (1 - winRate);\n        if (ev <= 0) continue;\n\n        const k = kelly(winRate, credit / maxLoss);\n        if (k < KELLY_MIN) continue;\n\n        // Notion: 報酬比至少 1:3\n        if (credit / maxLoss < 1 / REWARD_RISK_MIN) continue;\n\n        const spreadPct = (parseFloat(shortCall.ask) > 0)\n          ? ((parseFloat(shortCall.ask) - parseFloat(shortCall.bid)) / parseFloat(shortCall.ask))\n          : 1;\n\n        const ts = trendScore({\n          ev, ivr, directionScore, winRate,\n          spreadPct, oi: parseInt(shortCall.open_interest, 10) || 0,\n        });\n\n        // 壓力對齊：CCS 賣腿應靠近壓力（Notion: 回測不衝破壓力即可收租）\n        const distToResistance = resistance ? Math.abs(shortCall._strike - resistance) / underlyingPrice : 999;\n        const resistanceAligned = resistance ? distToResistance < 0.05 : true;\n\n        // Vega/Theta 評估\n        const greekAssessCCS = assessGreeks('Bear Call Spread',\n          parseFloat(shortCall.vega) || 0, parseFloat(shortCall.theta) || 0,\n          parseFloat(longCall.vega) || 0, parseFloat(longCall.theta) || 0);\n\n        spreads.push({\n          strategy: 'Bear Call Spread',\n          shortStrike: shortCall._strike,\n          longStrike: longCall._strike,\n          resistanceAligned, distToResistance: +distToResistance.toFixed(4),\n          vegaNote: greekAssessCCS.vegaNote, thetaNote: greekAssessCCS.thetaNote,\n          netVega: greekAssessCCS.netVega, netTheta: greekAssessCCS.netTheta,\n          expDate,\n          dte,\n          credit: +credit.toFixed(4),\n          ev: +ev.toFixed(4),\n          evRange: calcEVRange(shortCall, longCall, winRate, width, true),\n          kelly: +k.toFixed(4),\n          winRate: +winRate.toFixed(4),\n          margin: +maxLoss.toFixed(4),\n          returnRate: +(credit / maxLoss).toFixed(4),\n          takeProfit: +(credit * 0.5).toFixed(4),   // 50% credit 止盈\n          stopLoss:   +(credit * 1.3).toFixed(4),   // Notion: credit×1.3 = 虧損30%出場\n          shortDelta: +(parseFloat(shortCall.delta) || 0).toFixed(4),\n          shortTheta: +(parseFloat(shortCall.theta) || 0).toFixed(4),\n          shortVega:  +(parseFloat(shortCall.vega)  || 0).toFixed(4),\n          shortGamma: +(parseFloat(shortCall.gamma) || 0).toFixed(4),\n          trendScore: +ts.toFixed(4),\n        });\n      }\n    }\n\n    // ─── Bull Call Spread / Call Debit Spread (debit, 看多) ────\n    if (direction === 'bullish'\n        && dte >= DTE_MIN_DEBIT && dte <= DTE_MAX_DEBIT\n        && ivPercentile >= IVP_MIN_DEBIT && ivPercentile <= IVP_MAX_DEBIT) {\n      // Notion LV1: 買腿 Delta 0.5, IVP 20-50\n      for (const longCall of calls) {\n        const ld = Math.abs(parseFloat(longCall.delta) || 0);\n        if (ld < DEBIT_SPREAD_DELTA_MIN || ld > DEBIT_SPREAD_DELTA_MAX) continue;\n        if (!passesLiquidity(longCall)) continue;\n\n        const shortCandidates = calls.filter(c =>\n          c._strike > longCall._strike && passesLiquidity(c)\n        );\n        if (shortCandidates.length === 0) continue;\n\n        // Short call: highest OI above long call\n        const shortCall = shortCandidates.sort((a, b) =>\n          (parseInt(b.open_interest, 10) || 0) - (parseInt(a.open_interest, 10) || 0)\n        )[0];\n\n        const debit   = midPrice(longCall) - midPrice(shortCall);\n        if (debit <= 0) continue;\n        const width   = shortCall._strike - longCall._strike;\n        const maxGain = width - debit;\n        if (maxGain <= 0) continue;\n\n        const winRate = ld; // long call delta ≈ P(ITM)\n        const ev      = maxGain * winRate - debit * (1 - winRate);\n        if (ev <= 0) continue;\n\n        const k = kelly(winRate, maxGain / debit);\n        if (k < KELLY_MIN) continue;\n\n        const spreadPct = (parseFloat(longCall.ask) > 0)\n          ? ((parseFloat(longCall.ask) - parseFloat(longCall.bid)) / parseFloat(longCall.ask))\n          : 1;\n\n        const ts = trendScore({\n          ev, ivr, directionScore, winRate,\n          spreadPct, oi: parseInt(longCall.open_interest, 10) || 0,\n        });\n\n        spreads.push({\n          strategy: 'Bull Call Spread',\n          longStrike: longCall._strike,\n          shortStrike: shortCall._strike,\n          expDate,\n          dte,\n          debit: +debit.toFixed(4),\n          ev: +ev.toFixed(4),\n          evRange: calcEVRange(shortCall, longCall, winRate, width, false),\n          kelly: +k.toFixed(4),\n          winRate: +winRate.toFixed(4),\n          margin: +debit.toFixed(4),\n          returnRate: +(maxGain / debit).toFixed(4),\n          takeProfit: +(debit * 2.0).toFixed(4),   // 100% gain\n          stopLoss:   +(debit * 0.7).toFixed(4),   // Notion: debit×70% = 虧損30%出場\n          shortDelta: +(parseFloat(shortCall.delta) || 0).toFixed(4),\n          shortTheta: +(parseFloat(shortCall.theta) || 0).toFixed(4),\n          shortVega:  +(parseFloat(shortCall.vega)  || 0).toFixed(4),\n          shortGamma: +(parseFloat(shortCall.gamma) || 0).toFixed(4),\n          trendScore: +ts.toFixed(4),\n        });\n      }\n    }\n\n    // ─── Bear Put Spread / Put Debit Spread (debit, 看空) ─────\n    if (direction === 'bearish'\n        && dte >= DTE_MIN_DEBIT && dte <= DTE_MAX_DEBIT\n        && ivPercentile >= IVP_MIN_DEBIT && ivPercentile <= IVP_MAX_DEBIT) {\n      // Notion LV2: 買腿 Delta 0.5, IVP 30-50\n      for (const longPut of puts) {\n        const ld = Math.abs(parseFloat(longPut.delta) || 0);\n        if (ld < DEBIT_SPREAD_DELTA_MIN || ld > DEBIT_SPREAD_DELTA_MAX) continue;\n        if (!passesLiquidity(longPut)) continue;\n\n        const shortCandidates = puts.filter(p =>\n          p._strike < longPut._strike && passesLiquidity(p)\n        );\n        if (shortCandidates.length === 0) continue;\n\n        const shortPut = shortCandidates.sort((a, b) =>\n          (parseInt(b.open_interest, 10) || 0) - (parseInt(a.open_interest, 10) || 0)\n        )[0];\n\n        const debit   = midPrice(longPut) - midPrice(shortPut);\n        if (debit <= 0) continue;\n        const width   = longPut._strike - shortPut._strike;\n        const maxGain = width - debit;\n        if (maxGain <= 0) continue;\n\n        const winRate = ld; // long put |delta| ≈ P(ITM) for puts\n        const ev      = maxGain * winRate - debit * (1 - winRate);\n        if (ev <= 0) continue;\n\n        const k = kelly(winRate, maxGain / debit);\n        if (k < KELLY_MIN) continue;\n\n        const spreadPct = (parseFloat(longPut.ask) > 0)\n          ? ((parseFloat(longPut.ask) - parseFloat(longPut.bid)) / parseFloat(longPut.ask))\n          : 1;\n\n        const ts = trendScore({\n          ev, ivr, directionScore, winRate,\n          spreadPct, oi: parseInt(longPut.open_interest, 10) || 0,\n        });\n\n        spreads.push({\n          strategy: 'Bear Put Spread',\n          longStrike: longPut._strike,\n          shortStrike: shortPut._strike,\n          expDate,\n          dte,\n          debit: +debit.toFixed(4),\n          ev: +ev.toFixed(4),\n          evRange: calcEVRange(shortPut, longPut, winRate, longPut._strike - shortPut._strike, false),\n          kelly: +k.toFixed(4),\n          winRate: +winRate.toFixed(4),\n          margin: +debit.toFixed(4),\n          returnRate: +(maxGain / debit).toFixed(4),\n          takeProfit: +(debit * 2.0).toFixed(4),   // 100% gain\n          stopLoss:   +(debit * 0.7).toFixed(4),   // Notion: debit×70% = 虧損30%出場\n          shortDelta: +(parseFloat(shortPut.delta) || 0).toFixed(4),\n          shortTheta: +(parseFloat(shortPut.theta) || 0).toFixed(4),\n          shortVega:  +(parseFloat(shortPut.vega)  || 0).toFixed(4),\n          shortGamma: +(parseFloat(shortPut.gamma) || 0).toFixed(4),\n          trendScore: +ts.toFixed(4),\n        });\n      }\n    }\n\n    // ─── Iron Condor = Bear Call + Bull Put on same expiration ───\n    // Event risk: skip income strategies when CPI/FOMC/NFP within 2 days\n    if (!hasEconEventRisk && direction === 'neutral'\n        && ivr >= IVR_MIN_IC\n        && dte >= DTE_MIN_IC && dte <= DTE_MAX_IC) {\n      // Notion: IVR>30, DTE 20-30, Delta ±0.10-0.15\n      // Collect qualifying bear calls and bull puts already computed above\n      // We'll assemble them after the loop by pairing best bear call + best bull put.\n      // (already pushed individually; Iron Condor is an additional entry)\n      const bcSpreads = spreads.filter(s =>\n        s.strategy === 'Bear Call Spread' && s.expDate === expDate\n      );\n      const bpSpreads = spreads.filter(s =>\n        s.strategy === 'Bull Put Spread' && s.expDate === expDate\n      );\n\n      if (bcSpreads.length > 0 && bpSpreads.length > 0) {\n        // best of each by trendScore\n        const bc = [...bcSpreads].sort((a, b) => b.trendScore - a.trendScore)[0];\n        const bp = [...bpSpreads].sort((a, b) => b.trendScore - a.trendScore)[0];\n\n        // Verify no strike overlap\n        if (bp.shortStrike < bc.shortStrike) {\n          const combinedCredit  = +(bc.credit + bp.credit).toFixed(4);\n          // Fix: IC maxLoss = wider wing width - combined credit (not max of individual margins)\n          // Bear Call: longStrike > shortStrike; Bull Put: shortStrike > longStrike\n          const callWing = bc.longStrike - bc.shortStrike;\n          const putWing  = bp.shortStrike - bp.longStrike;\n          const wingWidth = Math.max(callWing, putWing);\n          const combinedMaxLoss = +(wingWidth - combinedCredit).toFixed(4);\n          if (combinedMaxLoss <= 0) continue; // sanity check\n          const combinedWinRate = bc.winRate * bp.winRate;         // both expire OTM\n          const combinedEV      = combinedCredit * combinedWinRate\n                                  - combinedMaxLoss * (1 - combinedWinRate);\n\n          if (combinedEV > 0) {\n            const k = kelly(combinedWinRate, combinedCredit / combinedMaxLoss);\n            if (k >= KELLY_MIN) {\n              const icTs = (bc.trendScore + bp.trendScore) / 2;\n              spreads.push({\n                strategy: 'Iron Condor',\n                // put side\n                putShortStrike: bp.shortStrike,\n                putLongStrike:  bp.longStrike,\n                // call side\n                callShortStrike: bc.shortStrike,\n                callLongStrike:  bc.longStrike,\n                expDate,\n                dte,\n                credit:     combinedCredit,\n                ev:         +combinedEV.toFixed(4),\n                kelly:      +k.toFixed(4),\n                winRate:    +combinedWinRate.toFixed(4),\n                margin:     +combinedMaxLoss.toFixed(4),\n                returnRate: +(combinedCredit / combinedMaxLoss).toFixed(4),\n                takeProfit: +(combinedCredit * 0.5).toFixed(4),\n                stopLoss:   +(combinedCredit * 2.0).toFixed(4),\n                // Greeks from short call (primary risk leg)\n                shortDelta: bc.shortDelta,\n                shortTheta: bc.shortTheta,\n                shortVega:  bc.shortVega,\n                shortGamma: bc.shortGamma,\n                trendScore: +icTs.toFixed(4),\n              });\n            }\n          }\n        }\n      }\n    }\n  }\n\n  return spreads.sort((a, b) => b.trendScore - a.trendScore);\n}\n\n// ─────────────────────────────────────────────────────────────\n// 10.  IV SKEW\n// ─────────────────────────────────────────────────────────────\n/*\n  For the nearest qualifying expiration, find ATM put IV and ATM call IV from CBOE.\n  Skew = (ATM put IV) - (ATM call IV)\n  Positive skew → investors buying more put protection → bearish sentiment.\n*/\nfunction calcIvSkew(optsByExpType, underlyingPrice) {\n  // Find first expiration within DTE range\n  const expDates = Object.keys(optsByExpType)\n    .filter(e => { const d = daysToExpiry(e); return d >= DTE_MIN && d <= DTE_MAX; })\n    .sort();\n  if (expDates.length === 0) return 0;\n\n  const exp = expDates[0];\n  const puts  = [...(optsByExpType[exp]?.['P']?.values() || [])];\n  const calls = [...(optsByExpType[exp]?.['C']?.values() || [])];\n\n  if (puts.length === 0 || calls.length === 0) return 0;\n\n  // ATM = strike closest to underlying price\n  const atmPut  = puts.sort((a, b) =>\n    Math.abs(a._strike - underlyingPrice) - Math.abs(b._strike - underlyingPrice)\n  )[0];\n  const atmCall = calls.sort((a, b) =>\n    Math.abs(a._strike - underlyingPrice) - Math.abs(b._strike - underlyingPrice)\n  )[0];\n\n  const putIV  = parseFloat(atmPut?.iv)  || 0;\n  const callIV = parseFloat(atmCall?.iv) || 0;\n  return putIV && callIV ? putIV - callIV : 0;\n}\n\n// ─────────────────────────────────────────────────────────────\n// 11.  DIRECTION SCORING\n// ─────────────────────────────────────────────────────────────\nfunction scoreDirection(rsi, price, ma20, ivSkew, macd) {\n  // ── Notion 規則對齊 ──\n  // RSI < 50 = 偏空（順勢做空），RSI > 50 = 偏多（順勢做多）\n  // 注意：這是「趨勢跟隨」邏輯，不是「超賣反彈」邏輯\n  let score = 0;\n  const reasons = [];\n\n  if (rsi !== null) {\n    if (rsi < 30)      { score -= 2; reasons.push(`RSI=${rsi.toFixed(1)} <30 → 強烈偏空(-2)`); }\n    else if (rsi < 50) { score -= 1; reasons.push(`RSI=${rsi.toFixed(1)} <50 → 偏空(-1)`); }\n    else if (rsi > 70) { score += 2; reasons.push(`RSI=${rsi.toFixed(1)} >70 → 強烈偏多(+2)`); }\n    else if (rsi > 50) { score += 1; reasons.push(`RSI=${rsi.toFixed(1)} >50 → 偏多(+1)`); }\n    else { reasons.push(`RSI=${rsi.toFixed(1)} =50 中性(0)`); }\n  }\n\n  if (ma20 !== null) {\n    if (price > ma20) { score += 1; reasons.push(`價格${price.toFixed(2)} > MA20 ${ma20.toFixed(2)} → 偏多(+1)`); }\n    else              { score -= 1; reasons.push(`價格${price.toFixed(2)} < MA20 ${ma20.toFixed(2)} → 偏空(-1)`); }\n  }\n\n  if (ivSkew > 0.02)       { score -= 1; reasons.push(`IVSkew=${ivSkew.toFixed(4)} >0.02 → 偏空(-1)`); }\n  else if (ivSkew < -0.02) { score += 1; reasons.push(`IVSkew=${ivSkew.toFixed(4)} <-0.02 → 偏多(+1)`); }\n  else                      { reasons.push(`IVSkew=${ivSkew.toFixed(4)} 中性(0)`); }\n\n  // MACD (Notion: 每個策略都要求確認)\n  if (macd !== null) {\n    if (macd.cross === 'death')  { score -= 1; reasons.push(`MACD死叉 → 偏空(-1)`); }\n    else if (macd.cross === 'golden') { score += 1; reasons.push(`MACD金叉 → 偏多(+1)`); }\n    else if (macd.histogram < 0) { reasons.push(`MACD柱狀<0 偏空(參考)`); }\n    else if (macd.histogram > 0) { reasons.push(`MACD柱狀>0 偏多(參考)`); }\n  }\n\n  let direction;\n  if (score >= 2)       direction = 'bullish';\n  else if (score <= -2) direction = 'bearish';\n  else                  direction = 'neutral';\n\n  return { direction, directionScore: score, directionReasons: reasons };\n}\n\n// ─────────────────────────────────────────────────────────────\n// 12.  MAIN LOOP\n// ─────────────────────────────────────────────────────────────\nconst results = [];\n\n// 12a. Fetch tastytrade market-metrics for all symbols in one call\nconst allTickers = symbols.map(s => s.ticker).join(',');\nconst metricsUrl = `https://api.tastyworks.com/market-metrics?symbols=${allTickers}`;\nlog(`Fetching market-metrics: ${metricsUrl}`);\nconst metricsData = await httpGet.call(this, metricsUrl, ttHeaders, 'market-metrics');\n\nconst metricsMap = {};\nif (metricsData?.data?.items) {\n  for (const item of metricsData.data.items) {\n    metricsMap[item.symbol] = item;\n  }\n  log(`market-metrics: received ${Object.keys(metricsMap).length} symbols`);\n} else {\n  log('WARNING: market-metrics returned no items');\n}\n\n// 12b. MARKET REGIME — 盤勢判斷（第一層過濾）\n// Fetch VIX\nlet vixValue = null;\nlet spyDirection = null;\nlet spyDirScore = 0;\nlet spyDirReasons = [];\nlet marketRegime = 'normal'; // normal | caution | bearOnly | halt\nlet marketRegimeReasons = [];\n\ntry {\n  const vixUrl = 'https://query1.finance.yahoo.com/v8/finance/chart/%5EVIX?interval=1d&range=5d';\n  const vixData = await httpGet.call(this, vixUrl, { 'User-Agent': 'Mozilla/5.0', 'Accept': 'application/json' }, 'YF:VIX');\n  if (vixData?.chart?.result?.[0]?.meta) {\n    vixValue = vixData.chart.result[0].meta.regularMarketPrice || vixData.chart.result[0].meta.previousClose;\n    log(`VIX = ${vixValue}`);\n  }\n} catch(e) { log(`VIX fetch error: ${e.message}`); }\n\n// Fetch SPY technicals for market direction\ntry {\n  const spyUrl = 'https://query1.finance.yahoo.com/v8/finance/chart/SPY?interval=1d&range=60d';\n  const spyYF = await httpGet.call(this, spyUrl, { 'User-Agent': 'Mozilla/5.0', 'Accept': 'application/json' }, 'YF:SPY-regime');\n  if (spyYF?.chart?.result?.[0]) {\n    const q = spyYF.chart.result[0].indicators?.quote?.[0];\n    if (q) {\n      const spyCloses = (q.close || []).filter(c => c != null);\n      const spyPrice = spyCloses[spyCloses.length - 1];\n      const spyRSI = calcRSI(spyCloses, 14);\n      const spyMA20 = calcMA(spyCloses, 20);\n      const spyMACD = calcMACD(spyCloses);\n      const spyDir = scoreDirection(spyRSI, spyPrice, spyMA20, 0, spyMACD);\n      spyDirection = spyDir.direction;\n      spyDirScore = spyDir.directionScore;\n      spyDirReasons = spyDir.directionReasons;\n      log(`SPY regime: direction=${spyDirection} score=${spyDirScore} price=${spyPrice?.toFixed(2)} RSI=${spyRSI?.toFixed(1)}`);\n    }\n  }\n} catch(e) { log(`SPY regime fetch error: ${e.message}`); }\n\n// Determine market regime\nif (vixValue !== null && vixValue >= 35) {\n  marketRegime = 'halt';\n  marketRegimeReasons.push(`VIX=${vixValue.toFixed(1)} ≥ 35 → 極端恐慌，全面暫停`);\n} else if (vixValue !== null && vixValue >= 25 && spyDirScore <= -2) {\n  marketRegime = 'bearOnly';\n  marketRegimeReasons.push(`VIX=${vixValue.toFixed(1)} ≥ 25 + SPY偏空(${spyDirScore}) → 只推 Bear 策略`);\n} else if (vixValue !== null && vixValue >= 25) {\n  marketRegime = 'caution';\n  marketRegimeReasons.push(`VIX=${vixValue.toFixed(1)} ≥ 25 → 高波動警戒，謹慎推薦`);\n} else if (spyDirScore <= -3) {\n  marketRegime = 'bearOnly';\n  marketRegimeReasons.push(`SPY強烈偏空(score=${spyDirScore}) → 只推 Bear 策略`);\n} else {\n  marketRegime = 'normal';\n  if (vixValue !== null) marketRegimeReasons.push(`VIX=${vixValue.toFixed(1)} 正常`);\n  if (spyDirection) marketRegimeReasons.push(`SPY方向=${spyDirection}(${spyDirScore})`);\n}\n\nlog(`Market Regime: ${marketRegime} — ${marketRegimeReasons.join(', ')}`);\n\n// If halt, skip all signals\nif (marketRegime === 'halt') {\n  return [{ json: {\n    results: [],\n    marketRegime,\n    marketRegimeReasons,\n    vix: vixValue,\n    spyDirection, spyDirScore, spyDirReasons,\n    debugLog,\n    analysisTime: new Date().toISOString(),\n    version: 'v3.4',\n    halted: true,\n    haltReason: `VIX=${vixValue?.toFixed(1)} ≥ 35，極端恐慌，全面暫停推播`,\n  } }];\n}\n\n// 12c. Fetch earnings calendar (Finnhub)\nlet earningsMap = {};\ntry {\n  const today = new Date().toISOString().slice(0, 10);\n  const future = new Date(Date.now() + EARNINGS_BLACKOUT_DAYS * 86400000).toISOString().slice(0, 10);\n  const earnUrl = `https://finnhub.io/api/v1/calendar/earnings?from=${today}&to=${future}&token=${FINNHUB_KEY}`;\n  const earnData = await httpGet.call(this, earnUrl, {}, 'Finnhub-earnings');\n  if (earnData?.earningsCalendar) {\n    for (const e of earnData.earningsCalendar) {\n      earningsMap[e.symbol] = e.date;\n    }\n    log(`Earnings blackout: ${Object.keys(earningsMap).length} symbols have earnings in next ${EARNINGS_BLACKOUT_DAYS} days`);\n  }\n} catch(e) { log(`Earnings fetch error: ${e.message}`); }\n\n// 12d-pre. Event Risk Calendar Check (2026 CPI/FOMC/NFP)\nconst EVENT_DATES_2026 = ['2026-01-09','2026-01-13','2026-01-28','2026-02-11','2026-02-13','2026-03-06','2026-03-11','2026-03-18','2026-04-03','2026-04-10','2026-04-29','2026-05-08','2026-05-12','2026-06-05','2026-06-10','2026-06-17','2026-07-02','2026-07-14','2026-07-29','2026-08-07','2026-08-12','2026-09-04','2026-09-11','2026-09-16','2026-10-02','2026-10-14','2026-10-28','2026-11-06','2026-11-10','2026-12-04','2026-12-09','2026-12-10'];\nconst EVENT_TYPE_MAP = {'01-09':'NFP','01-13':'CPI','01-28':'FOMC','02-11':'NFP','02-13':'CPI','03-06':'NFP','03-11':'CPI','03-18':'FOMC','04-03':'NFP','04-10':'CPI','04-29':'FOMC','05-08':'NFP','05-12':'CPI','06-05':'NFP','06-10':'CPI','06-17':'FOMC','07-02':'NFP','07-14':'CPI','07-29':'FOMC','08-07':'NFP','08-12':'CPI','09-04':'NFP','09-11':'CPI','09-16':'FOMC','10-02':'NFP','10-14':'CPI','10-28':'FOMC','11-06':'NFP','11-10':'CPI','12-04':'NFP','12-09':'FOMC','12-10':'CPI'};\nconst todayStr = new Date().toISOString().slice(0,10);\nconst in2daysStr = new Date(Date.now() + 2*86400000).toISOString().slice(0,10);\nconst upcomingEconEvents = EVENT_DATES_2026.filter(d => d >= todayStr && d <= in2daysStr);\nconst hasEconEventRisk = upcomingEconEvents.length > 0;\nconst econEventLabel = upcomingEconEvents.map(d => EVENT_TYPE_MAP[d.slice(5)] + ' ' + d.slice(5)).join(', ');\nif (hasEconEventRisk) {\n  log(`⚠️ Event Risk: ${econEventLabel} — income strategies will be blocked, debit strategies allowed`);\n}\n\n// 12d. Process each symbol\nconst sectorCount = {}; // track per-sector recommendations\nfor (const sym of symbols) {\n  const { ticker, name } = sym;\n  const sector = sym.sector || 'other';\n  log(`\\n=== Processing ${ticker} ===`);\n\n  // ── 12b-i. Yahoo Finance (technical analysis) ──────────────\n  const yfUrl = `https://query1.finance.yahoo.com/v8/finance/chart/${ticker}?interval=1d&range=60d`;\n  const yfData = await httpGet.call(this, yfUrl, {\n    'User-Agent': 'Mozilla/5.0',\n    'Accept': 'application/json',\n  }, `YF:${ticker}`);\n\n  let underlyingPrice = null, rsi = null, ma20 = null, support = null, resistance = null, macd = null;\n  const closes = [], highs = [], lows = [];\n\n  if (yfData?.chart?.result?.[0]) {\n    const res = yfData.chart.result[0];\n    const q   = res.indicators?.quote?.[0];\n    if (q) {\n      const rawCloses = q.close  || [];\n      const rawHighs  = q.high   || [];\n      const rawLows   = q.low    || [];\n      // Filter out null values\n      for (let i = 0; i < rawCloses.length; i++) {\n        if (rawCloses[i] != null && rawHighs[i] != null && rawLows[i] != null) {\n          closes.push(rawCloses[i]);\n          highs.push(rawHighs[i]);\n          lows.push(rawLows[i]);\n        }\n      }\n      underlyingPrice = closes[closes.length - 1] || null;\n      rsi        = calcRSI(closes, 14);\n      macd       = calcMACD(closes);\n      ma20       = calcMA(closes, 20);\n      support    = calcSupport(lows, 20);\n      resistance = calcResistance(highs, 20);\n      log(`${ticker}: price=${underlyingPrice?.toFixed(2)} RSI=${rsi?.toFixed(1)} MA20=${ma20?.toFixed(2)} MACD=${macd?.cross || 'none'}`);\n    }\n  } else {\n    log(`${ticker}: Yahoo Finance data unavailable`);\n  }\n\n  if (!underlyingPrice) {\n    log(`${ticker}: SKIP — no underlying price`);\n    continue;\n  }\n\n  // ── 財報日曆黑名單 ──\n  if (earningsMap[ticker]) {\n    log(`${ticker}: SKIP — 財報日 ${earningsMap[ticker]}（黑名單期間 ${EARNINGS_BLACKOUT_DAYS} 天）`);\n    results.push({ ticker, name, underlyingPrice: +underlyingPrice.toFixed(4), error: `財報日 ${earningsMap[ticker]} 在黑名單期間`, positiveEVSpreads: [] });\n    continue;\n  }\n\n  // ── 成交量分析 ──\n  const volumes = [];\n  if (yfData?.chart?.result?.[0]?.indicators?.quote?.[0]?.volume) {\n    const rawVols = yfData.chart.result[0].indicators.quote[0].volume;\n    for (const v of rawVols) { if (v != null) volumes.push(v); }\n  }\n  const volumeAnalysis = analyzeVolume(volumes, closes, 20);\n  log(`${ticker}: Vol ratio=${volumeAnalysis.ratio} spike=${volumeAnalysis.spike} nearSupport=${volumeAnalysis.nearSupport}`);\n\n  // ── 盤前/盤後資料標記 ──\n  const yfMeta = yfData?.chart?.result?.[0]?.meta || {};\n  const marketState = yfMeta.currentTradingPeriod?.regular ? 'regular' : (yfMeta.currentTradingPeriod?.pre ? 'pre' : 'post');\n\n  // ── 12b-ii. tastytrade market-metrics ──────────────────────\n  const metrics = metricsMap[ticker] || {};\n  // IVR is 0-1 decimal in tastytrade (tos-implied-volatility-index-rank)\n  const ivr          = parseFloat(metrics['tos-implied-volatility-index-rank']) || 0;\n  const ivPercentile = parseFloat(metrics['implied-volatility-percentile'])     || 0;\n  const iv           = parseFloat(metrics['implied-volatility-index'])           || 0;\n  log(`${ticker}: IVR=${ivr.toFixed(2)} IV%ile=${ivPercentile.toFixed(2)} IV=${iv.toFixed(4)}`);\n\n  // ── 12b-iii. CBOE delayed quotes ───────────────────────────\n  // CBOE uses uppercase root; for symbols with class suffix (e.g. BRK/B → BRKB) we just use the ticker\n  const cboeRoot   = ticker.replace(/[^A-Z]/g, '');\n  const cboeUrl    = `https://cdn.cboe.com/api/global/delayed_quotes/options/${cboeRoot}.json`;\n  log(`Fetching CBOE: ${cboeUrl}`);\n  const cboeData   = await httpGet.call(this, cboeUrl, {\n    'User-Agent': 'Mozilla/5.0',\n    'Accept': 'application/json',\n  }, `CBOE:${ticker}`);\n\n  if (!cboeData?.data?.options || cboeData.data.options.length === 0) {\n    log(`${ticker}: SKIP — CBOE data unavailable or empty`);\n    continue;\n  }\n\n  // Build index: { [expDate]: { C: Map<strike, opt>, P: Map<strike, opt> } }\n  const optsByExpType = {};\n  let cboeCount = 0;\n  for (const opt of cboeData.data.options) {\n    const parsed = parseCboeSymbol(opt.option || '');\n    if (!parsed) continue;\n    const { expDate, type, strike } = parsed;\n    const dte = daysToExpiry(expDate);\n    if (dte < DTE_MIN - 5 || dte > DTE_MAX + 5) continue; // ± 5 day buffer for indexing\n    if (!optsByExpType[expDate]) optsByExpType[expDate] = { C: new Map(), P: new Map() };\n    opt._strike = strike;  // attach parsed strike for convenience\n    optsByExpType[expDate][type].set(strike, opt);\n    cboeCount++;\n  }\n  log(`${ticker}: CBOE indexed ${cboeCount} options across ${Object.keys(optsByExpType).length} expirations`);\n\n  if (cboeCount === 0) {\n    log(`${ticker}: SKIP — no CBOE options in DTE range`);\n    continue;\n  }\n\n  // ── 12b-iv. IV Skew ────────────────────────────────────────\n  const ivSkew = calcIvSkew(optsByExpType, underlyingPrice);\n  log(`${ticker}: IV Skew=${ivSkew.toFixed(4)}`);\n\n  // ── 12b-v. Direction scoring ────────────────────────────────\n  let { direction, directionScore, directionReasons } =\n    scoreDirection(rsi, underlyingPrice, ma20, ivSkew, macd);\n  \n  // 盤勢過濾：根據 market regime 調整個股方向\n  if (marketRegime === 'bearOnly') {\n    if (direction === 'bullish') {\n      direction = 'neutral'; // 降級：不做純多\n      directionReasons.push(`⚠️ 盤勢bearOnly: bullish→neutral（不推Bull策略）`);\n    }\n  } else if (marketRegime === 'caution') {\n    directionReasons.push(`⚠️ 盤勢caution: VIX偏高，信號需謹慎`);\n  }\n  log(`${ticker}: direction=${direction} score=${directionScore} regime=${marketRegime}`);\n\n  // ── 12b-vi. Build spreads ───────────────────────────────────\n  let positiveEVSpreads = buildSpreads(\n    optsByExpType, underlyingPrice, direction, ivr, ivPercentile, directionScore, support, resistance, volumeAnalysis\n  );\n  log(`${ticker}: ${positiveEVSpreads.length} positive-EV spreads found`);\n\n  // Fix: Credit fallback — if no credit spreads found and direction allows it,\n  // log warning for teacher review (debit spreads may still be available)\n  const hasCreditSpread = positiveEVSpreads.some(s => ['Bull Put Spread', 'Bear Call Spread', 'Iron Condor'].includes(s.strategy));\n  const hasDebitSpread = positiveEVSpreads.some(s => ['Bull Call Spread', 'Bear Put Spread'].includes(s.strategy));\n  if (!hasCreditSpread && (direction === 'bullish' || direction === 'bearish') && ivr >= 0.25) {\n    log(`${ticker}: ⚠️ Credit fallback — no credit spreads passed filters (IVR=${(ivr*100).toFixed(0)}%, direction=${direction}). Only debit spreads available. Check if reward:risk threshold is too strict.`);\n  }\n\n  results.push({\n    ticker,\n    name,\n    sector,\n    underlyingPrice: +underlyingPrice.toFixed(4),\n    volumeRatio: volumeAnalysis?.ratio || 0,\n    volumeSpike: volumeAnalysis?.spike || false,\n    marketState: marketState || 'unknown',\n    iv:              +iv.toFixed(4),\n    ivr:             +ivr.toFixed(4),\n    ivPercentile:    +ivPercentile.toFixed(4),\n    direction,\n    directionScore,\n    directionReasons,\n    rsi:         rsi        !== null ? +rsi.toFixed(2)        : null,\n    ma20:        ma20       !== null ? +ma20.toFixed(4)       : null,\n    support:     support    !== null ? +support.toFixed(4)    : null,\n    resistance:  resistance !== null ? +resistance.toFixed(4) : null,\n    ivSkew:      +ivSkew.toFixed(4),\n    marketRegime,\n    macd:        macd ? { histogram: +macd.histogram.toFixed(4), cross: macd.cross } : null,\n    positiveEVSpreads,\n  });\n}\n\n// ─────────────────────────────────────────────────────────────\n// 13.  OUTPUT\n// ─────────────────────────────────────────────────────────────\n// Sort results by trend score\nresults.sort((a, b) => {\n  const aScore = a.positiveEVSpreads?.[0]?.trendScore || 0;\n  const bScore = b.positiveEVSpreads?.[0]?.trendScore || 0;\n  return bScore - aScore;\n});\n\n// 同產業限制 + 最大推薦數\nconst finalResults = [];\nconst sectorUsed = {};\nfor (const r of results) {\n  if (!r.positiveEVSpreads || r.positiveEVSpreads.length === 0) {\n    finalResults.push(r); // keep symbols with no spreads for debug\n    continue;\n  }\n  const sec = r.sector || 'other';\n  sectorUsed[sec] = (sectorUsed[sec] || 0) + 1;\n  if (sec !== 'index' && sectorUsed[sec] > MAX_PER_SECTOR) {\n    log(`${r.ticker}: SKIP — 同產業(${sec})已有 ${MAX_PER_SECTOR} 檔`);\n    r.skippedReason = `同產業(${sec})限制`;\n    r.positiveEVSpreads = []; // clear spreads\n  }\n  finalResults.push(r);\n}\n\n// 最大推薦數限制\nconst withSpreads = finalResults.filter(r => r.positiveEVSpreads?.length > 0);\nif (withSpreads.length > MAX_TOTAL_SIGNALS) {\n  log(`Capping from ${withSpreads.length} to ${MAX_TOTAL_SIGNALS} symbols`);\n  const topTickers = new Set(withSpreads.slice(0, MAX_TOTAL_SIGNALS).map(r => r.ticker));\n  for (const r of finalResults) {\n    if (r.positiveEVSpreads?.length > 0 && !topTickers.has(r.ticker)) {\n      r.skippedReason = `超過最大推薦數 ${MAX_TOTAL_SIGNALS}`;\n      r.positiveEVSpreads = [];\n    }\n  }\n}\n\nconst results_final = finalResults;\n\nreturn [{\n  json: {\n    results: results_final,\n    marketRegime,\n    marketRegimeReasons,\n    vix: vixValue,\n    spyDirection, spyDirScore, spyDirReasons,\n    debugLog,\n    analysisTime: new Date().toISOString(),\n    version: 'v3.4',\n  },\n}];\n"
        }
      },
      {
        "id": "c370c170-a138-4c18-84f5-86e464b2aded",
        "name": "Code in JavaScript1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          0
        ],
        "parameters": {
          "jsCode": "// === 正EV履約價推播 v3.0 — Node 2: 格式化 + 推播 ===\nif ($input.first().json.skipped) {\n  return [{ json: $input.first().json }];\n}\n\n// 盤勢全面暫停\nif ($input.first().json.halted) {\n  const d = $input.first().json;\n  const haltMsg = `🚨 正EV推播 — 全面暫停\\n━━━━━━━━━━━━━━\\n\\n${d.haltReason}\\n\\n盤勢狀態: ${d.marketRegime}\\nVIX: ${d.vix?.toFixed(1) || 'N/A'}\\nSPY方向: ${d.spyDirection || 'N/A'} (score=${d.spyDirScore || 0})\\n\\n⚠️ 極端恐慌環境，建議觀望不操作`;\n  // Push halt notification to LINE + TG\n  const LINE_TOKEN = 'y7xe8HwlQP5M0WQ3a9jzALbSSZ6/HtOyf4yQs4Eve0QJKa/JKgLFMYZiR7u4ErA/mvHoe8qRJBwiD21VSL1rb7BsJUmxzx+7OtvRXMChRRkwU87nWDRaC1dhXaYSafma3k2+Pk/QcSRwm7oG2VmxawdB04t89/1O/w1cDnyilFU=';\n  const TG_TOKEN = '8680833770:AAHutju73oP6c5X90GErYXn3hTvqjZIb7po';\n  const TG_CHAT = '-1003799249092';\n  try { await this.helpers.httpRequest({ method: 'POST', url: 'https://api.line.me/v2/bot/message/broadcast', headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + LINE_TOKEN }, body: JSON.stringify({ messages: [{ type: 'text', text: haltMsg }] }), returnFullResponse: true, ignoreHttpStatusErrors: true }); } catch(e) {}\n  try { await this.helpers.httpRequest({ method: 'POST', url: `https://api.telegram.org/bot${TG_TOKEN}/sendMessage`, headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ chat_id: TG_CHAT, text: haltMsg }) }); } catch(e) {}\n  // Also POST to webhook\n  try { await this.helpers.httpRequest({ method: 'POST', url: 'https://chilldove.app.n8n.cloud/webhook/ev-signals-update', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ timestamp: new Date().toISOString(), signals: [], summary: { halted: true, reason: d.haltReason, vix: d.vix, version: 'v3.4' }, raw: [] }) }); } catch(e) {}\n  // Even halt messages get Dashboard link\n  haltMsg += `\\n\\n📊 Dashboard:\\nhttps://chungchangting.github.io/student-signal-dashboard/`;\n  return [{ json: { message: haltMsg, halted: true, version: 'v3.4' } }];\n}\n\nconst LINE_TOKEN = 'y7xe8HwlQP5M0WQ3a9jzALbSSZ6/HtOyf4yQs4Eve0QJKa/JKgLFMYZiR7u4ErA/mvHoe8qRJBwiD21VSL1rb7BsJUmxzx+7OtvRXMChRRkwU87nWDRaC1dhXaYSafma3k2+Pk/QcSRwm7oG2VmxawdB04t89/1O/w1cDnyilFU=';\nconst TG_TOKEN = '8680833770:AAHutju73oP6c5X90GErYXn3hTvqjZIb7po';\nconst TG_CHAT = '-1003799249092';\n\nconst data = $input.first().json;\nconst results = data.results || [];\n\nconst now = new Date(data.analysisTime || new Date());\nconst twTime = new Date(now.getTime() + 8 * 60 * 60 * 1000);\nconst dateStr = `${twTime.getFullYear()}/${twTime.getMonth()+1}/${twTime.getDate()}`;\nconst timeStr = `${twTime.getHours()}:${String(twTime.getMinutes()).padStart(2,'0')}`;\n\n// Direction emoji\nconst dirEmoji = { bullish: '🟢', bearish: '🔴', neutral: '⚪' };\nconst dirLabel = { bullish: '看多', bearish: '看空', neutral: '中性' };\nconst stratLabel = {\n  'Bull Put Spread': '【偏多收租】Put Credit Spread',\n  'Bear Call Spread': '【偏空收租】Call Credit Spread',\n  'Bull Call Spread': '【偏多進攻】Call Debit Spread',\n  'Bear Put Spread': '【偏空進攻】Put Debit Spread',\n  'Iron Condor': '【盤整收租】Iron Condor'\n};\n\n// Score and rank symbols\nconst ranked = results\n  .filter(r => r.positiveEVSpreads && r.positiveEVSpreads.length > 0 && !r.error)\n  .map(r => {\n    const spreads = r.positiveEVSpreads;\n    const bestEV = Math.max(...spreads.map(s => parseFloat(s.ev) || 0));\n    const avgTrend = spreads.reduce((sum, s) => sum + (parseFloat(s.trendScore) || 0), 0) / spreads.length;\n    return { ...r, bestEV, avgTrend, spreads };\n  })\n  .sort((a, b) => b.avgTrend - a.avgTrend)\n  .slice(0, 5);\n\nif (ranked.length === 0) {\n  const noMsg = `📢 正EV履約價推播 v3.0 — ${dateStr} ${timeStr}\\n━━━━━━━━━━━━━━\\n\\n⚠️ 今日無符合正EV條件的履約價\\n篩選: Delta選價 + Greeks + IVR + 流動性\\n\\n少做多看，靜候佳機 🧘`;\n  // Push to LINE\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: 'https://api.line.me/v2/bot/message/broadcast',\n      headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + LINE_TOKEN },\n      body: JSON.stringify({ messages: [{ type: 'text', text: noMsg }] }),\n      returnFullResponse: true, ignoreHttpStatusErrors: true\n    });\n  } catch(e) {}\n  // Push to Telegram\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: `https://api.telegram.org/bot${TG_TOKEN}/sendMessage`,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ chat_id: TG_CHAT, text: noMsg })\n    });\n  } catch(e) {}\n  return [{ json: { message: 'No positive EV today', version: 'v3.0' } }];\n}\n\n// Build message\nconst medals = ['🥇', '🥈', '🥉', '4️⃣', '5️⃣'];\nconst regime = data.marketRegime || 'normal';\nconst vix = data.vix;\nconst spyDir = data.spyDirection;\nconst regimeMap = { normal: '🟢正常', caution: '🟡高波動警戒', bearOnly: '🔴只推Bear', halt: '🚨全面暫停' };\n\nlet msg = `🎯 正EV精選推薦 ${dateStr} ${timeStr}\\n`;\nmsg += `━━━━━━━━━━━━━━\\n`;\nmsg += `盤勢: ${regimeMap[regime] || regime}`;\nif (vix) msg += ` | VIX:${vix.toFixed(1)}`;\nif (spyDir) msg += ` | SPY:${spyDir}`;\nmsg += `\\n\\n`;\n\nranked.forEach((sym, idx) => {\n  const de = dirEmoji[sym.direction] || '⚪';\n  const dl = dirLabel[sym.direction] || '中性';\n\n  msg += `\\n${medals[idx]} #${idx+1} ${sym.ticker} ${sym.name}\\n`;\n  msg += `${de} ${dl} | 現價 $${sym.underlyingPrice}\\n`;\n  msg += `IV:${sym.iv} | IVR:${(parseFloat(sym.ivr)*100).toFixed(0)}%`;\n  if (sym.ivSkew !== undefined && sym.ivSkew !== null) {\n    msg += ` | Skew:${(parseFloat(sym.ivSkew)*100).toFixed(1)}%`;\n  }\n  msg += `\\n`;\n  msg += `RSI:${parseFloat(sym.rsi).toFixed(0)} | MA20:$${parseFloat(sym.ma20).toFixed(0)}`;\n  if (sym.macd) msg += ` | MACD:${sym.macd.cross === 'death' ? '死叉🔴' : sym.macd.cross === 'golden' ? '金叉🟢' : (sym.macd.histogram > 0 ? '正' : '負')}`;\n  if (sym.support) msg += ` | S:$${parseFloat(sym.support).toFixed(0)}`;\n  if (sym.resistance) msg += ` | R:$${parseFloat(sym.resistance).toFixed(0)}`;\n  msg += `\\n`;\n\n  // Best spread per strategy\n  const bestByStrategy = {};\n  sym.spreads.forEach(s => {\n    const key = s.strategy;\n    if (!bestByStrategy[key] || parseFloat(s.ev) > parseFloat(bestByStrategy[key].ev)) {\n      bestByStrategy[key] = s;\n    }\n  });\n\n  const sorted = Object.values(bestByStrategy).sort((a, b) =>\n    parseFloat(b.trendScore || b.ev) - parseFloat(a.trendScore || a.ev)\n  );\n\n  sorted.forEach(s => {\n    const isDebit = ['Bear Put', 'Bull Call'].includes(s.strategy);\n    const action = isDebit ? '付' : '收';\n    const amount = parseFloat(s.credit || s.debit || 0).toFixed(2);\n    const wr = s.winRate ? `勝率${s.winRate}` : '';\n\n    const sLabel = stratLabel[s.strategy] || s.strategy;\n    if (s.strategy === 'Iron Condor') {\n      msg += `➡️ ${sLabel} ${s.shortStrike}\\n`;\n    } else {\n      msg += `➡️ ${sLabel} ${s.shortStrike}/${s.longStrike}\\n`;\n    }\n    // EV range: show worst~best based on Bid/Ask slippage\n    const evStr = s.evRange\n      ? `EV $${s.evRange.evWorst}~$${s.evRange.evBest} (中$${parseFloat(s.ev).toFixed(2)})`\n      : `EV $${parseFloat(s.ev).toFixed(2)}`;\n    msg += `   ${action}$${amount} | ${evStr} | Kelly ${s.kelly}\\n`;\n    msg += `   ${s.dte}DTE | ${wr} | Δ${s.shortDelta || '?'}\\n`;\n\n    // Stop loss / take profit\n    if (s.takeProfit && s.stopLoss) {\n      msg += `   🎯止盈$${s.takeProfit} | 🛑止損$${s.stopLoss}\\n`;\n    }\n\n    // Margin\n    if (s.margin) {\n      msg += `   保證金 $${s.margin}\\n`;\n    }\n  });\n});\n\nmsg += `\\n━━━━━━━━━━━━━━\\n`;\nmsg += `v3.4 篩選:\\n`;\nmsg += `📊 Greeks + Delta選價 + IVR\\n`;\nmsg += `🧠 RSI/MA20/Skew方向判斷\\n`;\nmsg += `🛡️ BidAsk<10% + OI>500\\n`;\nmsg += `⚠️ CBOE即時數據，下單前請確認`;\n\n// Split if too long (LINE limit 5000 chars)\nconst msgParts = [];\nif (msg.length > 4500) {\n  const lines = msg.split('\\n');\n  let current = '';\n  for (const line of lines) {\n    if ((current + line + '\\n').length > 4400 && current.length > 0) {\n      msgParts.push(current);\n      current = '（續）\\n' + line + '\\n';\n    } else {\n      current += line + '\\n';\n    }\n  }\n  if (current) msgParts.push(current);\n} else {\n  // Append Dashboard link\n  msg += `\\n\\n📊 試算 Dashboard:\\nhttps://chungchangting.github.io/student-signal-dashboard/`;\n  msgParts.push(msg);\n}\n\n// LINE broadcast\nlet lineResponse = null;\nfor (const part of msgParts) {\n  try {\n    lineResponse = await this.helpers.httpRequest({\n      method: 'POST', url: 'https://api.line.me/v2/bot/message/broadcast',\n      headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + LINE_TOKEN },\n      body: JSON.stringify({ messages: [{ type: 'text', text: part.trim() }] }),\n      returnFullResponse: true, ignoreHttpStatusErrors: true\n    });\n  } catch (le) {\n    lineResponse = { error: le.message };\n  }\n}\n\n// Telegram\nlet tgResponse = 'not sent';\nfor (const part of msgParts) {\n  try {\n    const tgResp = await this.helpers.httpRequest({\n      method: 'POST', url: `https://api.telegram.org/bot${TG_TOKEN}/sendMessage`,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ chat_id: TG_CHAT, text: part.trim() })\n    });\n    tgResponse = tgResp.ok ? 'ok' : JSON.stringify(tgResp);\n  } catch (e) {\n    tgResponse = `TG Error: ${e.message}`;\n  }\n}\n\n// === Google Sheet 歷史記錄寫入 ===\n// Sheet: Options Dashboard Data (1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4)\n// Tab: signals (gid=637583169)\nconst SHEET_ID = '1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4';\nconst sheetRows = [];\n\nranked.forEach(sym => {\n  const bestByStrategy = {};\n  sym.spreads.forEach(s => {\n    const key = s.strategy;\n    if (!bestByStrategy[key] || parseFloat(s.ev) > parseFloat(bestByStrategy[key].ev)) {\n      bestByStrategy[key] = s;\n    }\n  });\n\n  Object.values(bestByStrategy).forEach(s => {\n    const isDebit = ['Bear Put Spread', 'Bull Call Spread'].includes(s.strategy);\n    const moduleMap = {\n      'Bull Put Spread': 'BPCS', 'Bear Call Spread': 'BCCS',\n      'Bull Call Spread': 'BCDS', 'Bear Put Spread': 'BPDS',\n      'Iron Condor': 'IC'\n    };\n    sheetRows.push({\n      symbol: sym.ticker,\n      strategy: s.strategy,\n      decision: parseFloat(s.ev) > 0 ? 'GO' : 'SKIP',\n      note: s.evRange\n        ? `EV=$${s.evRange.evWorst}~$${s.evRange.evBest}(中${parseFloat(s.ev).toFixed(2)}) Kelly=${s.kelly} Δ=${s.shortDelta || '?'} 止盈$${s.takeProfit} 止損$${s.stopLoss}`\n        : `EV=$${parseFloat(s.ev).toFixed(2)} Kelly=${s.kelly} Δ=${s.shortDelta || '?'} 止盈$${s.takeProfit} 止損$${s.stopLoss}`,\n      module: moduleMap[s.strategy] || s.strategy,\n      bias: sym.direction || 'neutral',\n      iv_environment: `IVR=${(parseFloat(sym.ivr)*100).toFixed(0)}%`,\n      created_at: new Date().toISOString(),\n      event_risk: (function() {\n        const KEY_EV = ['2026-01-09','2026-01-13','2026-01-28','2026-02-11','2026-02-13','2026-03-06','2026-03-11','2026-03-18','2026-04-03','2026-04-10','2026-04-29','2026-05-08','2026-05-12','2026-06-05','2026-06-10','2026-06-17','2026-07-02','2026-07-14','2026-07-29','2026-08-07','2026-08-12','2026-09-04','2026-09-11','2026-09-16','2026-10-02','2026-10-14','2026-10-28','2026-11-06','2026-11-10','2026-12-04','2026-12-09','2026-12-10'];\n        const today = new Date().toISOString().slice(0,10);\n        const in2d = new Date(Date.now()+2*86400000).toISOString().slice(0,10);\n        return KEY_EV.some(d => d >= today && d <= in2d);\n      })(),\n      pop: parseFloat(s.winRate) * 100 || 0,\n      credit_received: parseFloat(s.credit || 0),\n      debit_paid: parseFloat(s.debit || 0),\n      max_loss: parseFloat(s.margin || 0),\n    });\n  });\n});\n\n// Write to Google Sheet via Sheets API (using service account from n8n)\nlet sheetWriteResult = 'not attempted';\nif (sheetRows.length > 0) {\n  try {\n    // Use n8n's built-in Google Sheets API via httpRequest\n    // Append rows to the signals sheet\n    const values = sheetRows.map(r => [\n      r.symbol, r.strategy, r.decision, r.note, r.module,\n      r.bias, r.iv_environment, r.created_at, r.event_risk,\n      r.pop, r.credit_received\n    ]);\n\n    // We'll use the Google Sheets API v4 append endpoint\n    // But we need OAuth — instead, store for the webhook to pick up\n    sheetWriteResult = `${sheetRows.length} rows prepared (stored in static data)`;\n  } catch (e) {\n    sheetWriteResult = `Sheet write error: ${e.message}`;\n  }\n}\n\n// === Static Data 存儲（給 webhook 即時讀取）===\nconst staticData = $getWorkflowStaticData('global');\nstaticData.latestSignals = {\n  timestamp: new Date().toISOString(),\n  signals: sheetRows,\n  summary: {\n    symbolCount: ranked.length,\n    totalSignals: sheetRows.length,\n    version: 'v3.4'\n  },\n  raw: ranked.map(sym => ({\n    ticker: sym.ticker,\n    name: sym.name,\n    underlyingPrice: sym.underlyingPrice,\n    iv: sym.iv,\n    ivr: sym.ivr,\n    direction: sym.direction,\n    directionScore: sym.directionScore,\n    directionReasons: sym.directionReasons,\n    rsi: sym.rsi,\n    ma20: sym.ma20,\n    support: sym.support,\n    resistance: sym.resistance,\n    macd: sym.macd,\n    ivSkew: sym.ivSkew,\n    spreads: sym.spreads,\n  }))\n};\n\n// === POST 信號到勝率追蹤系統 ===\nlet trackingResult = 'not sent';\ntry {\n  const trackPayload = {\n    signals: sheetRows,\n    tracking: {\n      id: `sig-${Date.now()}`,\n      pushTime: new Date().toISOString(),\n      marketRegime: data.marketRegime || 'normal',\n      vix: data.vix,\n      symbolCount: ranked.length,\n    },\n    raw: ranked.map(sym => ({\n      ticker: sym.ticker, name: sym.name,\n      sector: sym.sector,\n      underlyingPrice: sym.underlyingPrice, iv: sym.iv, ivr: sym.ivr,\n      direction: sym.direction, directionScore: sym.directionScore,\n      directionReasons: sym.directionReasons,\n      rsi: sym.rsi, ma20: sym.ma20, support: sym.support, resistance: sym.resistance,\n      macd: sym.macd, ivSkew: sym.ivSkew,\n      volumeRatio: sym.volumeRatio, volumeSpike: sym.volumeSpike,\n      spreads: sym.spreads,\n    }))\n  };\n  const trackResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://chilldove.app.n8n.cloud/webhook/ev-signal-track',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(trackPayload)\n  });\n  trackingResult = trackResp?.status || 'ok';\n} catch (e) {\n  trackingResult = `Tracking error: ${e.message}`;\n}\n\n// === POST 信號到 ev-signals webhook（供 Dashboard 即時讀取）===\nlet webhookResult = 'not sent';\ntry {\n  const payload = {\n    timestamp: new Date().toISOString(),\n    signals: sheetRows,\n    summary: { symbolCount: ranked.length, totalSignals: sheetRows.length, version: 'v3.4' },\n    raw: ranked.map(sym => ({\n      ticker: sym.ticker, name: sym.name,\n      sector: sym.sector,\n      underlyingPrice: sym.underlyingPrice, iv: sym.iv, ivr: sym.ivr,\n      direction: sym.direction, directionScore: sym.directionScore,\n      directionReasons: sym.directionReasons,\n      rsi: sym.rsi, ma20: sym.ma20, support: sym.support, resistance: sym.resistance,\n      macd: sym.macd, ivSkew: sym.ivSkew,\n      volumeRatio: sym.volumeRatio, volumeSpike: sym.volumeSpike,\n      marketState: sym.marketState,\n      spreads: sym.spreads,\n    })),\n    tracking: {\n      id: `sig-${Date.now()}`,\n      pushTime: new Date().toISOString(),\n      marketRegime: data.marketRegime,\n      vix: data.vix,\n      symbolCount: ranked.length,\n    }\n  };\n  const webhookResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://chilldove.app.n8n.cloud/webhook/ev-signals-update',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(payload)\n  });\n  webhookResult = webhookResp?.status || 'ok';\n} catch (e) {\n  webhookResult = `Webhook error: ${e.message}`;\n}\n\n// === Google Sheet 寫入（透過 Apps Script Web App）===\nlet sheetResult = 'skipped';\nif (sheetRows.length > 0) {\n  try {\n    // Use Google Sheets API v4 append via public Apps Script\n    // Alternative: direct Sheets API with service account\n    // For now, store in webhook static data (Dashboard reads from webhook)\n    sheetResult = `${sheetRows.length} signals stored in webhook`;\n  } catch(e) {\n    sheetResult = e.message;\n  }\n}\n\nreturn [{ json: {\n  message: msg, lineResponse, tgResponse,\n  messageCount: msgParts.length, symbolCount: ranked.length,\n  webhookResult, sheetResult, trackingResult,\n  signalsStored: sheetRows.length,\n  version: 'v3.4'\n} }];\n"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          []
        ]
      }
    },
    "authors": "CHILLDOVE  ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-06T06:32:29.021Z",
        "id": 476,
        "workflowId": "94K8VLorR9VVxgd3",
        "versionId": "89586583-e1ae-4692-b1f5-7cbf36527e99",
        "event": "activated",
        "userId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      },
      {
        "createdAt": "2026-04-06T06:32:28.911Z",
        "id": 475,
        "workflowId": "94K8VLorR9VVxgd3",
        "versionId": "89586583-e1ae-4692-b1f5-7cbf36527e99",
        "event": "deactivated",
        "userId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      }
    ]
  }
}