n8n-workflows/wf02-signal-router.json
{
  "updatedAt": "2026-04-06T05:18:22.783Z",
  "createdAt": "2026-04-03T18:38:49.758Z",
  "id": "F0HpvQBWnp6ClqG5",
  "name": "WF-02 訊號接收與模組分流",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signal-intake",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1308bdef-952c-4f08-95af-50ecc4cb1239",
      "name": "Webhook",
      "webhookId": "e16d2a1f-2cdf-4217-ac7b-45b4855286ce",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nQOSIZN5SqPbX7AH",
          "name": "Signal Intake Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// WF-02: pickModule + risk filter + event risk auto-detect\nconst items = $input.all();\nconst results = [];\n\n// === 2026 Key Economic Events Calendar ===\nconst KEY_EVENTS = [\n  '2026-01-09','2026-01-13','2026-01-28',\n  '2026-02-11','2026-02-13',\n  '2026-03-06','2026-03-11','2026-03-18',\n  '2026-04-03','2026-04-10','2026-04-29',\n  '2026-05-08','2026-05-12',\n  '2026-06-05','2026-06-10','2026-06-17',\n  '2026-07-02','2026-07-14','2026-07-29',\n  '2026-08-07','2026-08-12',\n  '2026-09-04','2026-09-11','2026-09-16',\n  '2026-10-02','2026-10-14','2026-10-28',\n  '2026-11-06','2026-11-10',\n  '2026-12-04','2026-12-09','2026-12-10'\n];\nconst EVENT_NAMES = {\n  '01-09':'NFP','01-13':'CPI','01-28':'FOMC',\n  '02-11':'NFP','02-13':'CPI',\n  '03-06':'NFP','03-11':'CPI','03-18':'FOMC',\n  '04-03':'NFP','04-10':'CPI','04-29':'FOMC',\n  '05-08':'NFP','05-12':'CPI',\n  '06-05':'NFP','06-10':'CPI','06-17':'FOMC',\n  '07-02':'NFP','07-14':'CPI','07-29':'FOMC',\n  '08-07':'NFP','08-12':'CPI',\n  '09-04':'NFP','09-11':'CPI','09-16':'FOMC',\n  '10-02':'NFP','10-14':'CPI','10-28':'FOMC',\n  '11-06':'NFP','11-10':'CPI',\n  '12-04':'NFP','12-09':'FOMC','12-10':'CPI'\n};\n\nfunction checkEventRisk() {\n  const now = new Date();\n  const today = now.toISOString().slice(0, 10);\n  const in2days = new Date(now.getTime() + 2 * 86400000).toISOString().slice(0, 10);\n  const upcoming = [];\n  for (const d of KEY_EVENTS) {\n    if (d >= today && d <= in2days) {\n      const key = d.slice(5);\n      const daysUntil = Math.ceil((new Date(d + 'T00:00:00').getTime() - now.getTime()) / 86400000);\n      upcoming.push({ date: d, type: EVENT_NAMES[key] || '?', daysUntil });\n    }\n  }\n  return upcoming;\n}\n\nconst upcomingEvents = checkEventRisk();\nconst hasEventRisk = upcomingEvents.length > 0;\nconst eventNames = upcomingEvents.map(e => e.date.slice(5) + ' ' + e.type + '(' + e.daysUntil + '天後)').join(', ');\n\nfor (const item of items) {\n  const d = item.json.body || item.json;\n  const symbol = (d.symbol || '').toUpperCase();\n  const strategy = (d.strategy || '').toUpperCase();\n  const ivr = parseFloat(d.ivr) || 0;\n  const dte = parseInt(d.dte) || 0;\n  const event_risk_payload = String(d.event_risk).toLowerCase() === 'true';\n  const pop = parseFloat(d.pop) || 0;\n  const credit_received = parseFloat(d.credit_received) || 0;\n  const debit_paid = parseFloat(d.debit_paid) || 0;\n  const max_loss = parseFloat(d.max_loss) || 0;\n  const bias = (d.bias || '').toLowerCase();\n\n  const spx_qqq = ['SPX', 'QQQ', '/ES', '/NQ'];\n  const is_index = spx_qqq.includes(symbol);\n  const income_strats = ['IRON_CONDOR', 'BULL_PUT_CREDIT_SPREAD', 'BEAR_CALL_CREDIT_SPREAD', 'CREDIT_VERTICAL'];\n  const debit_strats = ['BULL_CALL_DEBIT_SPREAD', 'BEAR_PUT_DEBIT_SPREAD'];\n\n  let module = 'UNKNOWN';\n  let module_resolved = 'UNKNOWN';\n\n  if (income_strats.includes(strategy)) {\n    if (strategy === 'IRON_CONDOR') module = is_index ? 'IC_INDEX' : 'IC_EQUITY';\n    else if (strategy === 'BULL_PUT_CREDIT_SPREAD') module = is_index ? 'BPCS_INDEX' : 'BPCS_EQUITY';\n    else if (strategy === 'BEAR_CALL_CREDIT_SPREAD') module = is_index ? 'BCCS_INDEX' : 'BCCS_EQUITY';\n    else module = 'CREDIT_VERTICAL';\n    module_resolved = module;\n  } else if (debit_strats.includes(strategy)) {\n    module = strategy === 'BULL_CALL_DEBIT_SPREAD' ? 'BCDS' : 'BPDS';\n    module_resolved = module;\n  }\n\n  const isIncome = income_strats.includes(strategy);\n  const isDebit = debit_strats.includes(strategy);\n\n  let decision = 'approved';\n  let reject_reason = null;\n  let event_warning = '';\n\n  const effectiveEventRisk = hasEventRisk || event_risk_payload;\n\n  if (effectiveEventRisk && isIncome) {\n    decision = 'rejected';\n    reject_reason = '事件風險：' + (eventNames || 'event_risk') + ' → 賣方策略暫停推播';\n    event_warning = '🚫 賣方策略封鎖（' + eventNames + '）';\n  } else if (effectiveEventRisk && isDebit) {\n    decision = 'approved';\n    event_warning = '✅ 買方策略不受影響（IV上升有利）| 事件：' + eventNames;\n  } else if (effectiveEventRisk) {\n    decision = 'rejected';\n    reject_reason = '事件風險：' + (eventNames || 'event_risk');\n  } else if (isIncome && ivr < 25) {\n    decision = 'rejected';\n    reject_reason = 'IVR too low: ' + ivr;\n  } else if (isIncome && pop < 0.65) {\n    decision = 'rejected';\n    reject_reason = 'POP too low: ' + pop;\n  } else if (dte < 14) {\n    decision = 'rejected';\n    reject_reason = 'DTE too short: ' + dte;\n  } else if (dte > 45) {\n    decision = 'rejected';\n    reject_reason = 'DTE too long: ' + dte;\n  }\n\n  const cn_map = {\n    'IRON_CONDOR': '【盤整收租】Iron Condor, IVR ' + ivr,\n    'BULL_PUT_CREDIT_SPREAD': '【偏多收租】Put Credit Spread, IVR ' + ivr,\n    'BEAR_CALL_CREDIT_SPREAD': '【偏空收租】Call Credit Spread, IVR ' + ivr,\n    'BULL_CALL_DEBIT_SPREAD': '【偏多進攻】Call Debit Spread',\n    'BEAR_PUT_DEBIT_SPREAD': '【偏空進攻】Put Debit Spread',\n    'CREDIT_VERTICAL': '【收租】Credit Vertical'\n  };\n  const note = cn_map[strategy] || strategy;\n\n  const now = new Date();\n  const sig_id = 'SIG-' + now.toISOString().slice(0, 10).replace(/-/g, '') + '-' + symbol + '-' + Math.floor(Math.random() * 1000);\n\n  results.push({\n    json: {\n      symbol, strategy, module, module_resolved,\n      decision, reject_reason, note, sig_id,\n      ivr, dte, pop, credit_received, debit_paid, max_loss,\n      event_risk: effectiveEventRisk,\n      event_warning, upcoming_events: eventNames,\n      created_at: now.toISOString().slice(0, 16).replace('T', ' ')\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "d08f9669-fa97-4183-b39f-f225e6785171",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0421f8c-358a-494f-bc2b-1c611c276ba5",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "600f053f-9593-4816-9b4f-5e670d2f337b",
      "name": "IF: decision=approved"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4",
          "mode": "list",
          "cachedResultName": "Options Dashboard Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 637583169,
          "mode": "list",
          "cachedResultName": "signals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4/edit#gid=637583169"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "symbol",
              "displayName": "symbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "strategy",
              "displayName": "strategy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "student_note",
              "displayName": "student_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "module",
              "displayName": "module",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bias",
              "displayName": "bias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_risk",
              "displayName": "event_risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pop",
              "displayName": "pop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "credit_received",
              "displayName": "credit_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "debit_paid",
              "displayName": "debit_paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_value",
              "displayName": "target_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "max_loss",
              "displayName": "max_loss",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -96
      ],
      "id": "24a0bc84-c60a-423f-ab37-d15e8d271d28",
      "name": "Sheets: Append signals",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R7T5tZ42DGFAymM7",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/broadcast",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: [{ type: 'text', text: '📊 新訊號\\n' + $json.symbol + ' ' + $json.strategy + '\\n模組: ' + $json.module + '\\n決策: ' + $json.decision + '\\n' + ($json.event_warning ? '\\n' + $json.event_warning : '') + '\\n' + ($json.note || '') + '\\n\\n📱 Dashboard: https://chungchangting.github.io/student-signal-dashboard/' }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -96
      ],
      "id": "ade94c5a-151d-4b11-a700-700b717147fc",
      "name": "LINE: Broadcast signal",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0ojgOP3YjhHytkWX",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        -96
      ],
      "id": "dc1bd222-3e8f-4218-ab4d-755473a844e9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LiN07qjiF7Eb37pW-XfXS_pmgYbWqgby7DFrcBE42Qo",
          "mode": "list",
          "cachedResultName": "下班鴿AI選擇權交易系統(模擬倉)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LiN07qjiF7Eb37pW-XfXS_pmgYbWqgby7DFrcBE42Qo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Rejected Signals",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "symbol",
              "displayName": "symbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "strategy",
              "displayName": "strategy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reject_reason",
              "displayName": "reject_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "module",
              "displayName": "module",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ivr",
              "displayName": "ivr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dte",
              "displayName": "dte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_risk",
              "displayName": "event_risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        96
      ],
      "id": "84a7be35-8d58-4aa0-aa48-615f1b3b395d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R7T5tZ42DGFAymM7",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        96
      ],
      "id": "9bddce2f-7e51-48fd-8f0f-e8a5d86c2661",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "IF: decision=approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: decision=approved": {
      "main": [
        [
          {
            "node": "Sheets: Append signals",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Append signals": {
      "main": [
        [
          {
            "node": "LINE: Broadcast signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE: Broadcast signal": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "symbol": "QQQ",
            "strategy": "BEAR_CALL_CREDIT_SPREAD",
            "ivr": 33,
            "dte": 25,
            "event_risk": "false",
            "pop": 0.7,
            "credit_received": 1.1,
            "debit_paid": 0,
            "max_loss": 290,
            "bias": "bearish"
          },
          "headers": {
            "content-type": "application/json"
          },
          "params": {}
        }
      }
    ]
  },
  "versionId": "7acf5b37-a563-446d-b1e5-4f3f99473c21",
  "activeVersionId": "7acf5b37-a563-446d-b1e5-4f3f99473c21",
  "versionCounter": 63,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-03T18:38:49.761Z",
      "createdAt": "2026-04-03T18:38:49.761Z",
      "role": "workflow:owner",
      "workflowId": "F0HpvQBWnp6ClqG5",
      "projectId": "XDZLu6ZcPKkiq9Uq",
      "project": {
        "updatedAt": "2026-03-14T06:53:51.790Z",
        "createdAt": "2026-03-14T06:53:45.726Z",
        "id": "XDZLu6ZcPKkiq9Uq",
        "name": "CHILLDOVE   <joseph010409@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-06T05:18:22.784Z",
    "createdAt": "2026-04-06T05:18:22.784Z",
    "versionId": "7acf5b37-a563-446d-b1e5-4f3f99473c21",
    "workflowId": "F0HpvQBWnp6ClqG5",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "signal-intake",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "1308bdef-952c-4f08-95af-50ecc4cb1239",
        "name": "Webhook",
        "webhookId": "e16d2a1f-2cdf-4217-ac7b-45b4855286ce",
        "credentials": {
          "httpHeaderAuth": {
            "id": "nQOSIZN5SqPbX7AH",
            "name": "Signal Intake Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// WF-02: pickModule + risk filter + event risk auto-detect\nconst items = $input.all();\nconst results = [];\n\n// === 2026 Key Economic Events Calendar ===\nconst KEY_EVENTS = [\n  '2026-01-09','2026-01-13','2026-01-28',\n  '2026-02-11','2026-02-13',\n  '2026-03-06','2026-03-11','2026-03-18',\n  '2026-04-03','2026-04-10','2026-04-29',\n  '2026-05-08','2026-05-12',\n  '2026-06-05','2026-06-10','2026-06-17',\n  '2026-07-02','2026-07-14','2026-07-29',\n  '2026-08-07','2026-08-12',\n  '2026-09-04','2026-09-11','2026-09-16',\n  '2026-10-02','2026-10-14','2026-10-28',\n  '2026-11-06','2026-11-10',\n  '2026-12-04','2026-12-09','2026-12-10'\n];\nconst EVENT_NAMES = {\n  '01-09':'NFP','01-13':'CPI','01-28':'FOMC',\n  '02-11':'NFP','02-13':'CPI',\n  '03-06':'NFP','03-11':'CPI','03-18':'FOMC',\n  '04-03':'NFP','04-10':'CPI','04-29':'FOMC',\n  '05-08':'NFP','05-12':'CPI',\n  '06-05':'NFP','06-10':'CPI','06-17':'FOMC',\n  '07-02':'NFP','07-14':'CPI','07-29':'FOMC',\n  '08-07':'NFP','08-12':'CPI',\n  '09-04':'NFP','09-11':'CPI','09-16':'FOMC',\n  '10-02':'NFP','10-14':'CPI','10-28':'FOMC',\n  '11-06':'NFP','11-10':'CPI',\n  '12-04':'NFP','12-09':'FOMC','12-10':'CPI'\n};\n\nfunction checkEventRisk() {\n  const now = new Date();\n  const today = now.toISOString().slice(0, 10);\n  const in2days = new Date(now.getTime() + 2 * 86400000).toISOString().slice(0, 10);\n  const upcoming = [];\n  for (const d of KEY_EVENTS) {\n    if (d >= today && d <= in2days) {\n      const key = d.slice(5);\n      const daysUntil = Math.ceil((new Date(d + 'T00:00:00').getTime() - now.getTime()) / 86400000);\n      upcoming.push({ date: d, type: EVENT_NAMES[key] || '?', daysUntil });\n    }\n  }\n  return upcoming;\n}\n\nconst upcomingEvents = checkEventRisk();\nconst hasEventRisk = upcomingEvents.length > 0;\nconst eventNames = upcomingEvents.map(e => e.date.slice(5) + ' ' + e.type + '(' + e.daysUntil + '天後)').join(', ');\n\nfor (const item of items) {\n  const d = item.json.body || item.json;\n  const symbol = (d.symbol || '').toUpperCase();\n  const strategy = (d.strategy || '').toUpperCase();\n  const ivr = parseFloat(d.ivr) || 0;\n  const dte = parseInt(d.dte) || 0;\n  const event_risk_payload = String(d.event_risk).toLowerCase() === 'true';\n  const pop = parseFloat(d.pop) || 0;\n  const credit_received = parseFloat(d.credit_received) || 0;\n  const debit_paid = parseFloat(d.debit_paid) || 0;\n  const max_loss = parseFloat(d.max_loss) || 0;\n  const bias = (d.bias || '').toLowerCase();\n\n  const spx_qqq = ['SPX', 'QQQ', '/ES', '/NQ'];\n  const is_index = spx_qqq.includes(symbol);\n  const income_strats = ['IRON_CONDOR', 'BULL_PUT_CREDIT_SPREAD', 'BEAR_CALL_CREDIT_SPREAD', 'CREDIT_VERTICAL'];\n  const debit_strats = ['BULL_CALL_DEBIT_SPREAD', 'BEAR_PUT_DEBIT_SPREAD'];\n\n  let module = 'UNKNOWN';\n  let module_resolved = 'UNKNOWN';\n\n  if (income_strats.includes(strategy)) {\n    if (strategy === 'IRON_CONDOR') module = is_index ? 'IC_INDEX' : 'IC_EQUITY';\n    else if (strategy === 'BULL_PUT_CREDIT_SPREAD') module = is_index ? 'BPCS_INDEX' : 'BPCS_EQUITY';\n    else if (strategy === 'BEAR_CALL_CREDIT_SPREAD') module = is_index ? 'BCCS_INDEX' : 'BCCS_EQUITY';\n    else module = 'CREDIT_VERTICAL';\n    module_resolved = module;\n  } else if (debit_strats.includes(strategy)) {\n    module = strategy === 'BULL_CALL_DEBIT_SPREAD' ? 'BCDS' : 'BPDS';\n    module_resolved = module;\n  }\n\n  const isIncome = income_strats.includes(strategy);\n  const isDebit = debit_strats.includes(strategy);\n\n  let decision = 'approved';\n  let reject_reason = null;\n  let event_warning = '';\n\n  const effectiveEventRisk = hasEventRisk || event_risk_payload;\n\n  if (effectiveEventRisk && isIncome) {\n    decision = 'rejected';\n    reject_reason = '事件風險：' + (eventNames || 'event_risk') + ' → 賣方策略暫停推播';\n    event_warning = '🚫 賣方策略封鎖（' + eventNames + '）';\n  } else if (effectiveEventRisk && isDebit) {\n    decision = 'approved';\n    event_warning = '✅ 買方策略不受影響（IV上升有利）| 事件：' + eventNames;\n  } else if (effectiveEventRisk) {\n    decision = 'rejected';\n    reject_reason = '事件風險：' + (eventNames || 'event_risk');\n  } else if (isIncome && ivr < 25) {\n    decision = 'rejected';\n    reject_reason = 'IVR too low: ' + ivr;\n  } else if (isIncome && pop < 0.65) {\n    decision = 'rejected';\n    reject_reason = 'POP too low: ' + pop;\n  } else if (dte < 14) {\n    decision = 'rejected';\n    reject_reason = 'DTE too short: ' + dte;\n  } else if (dte > 45) {\n    decision = 'rejected';\n    reject_reason = 'DTE too long: ' + dte;\n  }\n\n  const cn_map = {\n    'IRON_CONDOR': '【盤整收租】Iron Condor, IVR ' + ivr,\n    'BULL_PUT_CREDIT_SPREAD': '【偏多收租】Put Credit Spread, IVR ' + ivr,\n    'BEAR_CALL_CREDIT_SPREAD': '【偏空收租】Call Credit Spread, IVR ' + ivr,\n    'BULL_CALL_DEBIT_SPREAD': '【偏多進攻】Call Debit Spread',\n    'BEAR_PUT_DEBIT_SPREAD': '【偏空進攻】Put Debit Spread',\n    'CREDIT_VERTICAL': '【收租】Credit Vertical'\n  };\n  const note = cn_map[strategy] || strategy;\n\n  const now = new Date();\n  const sig_id = 'SIG-' + now.toISOString().slice(0, 10).replace(/-/g, '') + '-' + symbol + '-' + Math.floor(Math.random() * 1000);\n\n  results.push({\n    json: {\n      symbol, strategy, module, module_resolved,\n      decision, reject_reason, note, sig_id,\n      ivr, dte, pop, credit_received, debit_paid, max_loss,\n      event_risk: effectiveEventRisk,\n      event_warning, upcoming_events: eventNames,\n      created_at: now.toISOString().slice(0, 16).replace('T', ' ')\n    }\n  });\n}\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "d08f9669-fa97-4183-b39f-f225e6785171",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a0421f8c-358a-494f-bc2b-1c611c276ba5",
                "leftValue": "={{ $json.decision }}",
                "rightValue": "approved",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          416,
          0
        ],
        "id": "600f053f-9593-4816-9b4f-5e670d2f337b",
        "name": "IF: decision=approved"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4",
            "mode": "list",
            "cachedResultName": "Options Dashboard Data",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 637583169,
            "mode": "list",
            "cachedResultName": "signals",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1clv5FZE6Fhf--2002oXlQg9SfVxqojiAL-QLpkdSGS4/edit#gid=637583169"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "symbol",
                "displayName": "symbol",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "strategy",
                "displayName": "strategy",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "decision",
                "displayName": "decision",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "student_note",
                "displayName": "student_note",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "module",
                "displayName": "module",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "bias",
                "displayName": "bias",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "event_risk",
                "displayName": "event_risk",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pop",
                "displayName": "pop",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "credit_received",
                "displayName": "credit_received",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "debit_paid",
                "displayName": "debit_paid",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "target_value",
                "displayName": "target_value",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "max_loss",
                "displayName": "max_loss",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          624,
          -96
        ],
        "id": "24a0bc84-c60a-423f-ab37-d15e8d271d28",
        "name": "Sheets: Append signals",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "R7T5tZ42DGFAymM7",
            "name": "Google Sheets OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.line.me/v2/bot/message/broadcast",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ messages: [{ type: 'text', text: '📊 新訊號\\n' + $json.symbol + ' ' + $json.strategy + '\\n模組: ' + $json.module + '\\n決策: ' + $json.decision + '\\n' + ($json.event_warning ? '\\n' + $json.event_warning : '') + '\\n' + ($json.note || '') + '\\n\\n📱 Dashboard: https://chungchangting.github.io/student-signal-dashboard/' }] }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          832,
          -96
        ],
        "id": "ade94c5a-151d-4b11-a700-700b717147fc",
        "name": "LINE: Broadcast signal",
        "credentials": {
          "httpHeaderAuth": {
            "id": "0ojgOP3YjhHytkWX",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1040,
          -96
        ],
        "id": "dc1bd222-3e8f-4218-ab4d-755473a844e9",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1LiN07qjiF7Eb37pW-XfXS_pmgYbWqgby7DFrcBE42Qo",
            "mode": "list",
            "cachedResultName": "下班鴿AI選擇權交易系統(模擬倉)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LiN07qjiF7Eb37pW-XfXS_pmgYbWqgby7DFrcBE42Qo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "Rejected Signals",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "symbol",
                "displayName": "symbol",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "strategy",
                "displayName": "strategy",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "decision",
                "displayName": "decision",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "reject_reason",
                "displayName": "reject_reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "module",
                "displayName": "module",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ivr",
                "displayName": "ivr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "dte",
                "displayName": "dte",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "event_risk",
                "displayName": "event_risk",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          624,
          96
        ],
        "id": "84a7be35-8d58-4aa0-aa48-615f1b3b395d",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "R7T5tZ42DGFAymM7",
            "name": "Google Sheets OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          832,
          96
        ],
        "id": "9bddce2f-7e51-48fd-8f0f-e8a5d86c2661",
        "name": "Respond to Webhook1"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "IF: decision=approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF: decision=approved": {
        "main": [
          [
            {
              "node": "Sheets: Append signals",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets: Append signals": {
        "main": [
          [
            {
              "node": "LINE: Broadcast signal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LINE: Broadcast signal": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "CHILLDOVE  ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-06T05:18:23.047Z",
        "id": 466,
        "workflowId": "F0HpvQBWnp6ClqG5",
        "versionId": "7acf5b37-a563-446d-b1e5-4f3f99473c21",
        "event": "activated",
        "userId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      },
      {
        "createdAt": "2026-04-06T05:18:22.954Z",
        "id": 465,
        "workflowId": "F0HpvQBWnp6ClqG5",
        "versionId": "7acf5b37-a563-446d-b1e5-4f3f99473c21",
        "event": "deactivated",
        "userId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      }
    ]
  }
}