n8n-workflows/wf08-position-sync.json
{
  "updatedAt": "2026-04-06T06:55:53.985Z",
  "createdAt": "2026-04-05T20:50:29.458Z",
  "id": "ws7E5Rq4qVAnc69s",
  "name": "【持倉同步】WF-08 Student Dashboard",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "student-broker-dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh08get",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        250
      ],
      "webhookId": "student-broker-dashboard-get"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-broker-dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh08post",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        450
      ],
      "webhookId": "student-broker-dashboard-post"
    },
    {
      "parameters": {
        "jsCode": "// === CBOE Option Chain Proxy Route ===\nconst inputData = $input.first().json;\nconst action = (inputData.body?.action || inputData.query?.action || '').toLowerCase();\n\nif (action === 'cboe-proxy' || action === 'cboe') {\n  // Batch support: ?symbols=KO,JNJ,CBOE or single ?symbol=KO\n  const body = inputData.body || {};\n  const query = inputData.query || {};\n  const singleSym = (body.symbol || query.symbol || '').toUpperCase().replace(/[^A-Z,]/g, '');\n  const multiSym = (body.symbols || query.symbols || '').toUpperCase().replace(/[^A-Z,]/g, '');\n  const symbolList = (multiSym || singleSym).split(',').filter(s => s.length > 0);\n\n  if (symbolList.length === 0) {\n    return [{ json: { error: 'Missing symbol(s)', results: {} } }];\n  }\n\n  // Fetch all symbols in parallel\n  const results = {};\n  await Promise.all(symbolList.map(async (sym) => {\n    try {\n      const cboeResp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `https://cdn.cboe.com/api/global/delayed_quotes/options/${sym}.json`,\n        headers: { 'User-Agent': 'Mozilla/5.0', 'Accept': 'application/json' },\n        returnFullResponse: true,\n        ignoreHttpStatusErrors: true,\n        timeout: 15000\n      });\n      if (cboeResp.statusCode !== 200) {\n        results[sym] = { error: 'CBOE ' + cboeResp.statusCode, options: [] };\n        return;\n      }\n      const cboeData = typeof cboeResp.body === 'string' ? JSON.parse(cboeResp.body) : cboeResp.body;\n      results[sym] = {\n        count: (cboeData?.data?.options || []).length,\n        options: (cboeData?.data?.options || []).map(o => ({\n          option: o.option, bid: o.bid, ask: o.ask, delta: o.delta,\n          open_interest: o.open_interest, volume: o.volume, iv: o.iv\n        }))\n      };\n    } catch(e) {\n      results[sym] = { error: e.message, options: [] };\n    }\n  }));\n\n  // Single symbol backward compat\n  if (symbolList.length === 1) {\n    const sym = symbolList[0];\n    const r = results[sym];\n    return [{ json: { symbol: sym, count: r.count || 0, options: r.options || [], error: r.error } }];\n  }\n  return [{ json: { batch: true, symbols: symbolList, results } }];\n}\n\n// === Original WF-08 Logic Below ===\n// ============================================================\n// WF-08【持倉同步】Position Sync — Fetch from tastytrade → Serve to Dashboard\n// ============================================================\n// Two modes:\n//   A) GET  /webhook/student-dashboard?student_id=S001  (Dashboard fetch)\n//   B) POST /webhook/student-dashboard  (internal push to update cache)\n//\n// On GET: reads student's account → fetches live positions, balances,\n//         orders → returns JSON for Dashboard rendering\n// ============================================================\n\nconst TT_API = 'https://api.tastyworks.com';\nconst TT_CLIENT_ID = 'ec8b4453-d7e5-418e-8170-43e9b3e0b460';\nconst TT_CLIENT_SECRET = '<TT_CLIENT_SECRET>';\n\nlet input;\ntry {\n  const raw = $input.first().json;\n  input = raw.body || raw;\n} catch (e) {\n  return [{ json: { success: false, error: 'Input read failed: ' + e.message } }];\n}\nconst method = input.method || 'GET';\n\n// ─────────────────────────────────────────────────────────────\n// 1. RESOLVE STUDENT CREDENTIALS\n// ─────────────────────────────────────────────────────────────\n// In production, look up from Google Sheet \"students\" tab\n// For now, accept from query params or lookup table\nconst STUDENT_DB = {\n  'S001': {\n    name: '老師 (Demo)',\n    account_number: 'STUDENT_ACCOUNT',\n    refresh_token: '' // Will be set via Dashboard binding\n  }\n  // Add more students as they bind accounts\n};\n\nconst studentId = input.query?.student_id || input.student_id || 'S001';\nconst studentRecord = STUDENT_DB[studentId] || {};\n\n// Direct input overrides DB lookup\nconst accountNumber = input.account_number || studentRecord.account_number;\nconst refreshToken = input.refresh_token || studentRecord.refresh_token;\n\nif (!refreshToken || !accountNumber) {\n  return [{ json: {\n    success: false,\n    error: 'Missing refresh_token or account_number. Pass via POST body or configure in student DB.',\n    positions: [], signals: [], risk: {},\n    bind_required: true,\n    received_keys: Object.keys(input)\n  }}];\n}\n\n// ─────────────────────────────────────────────────────────────\n// 2. GET OAUTH ACCESS TOKEN\n// ─────────────────────────────────────────────────────────────\nlet accessToken;\ntry {\n  const tokenRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${TT_API}/oauth/token`,\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n      'User-Agent': 'chilldove-student-bot/1.0'\n    },\n    body: `grant_type=refresh_token&refresh_token=${encodeURIComponent(refreshToken)}&client_id=${TT_CLIENT_ID}&client_secret=${TT_CLIENT_SECRET}`,\n  });\n  accessToken = tokenRes.access_token || tokenRes['access-token'] || tokenRes.token;\n  if (!accessToken) throw new Error('No token');\n} catch (e) {\n  return [{ json: {\n    success: false,\n    error: `Auth failed: ${e.message}`,\n    positions: [], signals: [], risk: {},\n    auth_expired: true\n  }}];\n}\n\nconst authHeaders = {\n  'Authorization': `Bearer ${accessToken}`,\n  'Content-Type': 'application/json',\n  'User-Agent': 'chilldove-student-bot/1.0'\n};\n\n// ─────────────────────────────────────────────────────────────\n// 3. FETCH POSITIONS\n// ─────────────────────────────────────────────────────────────\nlet positions = [];\ntry {\n  const posRes = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${TT_API}/accounts/${accountNumber}/positions`,\n    headers: authHeaders,\n    ignoreHttpStatusErrors: true,\n  });\n  const rawPositions = posRes?.data?.items || posRes?.data || [];\n\n  positions = rawPositions.map(p => ({\n    symbol: p['underlying-symbol'] || p.symbol,\n    instrument_type: p['instrument-type'],\n    option_symbol: p.symbol,\n    quantity: parseInt(p['quantity-direction'] === 'Short' ? `-${p.quantity}` : p.quantity),\n    direction: p['quantity-direction'] || (parseInt(p.quantity) > 0 ? 'Long' : 'Short'),\n    average_open_price: parseFloat(p['average-open-price'] || 0),\n    close_price: parseFloat(p['close-price'] || 0),\n    mark_price: parseFloat(p['mark-price'] || p['mark'] || 0),\n    cost_effect: p['cost-effect'] || '',\n    unrealized_pnl: parseFloat(p['unrealized-day-gain'] || 0),\n    unrealized_pnl_pct: parseFloat(p['unrealized-day-gain-percent'] || 0),\n    multiplier: parseInt(p.multiplier || 100),\n    expiration: p['expires-at'] || '',\n    strike_price: parseFloat(p['strike-price'] || 0),\n    option_type: p['option-type'] || '', // Call or Put\n    created_at: p['created-at'] || '',\n  }));\n} catch (e) {\n  positions = [];\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4. FETCH ACCOUNT BALANCES\n// ─────────────────────────────────────────────────────────────\nlet balances = {};\ntry {\n  const balRes = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${TT_API}/accounts/${accountNumber}/balances`,\n    headers: authHeaders,\n    ignoreHttpStatusErrors: true,\n  });\n  const b = balRes?.data || {};\n  balances = {\n    net_liquidating_value: parseFloat(b['net-liquidating-value'] || 0),\n    cash_balance: parseFloat(b['cash-balance'] || 0),\n    buying_power: parseFloat(b['derivative-buying-power'] || b['equity-buying-power'] || 0),\n    maintenance_requirement: parseFloat(b['maintenance-requirement'] || 0),\n    pending_cash: parseFloat(b['pending-cash'] || 0),\n    day_trade_buying_power: parseFloat(b['day-trade-buying-power'] || 0),\n  };\n} catch (e) {\n  balances = {};\n}\n\n// ─────────────────────────────────────────────────────────────\n// 5. FETCH LIVE ORDERS\n// ─────────────────────────────────────────────────────────────\nlet liveOrders = [];\ntry {\n  const ordRes = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${TT_API}/accounts/${accountNumber}/orders/live`,\n    headers: authHeaders,\n    ignoreHttpStatusErrors: true,\n  });\n  const rawOrders = ordRes?.data?.items || ordRes?.data || [];\n\n  liveOrders = rawOrders.map(o => ({\n    id: o.id,\n    status: o.status,\n    order_type: o['order-type'],\n    time_in_force: o['time-in-force'],\n    symbol: o['underlying-symbol'],\n    price: parseFloat(o.price || 0),\n    price_effect: o['price-effect'],\n    stop_trigger: parseFloat(o['stop-trigger'] || 0),\n    legs: (o.legs || []).map(l => ({\n      symbol: l.symbol,\n      action: l.action,\n      quantity: parseInt(l.quantity || 0),\n      remaining: parseInt(l['remaining-quantity'] || 0),\n      fills: (l.fills || []).map(f => ({\n        fill_price: parseFloat(f['fill-price'] || 0),\n        quantity: parseInt(f.quantity || 0),\n        filled_at: f['filled-at'] || ''\n      }))\n    })),\n    complex_order_id: o['complex-order-id'] || null,\n    created_at: o['received-at'] || '',\n  }));\n} catch (e) {\n  liveOrders = [];\n}\n\n// ─────────────────────────────────────────────────────────────\n// 6. GROUP POSITIONS INTO STRATEGIES (Spread detection)\n// ─────────────────────────────────────────────────────────────\nconst groupedPositions = [];\nconst optionPositions = positions.filter(p => p.instrument_type === 'Equity Option');\n\n// Group by underlying + expiration\nconst groups = {};\nfor (const pos of optionPositions) {\n  const key = `${pos.symbol}|${pos.expiration}`;\n  if (!groups[key]) groups[key] = [];\n  groups[key].push(pos);\n}\n\nfor (const [key, legs] of Object.entries(groups)) {\n  const [sym, exp] = key.split('|');\n  let strategy = 'Unknown';\n  let totalCredit = 0;\n  let totalMark = 0;\n\n  if (legs.length === 2) {\n    const hasShort = legs.some(l => l.direction === 'Short');\n    const hasLong = legs.some(l => l.direction === 'Long');\n    const allPuts = legs.every(l => l.option_type === 'Put');\n    const allCalls = legs.every(l => l.option_type === 'Call');\n\n    if (hasShort && hasLong && allPuts) strategy = 'PCS';\n    else if (hasShort && hasLong && allCalls) strategy = 'CCS';\n    else if (hasShort && hasLong) strategy = 'Vertical Spread';\n  } else if (legs.length === 4) {\n    strategy = 'IC';\n  }\n\n  for (const leg of legs) {\n    totalCredit += leg.average_open_price * Math.abs(leg.quantity) * leg.multiplier;\n    totalMark += leg.mark_price * Math.abs(leg.quantity) * leg.multiplier;\n  }\n\n  groupedPositions.push({\n    symbol: sym,\n    strategy,\n    expiration: exp,\n    quantity: Math.abs(legs[0].quantity),\n    legs: legs.map(l => ({\n      symbol: l.option_symbol,\n      strike_price: l.strike_price,\n      option_type: l.option_type,\n      direction: l.direction,\n      quantity: l.quantity,\n      action: l.direction === 'Short' ? 'Sell to Open' : 'Buy to Open',\n      close_action: l.direction === 'Short' ? 'Buy to Close' : 'Sell to Close',\n      instrument_type: 'Equity Option'\n    })),\n    credit_received: Math.abs(totalCredit).toFixed(2),\n    mark_value: totalMark.toFixed(2),\n    unrealized_pnl: (totalCredit + totalMark).toFixed(2),\n    status: 'active'\n  });\n}\n\n// ─────────────────────────────────────────────────────────────\n// 7. CALCULATE RISK METRICS\n// ─────────────────────────────────────────────────────────────\nconst totalExposure = groupedPositions.reduce((sum, p) => {\n  return sum + Math.abs(parseFloat(p.credit_received || 0));\n}, 0);\n\nconst riskBudgetUsed = balances.net_liquidating_value > 0\n  ? ((balances.maintenance_requirement / balances.net_liquidating_value) * 100).toFixed(1)\n  : 0;\n\nconst totalUnrealizedPnL = groupedPositions.reduce((sum, p) => {\n  return sum + parseFloat(p.unrealized_pnl || 0);\n}, 0);\n\n// ─────────────────────────────────────────────────────────────\n// 8. RETURN DASHBOARD-COMPATIBLE JSON\n// ─────────────────────────────────────────────────────────────\nreturn [{ json: {\n  success: true,\n  student_id: studentId,\n  student_name: studentRecord.name,\n  account_number: accountNumber,\n  last_updated: new Date().toISOString(),\n\n  // Dashboard-compatible format\n  positions: groupedPositions,\n  signals: [],  // To be populated by v3.4 push\n  risk: {\n    buying_power: `$${balances.buying_power?.toLocaleString() || 'N/A'}`,\n    net_liq: `$${balances.net_liquidating_value?.toLocaleString() || 'N/A'}`,\n    portfolio_delta: 'N/A', // Requires streaming Greeks\n    cash_balance: `$${balances.cash_balance?.toLocaleString() || 'N/A'}`,\n    maintenance_req: `$${balances.maintenance_requirement?.toLocaleString() || 'N/A'}`,\n  },\n  risk_budget_used_pct: riskBudgetUsed,\n  unrealized_pnl: totalUnrealizedPnL.toFixed(2),\n\n  // Live orders (for order status display)\n  live_orders: liveOrders,\n\n  // Raw data for advanced use\n  raw_positions: positions,\n  raw_balances: balances\n}}];\n"
      },
      "id": "code08",
      "name": "Sync Positions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        350
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "resp08",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        350
      ]
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Sync Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Sync Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Positions": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "714f1b74-8384-4c94-9eb2-03c024f4cbd7",
  "activeVersionId": "714f1b74-8384-4c94-9eb2-03c024f4cbd7",
  "versionCounter": 24,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-04-05T20:50:29.460Z",
      "createdAt": "2026-04-05T20:50:29.460Z",
      "role": "workflow:owner",
      "workflowId": "ws7E5Rq4qVAnc69s",
      "projectId": "XDZLu6ZcPKkiq9Uq",
      "project": {
        "updatedAt": "2026-03-14T06:53:51.790Z",
        "createdAt": "2026-03-14T06:53:45.726Z",
        "id": "XDZLu6ZcPKkiq9Uq",
        "name": "CHILLDOVE   <joseph010409@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-06T06:55:53.988Z",
    "createdAt": "2026-04-06T06:55:53.988Z",
    "versionId": "714f1b74-8384-4c94-9eb2-03c024f4cbd7",
    "workflowId": "ws7E5Rq4qVAnc69s",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "student-broker-dashboard",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wh08get",
        "name": "Webhook GET",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          250
        ],
        "webhookId": "student-broker-dashboard-get"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "student-broker-dashboard",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wh08post",
        "name": "Webhook POST",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          450
        ],
        "webhookId": "student-broker-dashboard-post"
      },
      {
        "parameters": {
          "jsCode": "// === CBOE Option Chain Proxy Route ===\nconst inputData = $input.first().json;\nconst action = (inputData.body?.action || inputData.query?.action || '').toLowerCase();\n\nif (action === 'cboe-proxy' || action === 'cboe') {\n  // Batch support: ?symbols=KO,JNJ,CBOE or single ?symbol=KO\n  const body = inputData.body || {};\n  const query = inputData.query || {};\n  const singleSym = (body.symbol || query.symbol || '').toUpperCase().replace(/[^A-Z,]/g, '');\n  const multiSym = (body.symbols || query.symbols || '').toUpperCase().replace(/[^A-Z,]/g, '');\n  const symbolList = (multiSym || singleSym).split(',').filter(s => s.length > 0);\n\n  if (symbolList.length === 0) {\n    return [{ json: { error: 'Missing symbol(s)', results: {} } }];\n  }\n\n  // Fetch all symbols in parallel\n  const results = {};\n  await Promise.all(symbolList.map(async (sym) => {\n    try {\n      const cboeResp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `https://cdn.cboe.com/api/global/delayed_quotes/options/${sym}.json`,\n        headers: { 'User-Agent': 'Mozilla/5.0', 'Accept': 'application/json' },\n        returnFullResponse: true,\n        ignoreHttpStatusErrors: true,\n        timeout: 15000\n      });\n      if (cboeResp.statusCode !== 200) {\n        results[sym] = { error: 'CBOE ' + cboeResp.statusCode, options: [] };\n        return;\n      }\n      const cboeData = typeof cboeResp.body === 'string' ? JSON.parse(cboeResp.body) : cboeResp.body;\n      results[sym] = {\n        count: (cboeData?.data?.options || []).length,\n        options: (cboeData?.data?.options || []).map(o => ({\n          option: o.option, bid: o.bid, ask: o.ask, delta: o.delta,\n          open_interest: o.open_interest, volume: o.volume, iv: o.iv\n        }))\n      };\n    } catch(e) {\n      results[sym] = { error: e.message, options: [] };\n    }\n  }));\n\n  // Single symbol backward compat\n  if (symbolList.length === 1) {\n    const sym = symbolList[0];\n    const r = results[sym];\n    return [{ json: { symbol: sym, count: r.count || 0, options: r.options || [], error: r.error } }];\n  }\n  return [{ json: { batch: true, symbols: symbolList, results } }];\n}\n\n// === Original WF-08 Logic Below ===\n// ============================================================\n// WF-08【持倉同步】Position Sync — Fetch from tastytrade → Serve to Dashboard\n// ============================================================\n// Two modes:\n//   A) GET  /webhook/student-dashboard?student_id=S001  (Dashboard fetch)\n//   B) POST /webhook/student-dashboard  (internal push to update cache)\n//\n// On GET: reads student's account → fetches live positions, balances,\n//         orders → returns JSON for Dashboard rendering\n// ============================================================\n\nconst TT_API = 'https://api.tastyworks.com';\nconst TT_CLIENT_ID = 'ec8b4453-d7e5-418e-8170-43e9b3e0b460';\nconst TT_CLIENT_SECRET = '<TT_CLIENT_SECRET>';\n\nlet input;\ntry {\n  const raw = $input.first().json;\n  input = raw.body || raw;\n} catch (e) {\n  return [{ json: { success: false, error: 'Input read failed: ' + e.message } }];\n}\nconst method = input.method || 'GET';\n\n// ─────────────────────────────────────────────────────────────\n// 1. RESOLVE STUDENT CREDENTIALS\n// ─────────────────────────────────────────────────────────────\n// In production, look up from Google Sheet \"students\" tab\n// For now, accept from query params or lookup table\nconst STUDENT_DB = {\n  'S001': {\n    name: '老師 (Demo)',\n    account_number: 'STUDENT_ACCOUNT',\n    refresh_token: '' // Will be set via Dashboard binding\n  }\n  // Add more students as they bind accounts\n};\n\nconst studentId = input.query?.student_id || input.student_id || 'S001';\nconst studentRecord = STUDENT_DB[studentId] || {};\n\n// Direct input overrides DB lookup\nconst accountNumber = input.account_number || studentRecord.account_number;\nconst refreshToken = input.refresh_token || studentRecord.refresh_token;\n\nif (!refreshToken || !accountNumber) {\n  return [{ json: {\n    success: false,\n    error: 'Missing refresh_token or account_number. Pass via POST body or configure in student DB.',\n    positions: [], signals: [], risk: {},\n    bind_required: true,\n    received_keys: Object.keys(input)\n  }}];\n}\n\n// ─────────────────────────────────────────────────────────────\n// 2. GET OAUTH ACCESS TOKEN\n// ─────────────────────────────────────────────────────────────\nlet accessToken;\ntry {\n  const tokenRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${TT_API}/oauth/token`,\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n      'User-Agent': 'chilldove-student-bot/1.0'\n    },\n    body: `grant_type=refresh_token&refresh_token=${encodeURIComponent(refreshToken)}&client_id=${TT_CLIENT_ID}&client_secret=${TT_CLIENT_SECRET}`,\n  });\n  accessToken = tokenRes.access_token || tokenRes['access-token'] || tokenRes.token;\n  if (!accessToken) throw new Error('No token');\n} catch (e) {\n  return [{ json: {\n    success: false,\n    error: `Auth failed: ${e.message}`,\n    positions: [], signals: [], risk: {},\n    auth_expired: true\n  }}];\n}\n\nconst authHeaders = {\n  'Authorization': `Bearer ${accessToken}`,\n  'Content-Type': 'application/json',\n  'User-Agent': 'chilldove-student-bot/1.0'\n};\n\n// ─────────────────────────────────────────────────────────────\n// 3. FETCH POSITIONS\n// ─────────────────────────────────────────────────────────────\nlet positions = [];\ntry {\n  const posRes = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${TT_API}/accounts/${accountNumber}/positions`,\n    headers: authHeaders,\n    ignoreHttpStatusErrors: true,\n  });\n  const rawPositions = posRes?.data?.items || posRes?.data || [];\n\n  positions = rawPositions.map(p => ({\n    symbol: p['underlying-symbol'] || p.symbol,\n    instrument_type: p['instrument-type'],\n    option_symbol: p.symbol,\n    quantity: parseInt(p['quantity-direction'] === 'Short' ? `-${p.quantity}` : p.quantity),\n    direction: p['quantity-direction'] || (parseInt(p.quantity) > 0 ? 'Long' : 'Short'),\n    average_open_price: parseFloat(p['average-open-price'] || 0),\n    close_price: parseFloat(p['close-price'] || 0),\n    mark_price: parseFloat(p['mark-price'] || p['mark'] || 0),\n    cost_effect: p['cost-effect'] || '',\n    unrealized_pnl: parseFloat(p['unrealized-day-gain'] || 0),\n    unrealized_pnl_pct: parseFloat(p['unrealized-day-gain-percent'] || 0),\n    multiplier: parseInt(p.multiplier || 100),\n    expiration: p['expires-at'] || '',\n    strike_price: parseFloat(p['strike-price'] || 0),\n    option_type: p['option-type'] || '', // Call or Put\n    created_at: p['created-at'] || '',\n  }));\n} catch (e) {\n  positions = [];\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4. FETCH ACCOUNT BALANCES\n// ─────────────────────────────────────────────────────────────\nlet balances = {};\ntry {\n  const balRes = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${TT_API}/accounts/${accountNumber}/balances`,\n    headers: authHeaders,\n    ignoreHttpStatusErrors: true,\n  });\n  const b = balRes?.data || {};\n  balances = {\n    net_liquidating_value: parseFloat(b['net-liquidating-value'] || 0),\n    cash_balance: parseFloat(b['cash-balance'] || 0),\n    buying_power: parseFloat(b['derivative-buying-power'] || b['equity-buying-power'] || 0),\n    maintenance_requirement: parseFloat(b['maintenance-requirement'] || 0),\n    pending_cash: parseFloat(b['pending-cash'] || 0),\n    day_trade_buying_power: parseFloat(b['day-trade-buying-power'] || 0),\n  };\n} catch (e) {\n  balances = {};\n}\n\n// ─────────────────────────────────────────────────────────────\n// 5. FETCH LIVE ORDERS\n// ─────────────────────────────────────────────────────────────\nlet liveOrders = [];\ntry {\n  const ordRes = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${TT_API}/accounts/${accountNumber}/orders/live`,\n    headers: authHeaders,\n    ignoreHttpStatusErrors: true,\n  });\n  const rawOrders = ordRes?.data?.items || ordRes?.data || [];\n\n  liveOrders = rawOrders.map(o => ({\n    id: o.id,\n    status: o.status,\n    order_type: o['order-type'],\n    time_in_force: o['time-in-force'],\n    symbol: o['underlying-symbol'],\n    price: parseFloat(o.price || 0),\n    price_effect: o['price-effect'],\n    stop_trigger: parseFloat(o['stop-trigger'] || 0),\n    legs: (o.legs || []).map(l => ({\n      symbol: l.symbol,\n      action: l.action,\n      quantity: parseInt(l.quantity || 0),\n      remaining: parseInt(l['remaining-quantity'] || 0),\n      fills: (l.fills || []).map(f => ({\n        fill_price: parseFloat(f['fill-price'] || 0),\n        quantity: parseInt(f.quantity || 0),\n        filled_at: f['filled-at'] || ''\n      }))\n    })),\n    complex_order_id: o['complex-order-id'] || null,\n    created_at: o['received-at'] || '',\n  }));\n} catch (e) {\n  liveOrders = [];\n}\n\n// ─────────────────────────────────────────────────────────────\n// 6. GROUP POSITIONS INTO STRATEGIES (Spread detection)\n// ─────────────────────────────────────────────────────────────\nconst groupedPositions = [];\nconst optionPositions = positions.filter(p => p.instrument_type === 'Equity Option');\n\n// Group by underlying + expiration\nconst groups = {};\nfor (const pos of optionPositions) {\n  const key = `${pos.symbol}|${pos.expiration}`;\n  if (!groups[key]) groups[key] = [];\n  groups[key].push(pos);\n}\n\nfor (const [key, legs] of Object.entries(groups)) {\n  const [sym, exp] = key.split('|');\n  let strategy = 'Unknown';\n  let totalCredit = 0;\n  let totalMark = 0;\n\n  if (legs.length === 2) {\n    const hasShort = legs.some(l => l.direction === 'Short');\n    const hasLong = legs.some(l => l.direction === 'Long');\n    const allPuts = legs.every(l => l.option_type === 'Put');\n    const allCalls = legs.every(l => l.option_type === 'Call');\n\n    if (hasShort && hasLong && allPuts) strategy = 'PCS';\n    else if (hasShort && hasLong && allCalls) strategy = 'CCS';\n    else if (hasShort && hasLong) strategy = 'Vertical Spread';\n  } else if (legs.length === 4) {\n    strategy = 'IC';\n  }\n\n  for (const leg of legs) {\n    totalCredit += leg.average_open_price * Math.abs(leg.quantity) * leg.multiplier;\n    totalMark += leg.mark_price * Math.abs(leg.quantity) * leg.multiplier;\n  }\n\n  groupedPositions.push({\n    symbol: sym,\n    strategy,\n    expiration: exp,\n    quantity: Math.abs(legs[0].quantity),\n    legs: legs.map(l => ({\n      symbol: l.option_symbol,\n      strike_price: l.strike_price,\n      option_type: l.option_type,\n      direction: l.direction,\n      quantity: l.quantity,\n      action: l.direction === 'Short' ? 'Sell to Open' : 'Buy to Open',\n      close_action: l.direction === 'Short' ? 'Buy to Close' : 'Sell to Close',\n      instrument_type: 'Equity Option'\n    })),\n    credit_received: Math.abs(totalCredit).toFixed(2),\n    mark_value: totalMark.toFixed(2),\n    unrealized_pnl: (totalCredit + totalMark).toFixed(2),\n    status: 'active'\n  });\n}\n\n// ─────────────────────────────────────────────────────────────\n// 7. CALCULATE RISK METRICS\n// ─────────────────────────────────────────────────────────────\nconst totalExposure = groupedPositions.reduce((sum, p) => {\n  return sum + Math.abs(parseFloat(p.credit_received || 0));\n}, 0);\n\nconst riskBudgetUsed = balances.net_liquidating_value > 0\n  ? ((balances.maintenance_requirement / balances.net_liquidating_value) * 100).toFixed(1)\n  : 0;\n\nconst totalUnrealizedPnL = groupedPositions.reduce((sum, p) => {\n  return sum + parseFloat(p.unrealized_pnl || 0);\n}, 0);\n\n// ─────────────────────────────────────────────────────────────\n// 8. RETURN DASHBOARD-COMPATIBLE JSON\n// ─────────────────────────────────────────────────────────────\nreturn [{ json: {\n  success: true,\n  student_id: studentId,\n  student_name: studentRecord.name,\n  account_number: accountNumber,\n  last_updated: new Date().toISOString(),\n\n  // Dashboard-compatible format\n  positions: groupedPositions,\n  signals: [],  // To be populated by v3.4 push\n  risk: {\n    buying_power: `$${balances.buying_power?.toLocaleString() || 'N/A'}`,\n    net_liq: `$${balances.net_liquidating_value?.toLocaleString() || 'N/A'}`,\n    portfolio_delta: 'N/A', // Requires streaming Greeks\n    cash_balance: `$${balances.cash_balance?.toLocaleString() || 'N/A'}`,\n    maintenance_req: `$${balances.maintenance_requirement?.toLocaleString() || 'N/A'}`,\n  },\n  risk_budget_used_pct: riskBudgetUsed,\n  unrealized_pnl: totalUnrealizedPnL.toFixed(2),\n\n  // Live orders (for order status display)\n  live_orders: liveOrders,\n\n  // Raw data for advanced use\n  raw_positions: positions,\n  raw_balances: balances\n}}];\n"
        },
        "id": "code08",
        "name": "Sync Positions",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          350
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "resp08",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          720,
          350
        ]
      }
    ],
    "connections": {
      "Webhook GET": {
        "main": [
          [
            {
              "node": "Sync Positions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook POST": {
        "main": [
          [
            {
              "node": "Sync Positions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sync Positions": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "CHILLDOVE  ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-06T06:55:54.206Z",
        "id": 483,
        "workflowId": "ws7E5Rq4qVAnc69s",
        "versionId": "714f1b74-8384-4c94-9eb2-03c024f4cbd7",
        "event": "activated",
        "userId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      },
      {
        "createdAt": "2026-04-06T06:55:54.094Z",
        "id": 482,
        "workflowId": "ws7E5Rq4qVAnc69s",
        "versionId": "714f1b74-8384-4c94-9eb2-03c024f4cbd7",
        "event": "deactivated",
        "userId": "d8a06e27-fb9e-46b2-b12b-04131e2d67e3"
      }
    ]
  }
}